

<p class="text-secondary m-0 opacity-50"><small><b>ПРОМОКОД</b></small></p>
<div class="d-flex justify-content-between align-items-top mb-2">
    <p id="invite_code" class="m-0 p-0">{{ invite_code }}</p>
    <button class="btn text-primary m-0 ms-3 p-0" onclick="copyInviteCode()"><span><small>Скопировать</small></span></button>
</div>
<hr class="text-black-50 m-0 mb-2">

<script>
    let code_text = document.getElementById('invite_code').innerHTML;
    const copyInviteCode = async () => {
        try {
            await navigator.clipboard.writeText(code_text);
            console.log('Скопировано в буфер обмена');
        } catch (err) {
            console.error('Ошибка копирования: ', err);
        }
    }
</script>