

<p class="text-secondary m-0 opacity-50"><small><b>ПРИГЛАСИТЕЛЬНАЯ ССЫЛКА</b></small></p>
<div class="d-flex justify-content-between align-items-top mb-2">
    <p id="invite_link" class="d-inline-block text-truncate m-0 p-0">{{ invite_link }}</p>
    <button class="btn text-primary m-0 ms-3 p-0" onclick="copyInviteLink()"><span><small>Скопировать</small></span></button>
</div>
<hr class="text-black-50 m-0 mb-2">

<script>
    let link_text = document.getElementById('invite_link').innerHTML;
    const copyInviteLink = async () => {
        try {
            await navigator.clipboard.writeText(link_text);
            console.log('Скопировано в буфер обмена');
        } catch (err) {
            console.error('Ошибка копирования: ', err);
        }
    }
</script>
