{% if not profile.is_partner %}
    <div style="padding: 0 12px 16px 12px;">
            <a href="https://lifestyleapps.ru/?utm_source=vision&utm_medium=free&utm_campaign=vision" class="text-decoration-none">
                <div class="container-fluid m-0 p-4 text-white rounded-4"
                     style="background-image: url('/static/images/blogger-2-tint.jpg');
                            background-size: cover;
                            background-position: center;">
                    <p class="fs-5 mb-3 lh-sm">Получайте дополнительный доход вместе с приложением ВИЖН!</p>
                    <p class="mb-0">Узнать подробности</p>
                </div>
            </a>
    </div>
{% endif %}
