{% load static %}

{% if profile.show_partnership_notification %}

    <!--1. ПРИВЕТСТВИЕ-->
    <div class="modal fade" id="partnership_modal_1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Добро пожаловать!</h4>
                    <img src="{% static 'images/partnership_1.png' %}" class="rounded-4 w-100 mb-3">
                    <p class="mb-2">Добрый день, {{ profile }}!</p>
                    <p class="mb-4">Приветствуем вас в партнерской программе приложения ВИЖН.</p>

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white">
                        <button class="btn btn-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#partnership_modal_2">Далее</button>
                        <p class="text-black-50 m-0 p-0">1/5</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--2. ИНВАЙТЫ-->
    <div class="modal fade" id="partnership_modal_2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Инвайты</h4>
                    <img src="{% static 'images/partnership_2.png' %}" class="rounded-4 w-100 mb-3">
                    <p class="mb-2">Рассказывайте в своём контенте о том, как вы используете приложение ВИЖН, и размещайте ваши партнерские инвайты.</p>
                    <p class="mb-4">Используя инвайты ваши подписчики получат скидку на регистрацию в приложении.</p>

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white">
                        <div>
                            <button class="btn btn-outline-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#partnership_modal_1">Назад</button>
                            <button class="btn btn-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#partnership_modal_3">Далее</button>
                        </div>
                        <p class="text-black-50 m-0 p-0">2/5</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--3. ВОЗНАГРАЖДЕНИЕ-->
    <div class="modal fade" id="partnership_modal_3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Вознаграждение</h4>
                    <img src="{% static 'images/partnership_3.png' %}" class="rounded-4 w-100 mb-3">
                    <p class="mb-2">Ваше партнерское вознаграждение составляет 40% от стоимости покупок вовлеченных вами пользователей.</p>
                    <p class="mb-4">Выплата партнерского вознаграждения осуществляется с 1 по 5 число текущего месяца за прошедший.</p>

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white">
                        <div>
                            <button class="btn btn-outline-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#partnership_modal_2">Назад</button>
                            <button class="btn btn-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#partnership_modal_4">Далее</button>
                        </div>
                        <p class="text-black-50 m-0 p-0">3/5</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--4. ОТЗЫВ-->
    <div class="modal fade" id="partnership_modal_4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Оценка и отзыв</h4>
                    <img src="{% static 'images/partnership_4.png' %}" class="rounded-4 w-100 mb-3">
                    <p class="mb-2">Просим вас поставить оценку приложению и написать отзыв. </p>
                    <p class="mb-4">Отзывы увеличивают доверие пользователей к продукту, а следовательно и общий уровень продаж.</p>

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white">
                        <div>
                            <button class="btn btn-outline-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#partnership_modal_3">Назад</button>
                            <button class="btn btn-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#partnership_modal_5">Далее</button>
                        </div>
                        <p class="text-black-50 m-0 p-0">4/5</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--5. ВОПРОСЫ-->
    <div class="modal fade" id="partnership_modal_5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Вопросы</h4>
                    <img src="{% static 'images/partnership_5.png' %}" class="rounded-4 w-100 mb-3">
                    <p class="mb-2">Если в процессе партнерского взаимодействия у вас возникнут вопросы, направляйте их на почтовый ящик <a href="mailto:mail@lifestyleapps.ru" class="text-decoration-none">mail@lifestyleapps.ru</a></p>
                    <p class="mb-4">Желаем вам успехов!</p>

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white mt-4">
                        <div>
                            <button class="btn btn-outline-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#partnership_modal_4">Назад</button>
                            <a href="{{ profile.get_partnership_notification_close_url }}" style="text-decoration-none">
                                <button class="btn btn-primary" style="height: 3rem;">Закрыть</button>
                            </a>
                        </div>
                        <p class="text-black-50 m-0 p-0">5/5</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener('load', function () {
            const elemModal = document.querySelector('#partnership_modal_1');
            const modal = new bootstrap.Modal(elemModal);
            modal.show();
        });
    </script>

{% endif %}
