{% extends 'template__wish.html' %}
{% load static %}

{% block title %}Последователи{% endblock %}

{% block main %}
    <!--НАЗАД-->
    <div class="d-flex flex-row justify-content-between">
        <a href="{% url 'partnership_page' %}" class="text-decoration-none">
            <div style="padding: 16px 12px 16px 12px;">
                <div style="height: 24px;">
                    {% include "icons/arrow_back.html" with status="PRIMARY"%}
                </div>
            </div>
        </a>
    </div>
    <div class="container-fluid m-0 p-3">
        <!--ЗАГОЛОВОК-->
        <div class="d-flex justify-content-between align-items-start mb-4">
            <h2 class="m-0 p-0 w-100"><b>Вовлеченные пользователи</b></h2>
            <h2 class="m-0 p-0"><b>{{ followers_count }}</b></h2>
        </div>
        <!--ТАБЛИЦА-->
        {% for follower in followers %}
            <div class="d-flex justify-content-between align-items-center mb-3">
                <img src="{{ follower.get_userpic_url }}" class="rounded-circle" width="42" height="42">
                <div class="d-flex justify-content-between align-items-center w-100 ms-3">
                    <p class="m-0 p-0 w-100">{{ follower }}</p>
                    <div class="d-flex justify-content-end align-items-center">
                        {% if follower.subscription.is_active %}
                        <button class="btn btn-sm btn-light rounded-2 ms-3" style="background-color: #eeeeee;" disabled>
                            <i class="bi bi-currency-dollar"></i>
                        </button>
                        {% if follower.subscription.autopay %}
                            <button class="btn btn-sm btn-light rounded-2 ms-2" style="background-color: #eeeeee;" disabled>
                                <i class="bi bi-arrow-repeat"></i>
                            </button>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <!--ЛЕГЕНДА-->
        <hr class="text-black-50">
        <div class="d-flex justify-content-start align-items-center mb-2">
            <button class="btn btn-sm btn-light rounded-2" style="background-color: #eeeeee;" disabled>
                <i class="bi bi-currency-dollar"></i>
            </button>
            <span class="m-0 p-0 text-secondary"><small><i>&nbsp;–&nbsp;совершил покупку</i></small></span>
        </div>
        <div class="d-flex justify-content-start align-items-center mb-3">
            <button class="btn btn-sm btn-light rounded-2" style="background-color: #eeeeee;" disabled>
                <i class="bi bi-arrow-repeat"></i>
            </button>
            <span class="m-0 p-0 text-secondary"><small><i>&nbsp;–&nbsp;оформил подписку</i></small></span>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
