{% extends 'template__wish.html' %}
{% load static %}

{% block title %}Бизнес{% endblock %}

{% block main %}
    <div class="d-flex flex-row justify-content-between">
        {% include 'button__back_to_homepage.html' %}
    </div>
    <div class="container-fluid m-0 p-3">
        <p class="text-black-50 m-0 p-0 opacity-75"><small><b>ПАРТНЕРСКАЯ ПРОГРАММА</b></small></p>
        <div class="d-flex flex-row justify-content-between align-items-center mb-4">
            <h1 class="m-0 p-0"><b>{{ profile.active_month_start_date|date:"F Y" }}</b></h1>
            <div class="d-flex justify-content-end align-items-center">
                <!--НАЗАД-->
                {% if show_set_last_month_button %}
                    <a href="{% url 'set_last_month' %}" class="text-decoration-none">
                        <div class="m-0 pe-1">
                            <button class="btn btn-sm btn-outline-primary"><i class="bi bi-arrow-left"></i></button>
                        </div>
                    </a>
                {% else %}
                    <div class="m-0 pe-1">
                        <button class="btn btn-sm btn-outline-primary disabled"><i class="bi bi-arrow-left"></i></button>
                    </div>
                {% endif %}
                <!--ВПЕРЕД-->
                {% if show_set_next_month_button %}
                    <a href="{% url 'set_next_month' %}" class="text-decoration-none">
                        <div class="m-0">
                            <button class="btn btn-sm btn-outline-primary"><i class="bi bi-arrow-right"></i></button>
                        </div>
                    </a>
                {% else %}
                    <div class="m-0">
                        <button class="btn btn-sm btn-outline-primary disabled"><i class="bi bi-arrow-right"></i></button>
                    </div>
                {% endif %}
            </div>
        </div>

        <!--ПОЛЬЗОВАТЕЛИ-->
        {% if month_type != 2  %}
            <h2 class="fs-5"><b>Пользователи</b></h2>
            <hr class="text-black-50 m-0 mb-2 p-0">
        {% endif %}
        {% if month_type == 0  %}
            <div class="d-flex justify-content-between align-items-start mb-4">
                <p class="m-0 p-0">Вовлечено пользователей</p>
                <p class="m-0 p-0 ms-3">{{ current_month_followers_count }}</p>
            </div>
        {% endif %}
        {% if month_type == 1 %}
            <div class="d-flex justify-content-between align-items-start mb-2">
                <p class="m-0 p-0">Вовлечено пользователей</p>
                <p class="m-0 p-0 ms-3">{{ current_month_followers_count }}</p>
            </div>
            <div class="d-flex justify-content-between align-items-start mb-2">
                <p class="m-0 p-0">Совершили покупку</p>
                <p class="m-0 p-0 ms-3">{{ current_month_purchased_followers_count }}</p>
            </div>
            <div class="d-flex justify-content-between align-items-start mb-2">
                <p class="m-0 p-0">Оформили подписку</p>
                <p class="m-0 p-0 ms-3">{{ current_month_autopay_followers_count }}</p>
            </div>
            <hr class="text-black-50 m-0 mb-2 p-0">
            <div class="d-flex justify-content-between align-items-start mb-2">
                <a href="{% url 'followers_page' %}" class="text-decoration-none">
                    <p class="m-0 p-0">Общее количество вовлеченных пользователей</p>
                </a>
                <p class="m-0 p-0 ms-3 text-nowrap">{{ followers_count }}</p>
            </div>
            <div class="d-flex justify-content-between align-items-start mb-4">
                <p class="m-0 p-0">Общее количество подписчиков</p>
                <p class="m-0 ms-3 p-0 text-nowrap">{{ autopay_followers_count }}</p>
            </div>
        {% endif %}

        <!--ФИНАНСЫ-->
        <h2 class="fs-5"><b>Финансы</b></h2>
        <hr class="text-black-50 m-0 mb-2 p-0">
        <!--ПРОШЛЫЙ МЕСЯЦ-->
        {% if month_type == 0 %}
            <div class="d-flex justify-content-between align-items-start mb-2">
                <p class="m-0 p-0">Сумма продаж</p>
                <p class="m-0 p-0 ms-3 text-nowrap">{{ paid_amount }} ₽</p>
            </div>
            <hr class="text-black-50 m-0 mb-2 p-0">
            <div class="d-flex justify-content-between align-items-start mb-4">
                <div>
                    <p class="m-0 p-0">Партнерское вознаграждение</p>
                    <p class="m-0 p-0 text-black-50"><small><i>40% от суммы продаж</i></small></p>
                </div>
                <p class="m-0 p-0 ms-3 text-nowrap">{{ salary }} ₽</p>
            </div>
        {% endif %}
        <!--ТЕКУЩИЙ МЕСЯЦ-->
        {% if month_type == 1 %}
            <div class="d-flex justify-content-between align-items-start mb-2">
                <p class="m-0 p-0">Сумма продаж на сегодня</p>
                <p class="m-0 p-0 ms-3 text-nowrap">{{ paid_amount }} ₽</p>
            </div>
            <div class="d-flex justify-content-between align-items-start mb-2">
                <p class="m-0 p-0">Планируемый итог месяца</p>
                <p class="m-0 p-0 ms-3 text-nowrap">{{ month_result }} ₽</p>
            </div>
            <hr class="text-black-50 m-0 mb-2 p-0">
            <div class="d-flex justify-content-between align-items-start mb-4">
                <div>
                    <p class="m-0 p-0">Планируемое партнерское вознаграждение</p>
                    <p class="m-0 p-0 text-black-50"><small><i>40% от суммы продаж</i></small></p>
                </div>
                <p class="m-0 p-0 ms-3 text-nowrap">{{ salary }} ₽</p>
            </div>
        {% endif %}
        <!--БУДУЩИЙ МЕСЯЦ-->
        {% if month_type == 2 %}
            <div class="d-flex justify-content-between align-items-start mb-2">
                <p class="m-0 p-0">Планируемые продажи</p>
                <p class="m-0 p-0 ms-3 text-nowrap">{{ month_result }} ₽</p>
            </div>
            <hr class="text-black-50 m-0 mb-2 p-0">
            <div class="d-flex justify-content-between align-items-start mb-4">
                <div>
                    <p class="m-0 p-0">Партнерское вознаграждение</p>
                    <p class="m-0 p-0 text-black-50"><small><i>40% от суммы продаж</i></small></p>
                </div>
                <p class="m-0 p-0 ms-3 text-nowrap">{{ salary }} ₽</p>
            </div>
        {% endif %}

        <h2 class="fs-5"><b>Инвайты</b></h2>
        <hr class="text-black-50 m-0 mb-2 p-0">
        {% include 'app_partners/block__invite_link.html' %}
        {% include 'app_partners/block__invite_code.html' %}
        <p class="m-0 p-0 text-secondary"><i><small>Разместите пригласительную ссылку или промокод в вашем контенте, и ваши последователи смогут воспользоваться следующими предложениями:</small></i></p>
        <ul class="mb-4">
            <li class="m-0 p-0 text-secondary"><i><small>Скидка 75% на регистрацию по тарифу "Ежемесячный"</small></i></li>
            <li class="m-0 p-0 text-secondary"><i><small>Скидка 25% на регистрацию по тарифу "Вечный"</small></i></li>
        </ul>
        <p class="m-0 p-0 text-secondary mb-4"><i><small>В случае возникновения любых вопросов обращайтесь по адресу <a href="mailto:mail@lifestyleapps.ru" class="text-decoration-none">mail@lifestyleapps.ru</a></small></i></p>
        <p class="m-0 p-0 text-secondary mb-4"><i><small>Используя партнерскую программу приложения ВИЖН вы соглашаетесь с <a href="#distribution_dialogue" class="text-decoration-none" data-bs-toggle="offcanvas">Политикой дитрибуции</a> и <a href="#policy_dialogue" class="text-decoration-none" data-bs-toggle="offcanvas">Политикой конфиденциальности</a>.</small></i></p>
        {% include 'app_users/dialogue__distribution.html' %}
        {% include 'app_users/dialogue__policy.html' %}
    </div>

    {% include 'app_partners/modal__partnership.html' %}

{% endblock %}

{% block footer %}
{% endblock %}
