<div style="padding: 0 12px 16px 12px;">
    <div class="justify-content-center">
        <!--ИМЯ-->
        <a class="text-decoration-none text-black" href="#username_edit_dialogue" data-bs-toggle="offcanvas">
            <h4 class="text-center m-0 p-0">{{ profile }}</h4>
        </a>
    </div>
    <hr class="text-black-50" style="margin: 16px 0 0 0;">
</div>
{% include 'app_users/dialogue__username_edit.html' %}
