{% if profile.subscription.is_active %}
    <div style="padding: 0 12px 16px 12px;">
        <p class="mb-1 text-secondary opacity-75"><small>ПАРТНЕРСТВО</small></p>
        <!--<div class="d-flex justify-content-between align-items-top mb-3">-->
            <p class="mb-2">Вам нравится ежедневно использовать ВИЖН-карту и рассказывать о ней своим друзьям!</p>
            <p class="mb-2">Значит мы можем стать партнерами!</p>
            <p>Отправьте письмо с запросом на <a href="mailto:izobov@mail.ru" class="text-decoration-none text-primary">izobov@mail.ru</a> и мы пришлем вам условия.</p>
        <!--</div>-->
        <hr class="text-black-50" style="margin: 16px 0 0 0;">
    </div>
{% endif %}

