{% load static %}

<div style="padding: 0 12px 16px 12px;">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h4 class="m-0 p-0">Режим вижн-карты</h4>
        <a href="{% url 'change_wishmap_mode' %}" class="text-decoration-none">
            {% if profile.visionmap_mode %}{% include 'svg/switch.html' with status='ON' %}
            {% else %}{% include 'svg/switch.html' with status='OFF' %}
            {% endif %}
        </a>
    </div>
    <p class="mb-3">В режиме вижн-карты вы сможете глубже проработать ваши желания, что кратно увеличит качество работы вашего подсознания по их реализации</p>
    <hr class="text-black-50 m-0 p-0">
</div>

<!--change_wishmap_mode-->