
<!--УСТАНОВКА НА АЙФОН-->
<div class="d-flex flex-row justify-content-between align-items-center p-0">
    <p class="m-0 p-0 w-100"><b>Установка на айфон</b></p>
    <a href="#iphone" class="text-decoration-none" data-bs-toggle="collapse" style="height: 24px;">
        <span class="material-symbols-outlined text-secondary ms-2">expand_more</span>
    </a>
</div>
<!--КОНТЕНТ АЙФОН-->
<div class="collapse p-3 ps-0" id="iphone">
    <a href="https://youtube.com/shorts/9XxuYkTrsUg"><p class="mb-3">Ссылка на видеоинструкцию</p></a>
    <p class="mb-2">1. Откройте сайт <span class="text-primary">картажеланий.рф</span> в браузере <span class="text-primary">Safari</span></p>
    <p class="mb-2">2. Нажмите <i class="bi bi-upload text-primary"></i> внизу экрана</p>
    <p class="mb-2">3. Выберите пункт <span class="text-primary"><i class="bi bi-plus-square"></i> На экран "Домой"</p>
    <p class="mb-2">4. Нажмите кнопку <span class="text-primary">Добавить</span> в правом верхнем углу окна</p>
    <p class="mb-0">5. Приложение установлено</p>
</div>
<hr class="text-black-50">

<!--УСТАНОВКА НА АНДРОИД-->
<div class="d-flex flex-row justify-content-between align-items-center p-0">
    <p class="m-0 p-0 w-100"><b>Установка на андроид</b></p>
    <a href="#android" class="text-decoration-none" data-bs-toggle="collapse" style="height: 24px;">
        <span class="material-symbols-outlined text-secondary ms-2">expand_more</span>
    </a>
</div>
<!--КОНТЕНТ АНДРОИД-->
<div class="collapse p-3 ps-0" id="android">
    <a href="https://youtube.com/shorts/Of3cKCJb9kU"><p class="mb-3">Ссылка на видеоинструкцию</p></a>
    <p class="mb-2">1. Откройте сайт <span class="text-primary">картажеланий.рф</span> в браузере <span class="text-primary">Chrome</span></p>
    <p class="mb-2">2. Нажмите <i class="bi bi-three-dots-vertical text-primary"></i> в правом верхнем углу экрана</p>
    <p class="mb-2">3. Выберите пункт <span class="text-primary"> Установить приложение</p>
    <p class="mb-2">4. Нажмите кнопку <span class="text-primary">Установить</span></p>
    <p class="mb-0">5. Приложение установлено</p>
</div>
<hr class="text-black-50">

<!--УСТАНОВКА НА КОМПЬЮТЕР-->
<div class="d-flex flex-row justify-content-between align-items-center p-0">
    <p class="m-0 p-0 w-100"><b>Установка на компьютер</b></p>
    <a href="#computer" class="text-decoration-none" data-bs-toggle="collapse" style="height: 24px;">
        <span class="material-symbols-outlined text-secondary ms-2">expand_more</span>
    </a>
</div>
<!--КОНТЕНТ КОМПЬЮТЕР-->
<div class="collapse p-3 ps-0" id="computer">
    <a href="https://youtu.be/G_XatYv4Ki8"><p class="mb-3">Ссылка на видеоинструкцию</p></a>
    <p class="mb-2">1. Откройте сайт <span class="text-primary">картажеланий.рф</span> в браузере <span class="text-primary">Chrome</span></p>
    <p class="mb-2">2. Нажмите <i class="bi bi-three-dots-vertical text-primary"></i> в правом верхнем углу экрана</p>
    <p class="mb-2">3. Выберите пункт <span class="text-primary"> Установить приложение "ВИЖН"</p>
    <p class="mb-2">4. Нажмите кнопку <span class="text-primary">Установить</span></p>
    <p class="mb-0">5. Приложение установлено</p>
</div>