{% load static %}

<div style="padding: 0 12px 16px 12px;">
    <p class="mb-3 text-secondary opacity-75"><small>ССЫЛКИ</small></p>

    <!--ТЕЛЕГРАМ-->
    <a href="https://t.me/vizionmap" class="text-decoration-none text-primary">
        <div class="d-flex justify-content-start align-items-center mb-3">
            <img src="{% static '/PWA/icons/icon-192x192.png' %}" class="rounded-circle text-decoration-none" style="width: 3rem; height: 3rem;">
            <div class="ms-3">
                <p class="mb-0 text-black-50"><small>телеграм-канал приложения</small></p>
                <p class="m-0 p-0 pb-1 text-dark">ВИЖН</p>
            </div>
        </div>
    </a>

    <!--ИНСТАГРАМ-->
    <a href="https://instagram.com/izob.vision" class="text-decoration-none text-primary">
        <div class="d-flex justify-content-start align-items-center mb-3">
            <img src="{% static '/images/instagram.png' %}" class="rounded-circle text-decoration-none" style="width: 3rem; height: 3rem;">
            <div class="ms-3">
                <p class="mb-0 text-black-50"><small>instagram</small></p>
                <p class="m-0 p-0 pb-1 text-dark">izob.vision</p>
            </div>
        </div>
    </a>

    <!--ЮТУБ-->


    <hr class="text-black-50" style="margin: 16px 0 0 0;">


</div>







