{% load static %}

<div style="padding: 0 12px 16px 12px;">
    <div class="d-flex justify-content-center">
        <a type="button" data-bs-toggle="offcanvas" data-bs-target="#userpic_edit_dialogue">
            <img src="{{ profile.get_userpic_url }}" class="rounded-circle" style="width: 160px; height: 160px;">
        </a>
    </div>
</div>
{% include 'app_users/dialogue__userpic_edit.html' %}
