<div style="padding: 0 12px 0px 12px;">
    <a class="text-decoration-none text-dark" data-bs-toggle="offcanvas" data-bs-target="#feedback_dialogue">

        <p class="mb-1 text-secondary opacity-75"><small>ВАША ОЦЕНКА И ОТЗЫВ</small></p>
        {% if profile.feedback_value == 0 %}
            <div class="d-flex justify-content-between align-items-top mb-2">
                <p class="m-0 p-0">Пожалуйста оцените приложение и оставьте отзыв</p>
            </div>
        {% else %}
            <div class="d-flex justify-content-between align-items-top mb-2">
                <p class="m-0 p-0">{{ profile.feedback_text }}</p>
            </div>
        {% endif %}
        <div class="d-flex justify-content-start align-items-start mb-3">
            {% if profile.feedback_value == 0 %}
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
            {% elif profile.feedback_value == 1 %}
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
            {% elif profile.feedback_value == 2 %}
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
            {% elif profile.feedback_value == 3 %}
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
            {% elif profile.feedback_value == 4 %}
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="LIGHT" %}</span>
            {% elif profile.feedback_value == 5 %}
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
                <span>{% include "icons/star.html" with status="WARNING" %}</span>
            {% endif %}
        </div>
    </a>
</div>

{% include 'app_users/dialogue__feedback.html' %}
