<div style="padding: 0 12px 16px 12px;">
    <p class="mb-1 text-secondary opacity-75"><small>АККАУНТ</small></p>
    <div class="d-flex justify-content-between align-items-top mb-3">
        <span>{{ user.username }}</span>
        <a href="{% url 'password_change' %}" class="text-decoration-none text-primary"><span><small>Изменить пароль</small></span></a>
    </div>
    <hr class="text-black-50" style="margin: 16px 0 0 0;">
</div>


