{% load static %}

<a href="#ask_a_question_dialogue" class="text-decoration-none" data-bs-toggle="offcanvas">
    <button type="button" class="btn btn-outline-primary w-100 mb-3" style="height: 3rem; border-radius: 0.5rem;">
        Задать вопрос
    </button>
</a>

{% include 'app_users/dialogue__ask_a_question.html' %}
