{% load static %}

<div style="padding: 0 12px 16px 12px;">
    <a href="#app_install_dialogue" class="text-decoration-none" data-bs-toggle="offcanvas">
        <button type="button" class="btn btn-outline-primary w-100 mb-3" style="height: 3rem; border-radius: 0.5rem;">
            Установка приложения
        </button>
    </a>
</div>
{% include 'app_users/dialogue__app_install.html' %}
