{% load static %}

<div class="d-flex flex-row align-items-center position-relative mb-4">

    <!--Аватар-->
    <div class="d-inline-flex me-3">
        <a class="stretched-link" href="{% url 'user_profile' %}">
            <img src="{{ userprofile.get_userpic_url }}" class="rounded-circle" width="64" height="64">
        </a>
    </div>

    <!--Текст-->
    <div>
        <p class="m-0">Привет 👋</p>
        <h3 class="fw-normal">{{ userprofile }}</h3>
    </div>

</div>
