{% load static %}

<div class="d-flex flex-row align-items-center position-relative mb-3">

    <!--Аватар-->
    <div class="d-inline-flex me-3">
        <a class="stretched-link" href="{% url 'user_profile' %}">
            <img src="{{ referral.get_userpic_url }}" class="rounded-circle" width="48" height="48">
        </a>
    </div>

    <!--Текст-->
    <div>
        <p class="m-0 p-0">{{ referral }}</p>
    </div>

</div>
