{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="userpic_edit_dialogue"
{% endblock %}

{% block dialogue_title %}
    Загрузка изображения
{% endblock %}

{% block dialogue_body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ userpic_form.as_p }}
        <div class="mb-3"></div>
        <div class="d-flex flex-row justify-content-between align-items-center">
            {% if profile.userpic %}
                <a href="{{ profile.get_userpic_delete_url }}" class="text-decoration-none">
                    <button type="button" class="btn btn-danger me-2" style="height: 3rem; width: 3rem;">
                        {% include 'svg/delete.html' with status='WHITE' %}
                    </button>
                </a>
            {% endif %}
            <input type="submit" class="btn btn-primary w-100" name="userpic_save" value="Сохранить" style="height: 3rem;">
            <button type="button" class="btn btn-light text-primary ms-1" data-bs-dismiss="offcanvas" style="height: 3rem;">Закрыть</button>
        </div>
    </form>
{% endblock %}
