{% extends 'template__dialogue.html' %}
{% load static %}

{% block dialogue_id %}
    id="ask_a_question_dialogue"
{% endblock %}

{% block dialogue_title %}
    Задать вопрос
{% endblock %}

{% block dialogue_body %}
    <div class="d-flex flex-row align-items-start position-relative mb-4">
        <div class="d-inline-flex mt-1">
            <a class="stretched-link" href="https://t.me/vizionmap">
                <img src="{% static '/images/tg-min.png' %}" class="rounded-circle" width="56" height="56">
            </a>
        </div>
        <div class="ms-3">
            <p class="m-0 mb-2 p-0">Ответы на вопросы публикуются телеграм-канале "ВИЖН"</p>
            <p class="p-0 m-0 text-primary">t.me/vizionmap</p>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ question_form.as_p }}
        <div class="mb-3"></div>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <input type="submit" class="btn btn-primary w-100" name="ask_a_question" value="Отправить" style="height: 3rem;">
            <button type="button" class="btn btn-light ms-1" data-bs-dismiss="offcanvas" style="height: 3rem;">Закрыть</button>
        </div>
    </form>
{% endblock %}
