{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="policy_dialogue"
{% endblock %}

{% block dialogue_title %}
    Политика конфиденциальности
{% endblock %}

{% block dialogue_body %}
<h3>1. Политика конфиденциальности</h3>
<p>Настоящая Политика конфиденциальности (в дальнейшем — Политика конфиденциальности) определяет обязанности
  Администратора по неразглашению и обеспечению защиты конфиденциальности персональных данных, которые Пользователь
  предоставляет по запросу Администрации во время регистрации на Платформе картажеланий.рф (в дальнейшем — Платформа).</p>
<p>Политика конфиденциальности относится ко всей информации, которую Платформа может собирать о пользователе при
  использовании Платформы. Зарегистрировавшись на Платформе, Пользователь соглашается со всеми условиями Политики
  конфиденциальности.</p>
<p>Политика конфиденциальности может быть изменена Администрацией без предварительного уведомления Пользователя.
  Действующая редакция Политики конфиденциальности всегда располагается в сети Интернет по адресу:
  https://картажеланий.рф</p>

<h3>2. Персональные данные Пользователя</h3>
<p>2.1. Общие положения</p>
<p>При регистрации Пользователь предоставляет Администрации персональные данные, включая имя, фамилию и адрес
  электронной почты. Платформа может автоматически или с участием Пользователя собирать дополнительную информацию,
  включая IP-адрес, версию браузера, страну, язык, параметры utm, теги партнера, адрес страницы, с которой Пользователь
  произвел переход на Платформу, и другие технические данные, которые могут использоваться для идентификации
  Пользователя без применения дополнительных мер.</p>
<p>У Пользователя может быть запрошено разрешение на предоставление доступа к учетным записям сторонних Сервисов,
  включая, среди прочего, общедоступное хранилище файлов, службу мгновенных сообщений, социальные сети и т. д., для
  того, чтобы использовать возможности Платформы в полном объёме. В этом случае Платформа может получать от третьих лиц
  дополнительные персональные данные, включая, но не ограничиваясь, пол, возраст, местоположение, аватар пользователя и
  т. д. Вся информация, доступная через стороннего поставщика услуг, обрабатывается и хранится в соответствии с
  Пользовательским соглашением и Политикой конфиденциальности.</p>
<p>2.2. Политика оплаты</p>
<p>Оплата Тарифа, в соответствии с которым Пользователь использует сервисы Платформы, осуществляется посредством
  использования одной из платежных систем: Yookassa, PayPal, CloudPayments. Указанные платежные системы собирают и
  хранят финансовую информацию в соответствии с их Пользовательским соглашением и Политикой конфиденциальности.</p>
<p>Администрация не хранит полные реквизиты карты и не обрабатывает платежи, получая от платежной системы лишь
  уведомление о факте успешной оплаты.</p>
<p>В процессе получения оплаты Тарифа Администрация может собирать дополнительную информацию, относящуюся к платежу,
  осуществляемому Пользователем, включая, среди прочего, номер транзакции, время транзакции, тип и срок действия карты,
  используемой для платежей, а также последние четыре цифры номера карты, имя владельца карты, страну и город, в которых
  произошло списание денежных средств с карты.</p>
<p>2.3. Персональные данные, запрашиваемые сторонними сервисами</p>
<p>Для использования различных сервисов Платформы, от Пользователя может потребоваться предоставление доступа к учетным
  записям сторонних поставщиков услуг, включая, среди прочего, общедоступное хранилище файлов, службу обмена мгновенными
  сообщениями, социальные сети и т. д. В этом случае Администрация может получать от третьих лиц дополнительные
  персональные данные, включая, в частности, пол, местоположение, аватар пользователя (userpic) и т. д. Вся информация,
  доступная через стороннего поставщика услуг, обрабатывается и хранится в соответствии с Пользовательским соглашением и
  Политикой конфиденциальности.</p>
<p>2.4. Логирование действий</p>
<p>При выполнении Пользователем действий в личном аккаунте в целях безопасности и для предупреждения мошеннических
  действий логируется следующая активность: дата и время факта авторизации, дата и время факта создания Контента, дата и
  время факта удаления Контента, дата и время факта изменения логина и пароля.</p>

<h3>3. Способы сбора персональных данных</h3>
<p>Основные способы, которыми Администрация получает персональные данные от Пользователя:</p>
<p>а) Пользователь предоставляет персональные данные напрямую (например, при регистрации или при использовании платежной
  системы).</p>
<p>б) Персональные данные собираются автоматически, когда Пользователь просматривает или использует Платформу, например
  с помощью cookie-файлов (подробнее об этом в Политике использования cookie-файлов).</p>
<p>в) Пользователь может по своей воле предоставлять персональные данные при подключении и использовании сторонних
  сервисов, интегрированных в Платформу.</p>

<h3>4. Использование персональных данных</h3>
<p>Администрация может использовать персональные данные, предоставленные ей Пользователем, для:</p>
<p>а) Создания Аккаунта и Личного кабинета Пользователя для работы с Платформой.</p>
<p>б) Осуществления клиентского сервиса и технической поддержки.</p>
<p>в) Отправки уведомлений по почте, таких как: подтверждение регистрации, напоминание и предупреждение о предстоящем
  или совершенном платеже, активации пробного периода и уведомление о его окончании, отправка жалоб, уведомления о
  существенных изменениях в клиентском сервисе. Данные сообщения носят обязательный технический характер и не могут быть
  отменены для действующего аккаунта.</p>
<p>г) Отправки по почте обучающих материалов по использованию Платформы и ежемесячных информационных сообщений о
  новостях, связанных с функционированием Платформы. Для отказа от получения данных сообщений, необходимо выполнить
  инструкцию по отказу от подписки, которая содержится в каждом полученном сообщении.</p>
<p>д) Предоставления индивидуально настроенного сервиса. Например, определение местоположения и языка браузера
  используется для установки языка интерфейса Платформы.</p>
<p>е) Продвижения и рекламы. В зависимости от того, как Пользователь взаимодействует с Платформой, ему могут
  отправляться индивидуальные маркетинговые сообщения о продуктах и услугах, а также информация о взаимодействии с
  Платформой, что позволяет корректировать рекламные кампании, например, не показывать рекламу в социальных сетях тем,
  кто уже является пользователем Платформы.</p>
<p>ж) Интеграции сторонних сервисов, обеспечивающих работу дополнительных функций сайта Пользователя, добавленных
  Пользователем добровольно и самостоятельно.</p>
<p>з) Улучшения работы Платформы и предоставления более качественных услуг. Статистика и анализ использования функций
  Платформы позволяет определять приоритеты в дальнейшем развитии. Как правило, для этих целей используется
  неперсонализированная, обобщенная информация.</p>

<h3>5. Передача персональных данных третьим лицам</h3>
<p>У Пользователя могут быть запрошены персональные данные и иная информация третьими лицами, например, когда необходимо
  совершить платеж, или добавить дополнительные функции, используя сторонние сервисы, интегрированные с Платформой.
  Пользователь добровольно передает персональные данные и иную информацию. Все персональные данные, запрашиваемые
  третьими лицами, должны быть обработаны и храниться в соответствии с с Пользовательским соглашением и Политикой
  конфиденциальности указанных третьих лиц.</p>
<p>Администрация может передавать персональные данные поставщикам, которые оказывают услуги от имени Администрации.
  Например, Администрация может привлекать третьих лиц для обеспечения поддержки клиентов, управления объявлениями на
  сторонних ресурсах, отправления маркетинговых и иных сообщений от имени Администрации или оказания помощи в хранении
  данных. Указанным третьим лицам запрещено использовать персональные данные Пользователей для рекламных целей.</p>
<p>Администрация может раскрывать персональные данные Пользователя в рамках закона или для защиты прав и интересов, если
  такое раскрытие является необходимым для соблюдения закона или предотвращения мошенничества. В частности,
  Администрация может раскрыть персональные данные Пользователя в ответ на официальные запросы со стороны
  государственных органов или в случае получения жалобы на Пользователя в связи с нарушением прав третьих лиц и/или
  Пользовательского соглашения по основаниям, предусмотренным законом.</p>
<p>Администрация может обмениваться персональными данными с третьими лицами, с целью предоставления Пользователю
  таргетированной рекламы, анализа и контроля ее эффективности. Например, Администрация может использовать зашифрованный
  адрес электронной почты для настройки рекламы в социальной сети, чтобы не показывать рекламу лицам, которые уже
  являются Пользователями Платформы.</p>

<h3>6. Хранение информации</h3>
<p>Обработка и хранение персональных данных Пользователя осуществляется на законных основаниях в течение времени
  существования аккаунта Пользователя. В случае удаления аккаунта возможно сохранение части информации в той мере, в
  которой это необходимо для исполнения юридических обязательств, урегулирования споров, предотвращения мошенничества и
  защиты законных интересов Администрации.</p>
<p>Администрация принимает все необходимые технические и организационные меры предосторожности для защиты персональных
  данных пользователя от несанкционированного или случайного доступа, удаления или изменения, блокировки, копирования,
  разглашения или других несанкционированных действий третьих лиц.</p>
<p>В случае потери или разглашения персональных данных Пользователя администрация уведомляет Пользователя о факте потери
  или раскрытия его персональных данных.</p>

<h3>7. Политика использования cookie-файлов</h3>
<p>Cookie-файлы — небольшой фрагмент текста, отправленный сервером и хранимый на компьютере Пользователя. Cookie
  выполняют множество функций, например, сохраняют настройки, созданные Пользователем, позволяют перемещаться между
  страницами после авторизации и в целом упрощают работу с сайтом.</p>
<p>Мы используем cookie-файлы для:</p>
<p>а) Идентификации — файлы cookie позволяют распознать ваше устройство и ваш Аккаунт, если вы ввели логин и пароль и не
  запрашивать их каждый раз при переходе на другую страницу.</p>
<p>б) Статистики — файлы cookie позволяют собирать данные о просмотре тех или иных страниц.</p>
<p>Пользователь может запретить браузеру принимать cookie, но это существенно ограничит его возможности по использованию
  Платформы.</p>

<h3>8. Управление персональными данными</h3>
<p>Пользователь может обновить, изменить или удалить Персональные данные, которые он предоставил или которые были
  собраны на сайте Пользователя, в Личном кабинете напрямую, либо отправив соответствующий запрос на адрес электронной
  почты legal@mywishmap.ru. Этот же адрес Пользователь может использовать для того, чтобы запросить удаление
  Аккаунта.</p>
<p>По техническим причинам информация может быть удалена не сразу, а с задержкой. Также необходимо принять во внимание,
  что возможно сохранение части информации в той мере, в которой это необходимо для исполнения юридических обязательств,
  урегулирования споров, предотвращения мошенничества и защиты законных интересов Администрации.</p>

<h3>9. Обязанности Пользователя</h3>
<p>По отношению к Администрации Пользователь предоставляет свои персональные данные и поддерживает их в актуальном
  состоянии.</p>

<h3>10. Обязательства Администрации</h3>
<p>Администрация обязуется:</p>
<p>a) Использовать персональные данные, предоставленные Пользователем, исключительно для целей, указанных в пункте 4
  настоящей Политики конфиденциальности.</p>
<p>б) Хранить конфиденциальность персональных данных; не раскрывать персональные данные Пользователя без
  предварительного письменного разрешения Пользователя, за исключением случаев, прямо предусмотренных законодательством;
  не продавать, не обменивать, не публиковать или не раскрывать персональные данные любыми другими способами, за
  исключением средств, указанных в пункте 5 настоящей Политики конфиденциальности.</p>
<p>в) Принимать меры для защиты конфиденциальности персональных данных Пользователя в соответствии со стандартными
  процедурами.</p>
<p>г) Немедленно заблокировать персональные данные Пользователя после получения запроса от Пользователя или его
  законного представителя или соответствующего органа по защите персональных данных пользователя во время проверки
  данной информации в случае обнаружения недействительных данных или несанкционированных действий.</p>
<p>Администрация может предоставлять персональные данные Пользователя по запросу органов государственной власти и иных
  официальных лиц в соответствующей юрисдикции исключительно на основании и в соответствии с законодательством
  Российской Федерации и международно-правовыми актами.</p>

<h3>11. Ответственность Сторон</h3>
<p>В случае невыполнения своих обязательств Администрация принимает на себя ответственность за любые убытки, но не
  более, чем в пределах стоимости, уплаченной Пользователем в рамках действующего Тарифа, понесенные Пользователем в
  результате несанкционированного использования его персональных данных, в соответствии с законодательством Российской
  Федерации за исключением случаев, когда персональные данные:</p>
<p>а) были предоставлены властям соответствующей юрисдикции;</p>
<p>б) были раскрыты третьей стороной после того, как они были переданы Администрацией с согласия Пользователя;</p>
<p>в) стали публичными до того, как они были утеряны или раскрыты;</p>
<p>г) были получены от третьего лица до предоставления их Администрации;</p>
<p>д) были раскрыты с согласия Пользователя;</p>
<p>e) были раскрыты в результате форс-мажорных обстоятельств;</p>
<p>ж) были раскрыты в результате возникновения обоснованной претензии в адрес Пользователя о нарушении прав третьих лиц
  и/или Пользовательского соглашения.</p>

<h3>12. Контакты</h3>
<p>Если у вас имеются какие-либо вопросы, комментарии или жалобы по поводу настоящей Политики конфиденциальности,
  пожалуйста, свяжитесь с нами, отправив письмо по адресу электронной почты izobov@mail.ru, ответ будет направлен в
  течение периода времени, установленного для рассмотрения обращений.</p>
<p>Дата публикации документа: 21 мая 2023 г.</p>

{% endblock %}
