{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="username_edit_dialogue"
{% endblock %}

{% block dialogue_title %}
    Изменение имени пользователя
{% endblock %}

{% block dialogue_body %}
    <form method="post">
        {% csrf_token %}
        {{ username_form.as_p }}
        <div class="mb-3"></div>
        <div class="d-flex flex-row justify-content-between align-items-center">
            <input type="submit" class="btn btn-primary w-100" name="username_save" value="Сохранить">
            <button type="button" class="btn btn-light ms-1" data-bs-dismiss="offcanvas">Закрыть</button>
        </div>
    </form>
{% endblock %}
