{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="distribution_dialogue"
{% endblock %}

{% block dialogue_title %}
    Политика дистрибуции
{% endblock %}

{% block dialogue_body %}
    <p>1. Исполнитель обязуется:</p>
    <p>1.1. Распространять Продукты Заказчика только в формате и способами, предусмотренными договором.</p>
    <p>1.2. Распространять Продукты Заказчика только в комплекте с согласованным для него перечнем Продуктов Исполнителя.</p>
    <p>1.3. Согласовывать с ответственным менеджером в письменной форме любые изменения условий распространения.</p>
    <p>2. Исполнитель не вправе:</p>
    <p>2.1. Распространять Продукты Заказчика в комплекте с продуктами, на использование которых у него нет достаточных прав.</p>
    <p>2.2. Изменять состав Продуктов Заказчика и распространять его отдельные компоненты.</p>
    <p>2.3. Включать в Продукты Заказчика любые продукты третьих лиц, а также подменять Данные в Продуктах Заказчика.</p>
    <p>2.4. Распространять Продукты Исполнителя вместе с Продуктами Заказчика в составе продукта третьего лица.</p>
    <p>2.5. Подменять clid.</p>
    <p>2.6. Программными средствами имитировать действия пользователей, генерирующие доход для Заказчика.</p>
    <p>2.9. Распространять Продукты Заказчика в продуктах/на ресурсах:</p>
    <ul>
        <li>не соответствующих требованиям действующего законодательства;</li>
        <li>заявляющих неравенство людей по полу, расе, национальности, вероисповеданию, социальному статусу и имущественному уровню;</li>
        <li>имеющих оскорбительное и (или) порнографическое содержание;</li>
        <li>представляющих собой онлайн-казино, парковки доменов, файлообменники, дорвеи, ресурсы, предлагающие оплату за просмотр и (или) переходы по объявлениям (баннерам) или другим видам рекламы, оплату за просмотр ресурсов, писем и т. п., а также другие подобные виды заработка в интернете, ресурсы с контентом для взрослых;</li>
        <li>имеющих содержание, вводящее пользователей в заблуждение;</li>
        <li>загружающих на компьютеры и мобильные устройства пользователей вирусы, трояны или другие вредоносные программы;</li>
        <li>могущих нанести вред компьютеру пользователя, похитить его информацию;</li>
        <li>в мошеннических целях требующих отправки платных SMS;</li>
        <li>связанных с азартными играми;</li>
        <li>могущих нанести вред имиджу Заказчика.</li>
    </ul>
    <p>3. В качестве надлежащего оказания Услуг не рассматривается систематическое привлечение пользователей сервисов Заказчика, не приводящее к совершению такими пользователями заказов на сервисе Заказчика или на сервисах партнеров Заказчика.</p>
    <p>4. Порядок дистрибуции продуктов Заказчика.</p>
    <p>4.1. Исполнитель не вправе распространять Продукты Заказчика в следующих продуктах / на следующих ресурсах:</p>
    <ul>
        <li>в расширениях для браузера, плагинах и наборах расширений для браузера (тулбарах) третьих лиц;</li>
        <li>в контекстных рекламных материалах в поисковых системах или на страницах результатов поиска поисковых систем;</li>
        <li>на всплывающих окнах (pop-up, pop-under), зонах click-under;</li>
    </ul>
    <p>4.2. Если иное не согласовано Заказчиком, Исполнитель не вправе распространять Продукты Заказчика в следующих продуктах / на следующих ресурсах:</p>
    <ul>
        <li>через почтовые рассылки;</li>
        <li>в мобильных приложениях, а также приложениях, сервисах и играх в социальных сетях;</li>
        <li>push-уведомлениях;</li>
    </ul>
    <p>4.3. Запрещается такое размещение Продуктов Заказчика в Продуктах Исполнителя, при котором содержание Продуктов Исполнителя не отображается перед пользователем.</p>
    <p>4.4. Заказы Пользователя на сервисе Заказчика / на сервисах партнеров Заказчика не учитываются в качестве базы для расчета вознаграждения Исполнителя в случае, если:</p>
    <ul>
        <li>При оформлении Заказа Пользователем был применен промокод, выделенный Заказчиком для распространения среди Пользователей иному партнеру Заказчика.</li>
        <li>Привлечение пользователей сервисов Заказчика, совершивших такие заказы, не рассматривается в качестве надлежащего оказания Услуг.</li>
    </ul>
    <p>5. Стороны пришли к соглашению, что если при исполнении договора Исполнитель использует рекламные форматы, применяются следующие Правила предоставления информации о распространяемой Исполнителем рекламе в Единый реестр интернет-рекламы (далее – Правила):</p>
    <p>5.1. В целях исполнения требований, предусмотренных статьей 18.1 Федерального закона от 13.03.2006 № 38-ФЗ «О рекламе» (Закон о Рекламе), Заказчик поручает, а Исполнитель обязуется предоставлять информацию о распространенной в информационно-телекоммуникационной сети «Интернет» рекламе в федеральный орган исполнительной власти, осуществляющий функции по контролю и надзору в сфере средств массовой информации, массовых коммуникаций, информационных технологий и связи.</p>
    <p>5.2. Указанное в п. 5.1 Правил означает, что Исполнитель обязуется передавать за Заказчика всю необходимую информацию о распространенной рекламе в Единый реестр интернет-рекламы (далее – ЕРИР) через оператора рекламных данных (далее – ОРД) в порядке и сроки, установленные законодательством РФ. Исполнитель передает информацию в ЕРИР самостоятельно и/или обеспечивает наличие идентичной обязанности о передаче информации в ЕРИР в договоре с лицом или лицами, привлекаемыми Исполнителем для целей размещения рекламы (далее – контрагенты Исполнителя), если такое привлечение предусмотрено договором.</p>
    <p>5.3. Кроме перечисленного выше и в целях исполнения требований Закона о рекламе Исполнитель, и/или контрагенты Исполнителя, обязуются:</p>
    <ul>
        <li>добавлять пометку «реклама», а также указание на Заказчика, как рекламодателя, или сайт (страницу сайта) с информацией о нем во все рекламные материалы до их распространения, если указанная информация не была добавлена ранее;</li>
        <li>своевременно получать от ОРД идентификатор рекламы (токен) и указывать его во всех рекламных материалах до начала распространения рекламы;</li>
        <li>вносить исправления в информацию, передаваемую в ОРД и ЕРИР, в случае получения от Заказчика измененной информации или в случае получения запроса от ОРД и/или ЕРИР, с предварительным согласованием ответа на такой запрос с Заказчиком;</li>
        <li>по запросу Заказчика предоставлять информацию и документальное подтверждение выполнения Исполнителем и/или его контрагентами предусмотренных Правилами обязательств в течение 3 (трех) рабочих дней с даты его получения.</li>
    </ul>
    <p>5.4. Оплата услуг ОРД (в случае, если за передачу данных ОРД предусмотрены соответствующие тарифы) осуществляется за счет Исполнителя и/или его контрагентов.</p>
    <p>5.5. Передача информации ОРД и/или в ЕРИР не является разглашением конфиденциальной информации.</p>
    <p>Дата публикации документа: 21 мая 2023 г.</p>
{% endblock %}

