{% extends 'template__dialogue.html' %}
{% load static %}

{% block dialogue_id %}
    id="app_install_dialogue"
{% endblock %}

{% block dialogue_title %}
    Установка приложения
{% endblock %}

{% block dialogue_body %}

    <p class="mb-2">ВИЖН – это современное веб-приложение, которое вы можете установить прямо из браузера.</p>
    <p>Для установки выберите тип вашего смартфона и следуйте инструкциям. </p>
    <hr class="text-black-50">
    {% include 'app_users/block__app_install.html' %}

<!--{% comment %}-->
<!--    &lt;!&ndash;Установка приложения на iPhone&ndash;&gt;-->
<!--    <div class="d-flex justify-content-between align-items-start mb-3">-->
<!--        &lt;!&ndash;Заголовок&ndash;&gt;-->
<!--        <h4 class="p-0 m-0">Установка на iPhone</h4>-->
<!--        &lt;!&ndash;Кнопка "Развернуть"&ndash;&gt;-->
<!--        <a href="#infoblock1" class="text-decoration-none" data-bs-toggle="collapse">-->
<!--            <h4 class="p-0 m-0 text-primary"><i class="bi bi-chevron-down"></i></h4>-->
<!--        </a>-->
<!--    </div>-->

<!--    &lt;!&ndash;КОНТЕНТ&ndash;&gt;-->
<!--    <div class="collapse mb-3" id="infoblock1">-->
<!--        <div class="card card-body p-0 m-0 mb-3 border-0">-->
<!--            &lt;!&ndash;<div class="row row-cols-1">&ndash;&gt;-->
<!--                &lt;!&ndash;<div class="col mb-3">&ndash;&gt;-->
<!--                    <ol>-->
<!--                        <li>-->
<!--                            Откройте сайт-->
<!--                            <button class="btn btn-sm btn-light text-primary ms-1 me-1">-->
<!--                                <img src="{% static 'PWA/icons/icon-48x48.png' %}" class="me-2" style="width: 1rem; height: 1rem;">картажеланий.рф-->
<!--                            </button>-->
<!--                            в браузере-->
<!--                            <button class="btn btn-sm btn-light text-primary ms-1 me-1">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-browser-safari me-1" viewBox="0 0 16 16">-->
<!--                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16Zm.25-14.75v1.5a.25.25 0 0 1-.5 0v-1.5a.25.25 0 0 1 .5 0Zm0 12v1.5a.25.25 0 1 1-.5 0v-1.5a.25.25 0 1 1 .5 0ZM4.5 1.938a.25.25 0 0 1 .342.091l.75 1.3a.25.25 0 0 1-.434.25l-.75-1.3a.25.25 0 0 1 .092-.341Zm6 10.392a.25.25 0 0 1 .341.092l.75 1.299a.25.25 0 1 1-.432.25l-.75-1.3a.25.25 0 0 1 .091-.34ZM2.28 4.408l1.298.75a.25.25 0 0 1-.25.434l-1.299-.75a.25.25 0 0 1 .25-.434Zm10.392 6 1.299.75a.25.25 0 1 1-.25.434l-1.3-.75a.25.25 0 0 1 .25-.434ZM1 8a.25.25 0 0 1 .25-.25h1.5a.25.25 0 0 1 0 .5h-1.5A.25.25 0 0 1 1 8Zm12 0a.25.25 0 0 1 .25-.25h1.5a.25.25 0 1 1 0 .5h-1.5A.25.25 0 0 1 13 8ZM2.03 11.159l1.298-.75a.25.25 0 0 1 .25.432l-1.299.75a.25.25 0 0 1-.25-.432Zm10.392-6 1.299-.75a.25.25 0 1 1 .25.433l-1.3.75a.25.25 0 0 1-.25-.434ZM4.5 14.061a.25.25 0 0 1-.092-.341l.75-1.3a.25.25 0 0 1 .434.25l-.75 1.3a.25.25 0 0 1-.342.091Zm6-10.392a.25.25 0 0 1-.091-.342l.75-1.299a.25.25 0 1 1 .432.25l-.75 1.3a.25.25 0 0 1-.341.09ZM6.494 1.415l.13.483a.25.25 0 1 1-.483.13l-.13-.483a.25.25 0 0 1 .483-.13ZM9.86 13.972l.13.483a.25.25 0 1 1-.483.13l-.13-.483a.25.25 0 0 1 .483-.13ZM3.05 3.05a.25.25 0 0 1 .354 0l.353.354a.25.25 0 0 1-.353.353l-.354-.353a.25.25 0 0 1 0-.354Zm9.193 9.193a.25.25 0 0 1 .353 0l.354.353a.25.25 0 1 1-.354.354l-.353-.354a.25.25 0 0 1 0-.353ZM1.545 6.01l.483.13a.25.25 0 1 1-.13.483l-.483-.13a.25.25 0 1 1 .13-.482Zm12.557 3.365.483.13a.25.25 0 1 1-.13.483l-.483-.13a.25.25 0 1 1 .13-.483Zm-12.863.436a.25.25 0 0 1 .176-.306l.483-.13a.25.25 0 1 1 .13.483l-.483.13a.25.25 0 0 1-.306-.177Zm12.557-3.365a.25.25 0 0 1 .176-.306l.483-.13a.25.25 0 1 1 .13.483l-.483.13a.25.25 0 0 1-.306-.177ZM3.045 12.944a.299.299 0 0 1-.029-.376l3.898-5.592a.25.25 0 0 1 .062-.062l5.602-3.884a.278.278 0 0 1 .392.392L9.086 9.024a.25.25 0 0 1-.062.062l-5.592 3.898a.299.299 0 0 1-.382-.034l-.005-.006Zm3.143 1.817a.25.25 0 0 1-.176-.306l.129-.483a.25.25 0 0 1 .483.13l-.13.483a.25.25 0 0 1-.306.176ZM9.553 2.204a.25.25 0 0 1-.177-.306l.13-.483a.25.25 0 1 1 .483.13l-.13.483a.25.25 0 0 1-.306.176Z"/>-->
<!--                                </svg>-->
<!--                                Safari-->
<!--                            </button>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            Нажмите-->
<!--                            <button class="btn btn-sm btn-light text-primary ms-1 me-1">-->
<!--                                <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--                                    <g clip-path="url(#clip0_1304_6670)">-->
<!--                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 6C12.6326 6 12.7598 6.05268 12.8536 6.14645C12.9473 6.24021 13 6.36739 13 6.5L13 14.5C13 14.6326 12.9473 14.7598 12.8536 14.8536C12.7598 14.9473 12.6326 15 12.5 15L3.5 15C3.36739 15 3.24021 14.9473 3.14645 14.8536C3.05268 14.7598 3 14.6326 3 14.5L3 6.5C3 6.36739 3.05268 6.24021 3.14645 6.14645C3.24021 6.05268 3.36739 6 3.5 6H5.5C5.63261 6 5.75979 5.94732 5.85355 5.85355C5.94732 5.75979 6 5.63261 6 5.5C6 5.36739 5.94732 5.24021 5.85355 5.14645C5.75979 5.05268 5.63261 5 5.5 5H3.5C3.10218 5 2.72064 5.15804 2.43934 5.43934C2.15804 5.72064 2 6.10218 2 6.5L2 14.5C2 14.8978 2.15804 15.2794 2.43934 15.5607C2.72064 15.842 3.10218 16 3.5 16L12.5 16C12.8978 16 13.2794 15.842 13.5607 15.5607C13.842 15.2794 14 14.8978 14 14.5L14 6.5C14 6.10218 13.842 5.72064 13.5607 5.43934C13.2794 5.15804 12.8978 5 12.5 5H10.5C10.3674 5 10.2402 5.05268 10.1464 5.14645C10.0527 5.24021 10 5.36739 10 5.5C10 5.63261 10.0527 5.75979 10.1464 5.85355C10.2402 5.94732 10.3674 6 10.5 6H12.5Z"/>-->
<!--                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.354 0.146C8.30755 0.0994367 8.25238 0.0624942 8.19163 0.0372877C8.13089 0.0120813 8.06577 -0.000894547 8 -0.000894547C7.93423 -0.000894547 7.86911 0.0120813 7.80837 0.0372877C7.74762 0.0624942 7.69245 0.0994367 7.646 0.146L4.646 3.146C4.55211 3.23989 4.49937 3.36722 4.49937 3.5C4.49937 3.63278 4.55211 3.76011 4.646 3.854C4.73989 3.94789 4.86722 4.00063 5 4.00063C5.13278 4.00063 5.26011 3.94789 5.354 3.854L7.5 1.707L7.5 10.5C7.5 10.6326 7.55268 10.7598 7.64645 10.8536C7.74021 10.9473 7.86739 11 8 11C8.13261 11 8.25979 10.9473 8.35355 10.8536C8.44732 10.7598 8.5 10.6326 8.5 10.5L8.5 1.707L10.646 3.854C10.7399 3.94789 10.8672 4.00063 11 4.00063C11.1328 4.00063 11.2601 3.94789 11.354 3.854C11.4479 3.76011 11.5006 3.63278 11.5006 3.5C11.5006 3.36722 11.4479 3.23989 11.354 3.146L8.354 0.146Z"/>-->
<!--                                    </g>-->
<!--                                    <defs>-->
<!--                                        <clipPath id="clip0_1304_6670">-->
<!--                                            <rect width="16" height="16" transform="translate(16 16) rotate(-180)"/>-->
<!--                                        </clipPath>-->
<!--                                    </defs>-->
<!--                                </svg>-->
<!--                            </button>-->
<!--                            внизу экрана.-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            Выберите пункт-->
<!--                            <button class="btn btn-sm btn-light text-primary ms-1 me-1">-->
<!--                                На экран "Домой"-->
<!--                                <i class="bi bi-plus-square ms-2"></i>-->
<!--                            </button>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            Нажмите кнопку-->
<!--                            <button class="btn btn-sm btn-light text-primary ms-1 me-1">-->
<!--                                Добавить-->
<!--                            </button>-->
<!--                            в правом верхнем углу окна.-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            Приложение установлено!-->
<!--                        </li>-->
<!--                    </ol>-->
<!--                &lt;!&ndash;</div>&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--    <hr class="text-black-50">-->

<!--    &lt;!&ndash;Установка приложения на Android&ndash;&gt;-->
<!--    <div class="d-flex justify-content-between align-items-start mb-3">-->
<!--        &lt;!&ndash;Заголовок&ndash;&gt;-->
<!--        <h4 class="p-o m-0">Установка на Android</h4>-->
<!--        &lt;!&ndash;Кнопка "Развернуть"&ndash;&gt;-->
<!--        <a href="#infoblock2" class="text-decoration-none" data-bs-toggle="collapse">-->
<!--            <h4 class="p-0 m-0 text-primary"><i class="bi bi-chevron-down"></i></h4>-->
<!--        </a>-->
<!--    </div>-->

<!--    &lt;!&ndash;КОНТЕНТ&ndash;&gt;-->
<!--    <div class="collapse mb-3" id="infoblock2">-->
<!--        <div class="card card-body p-0 m-0 mb-3 border-0">-->
<!--            <ol>-->
<!--                <li>-->
<!--                    Откройте сайт-->
<!--                    <button class="btn btn-sm btn-light text-primary ms-1 me-1">-->
<!--                        <img src="{% static 'PWA/icons/icon-48x48.png' %}" class="me-2" style="width: 1rem; height: 1rem; border-radius: 2px;">картажеланий.рф-->
<!--                    </button>-->
<!--                    в браузере-->
<!--                    <button class="btn btn-sm btn-light text-primary ms-1 me-1">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-browser-chrome me-1" viewBox="0 0 16 16">-->
<!--                            <path fill-rule="evenodd" d="M16 8a8.001 8.001 0 0 1-7.022 7.94l1.902-7.098a2.995 2.995 0 0 0 .05-1.492A2.977 2.977 0 0 0 10.237 6h5.511A8 8 0 0 1 16 8ZM0 8a8 8 0 0 0 7.927 8l1.426-5.321a2.978 2.978 0 0 1-.723.255 2.979 2.979 0 0 1-1.743-.147 2.986 2.986 0 0 1-1.043-.7L.633 4.876A7.975 7.975 0 0 0 0 8Zm5.004-.167L1.108 3.936A8.003 8.003 0 0 1 15.418 5H8.066a2.979 2.979 0 0 0-1.252.243 2.987 2.987 0 0 0-1.81 2.59ZM8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>-->
<!--                        </svg>-->
<!--                        Chrome-->
<!--                    </button>-->
<!--                </li>-->
<!--                <li>-->
<!--                    Нажмите-->
<!--                    <button class="btn btn-sm btn-light text-primary ms-1 me-1">-->
<!--                        <i class="bi bi-three-dots-vertical"></i>-->
<!--                    </button>-->
<!--                    в правом верхнем углу экрана.-->
<!--                </li>-->
<!--                <li>-->
<!--                    Выберите пункт-->
<!--                    <button class="btn btn-sm btn-light text-primary ms-1 me-1">-->
<!--                        Установить приложение-->
<!--                    </button>-->
<!--                </li>-->
<!--                <li>-->
<!--                    Нажмите кнопку-->
<!--                    <button class="btn btn-sm btn-light text-primary ms-1 me-1">-->
<!--                        Установить-->
<!--                    </button>-->
<!--                </li>-->
<!--                <li>-->
<!--                    Приложение установлено!-->
<!--                </li>-->
<!--            <ol>-->
<!--        </div>-->
<!--    </div>-->
<!--{% endcomment %}-->

{% endblock %}
