{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="agreement_dialogue"
{% endblock %}

{% block dialogue_title %}
    Пользовательское соглашение
{% endblock %}

{% block dialogue_body %}
<p>Настоящее пользовательское соглашение (далее - Соглашение) в соответствии с положениями ст. 437 ГК РФ является
  офертой плательщика налога на профессиональный доход Мухитдинова Дмитрия Сабиржановича действующего на основании
  справки о постановке на учет №11368705 от 03.03.2022), (далее - Администрация), и адресовано любому дееспособному лицу
  (далее – Пользователю) на изложенных ниже условиях.</p>
<p>Регистрация в специальной форме, размещенной по адресу: https://картажеланий.рф/registration/, является безусловным и
  безоговорочным принятием (акцептом) Пользователем условий данного Соглашения.</p>

<h3>Термины и определения</h3>
<p>Платформа – программный комплекс Администрации, расположенный по адресу https://картажеланий.рф</p>
<p>Аккаунт — учетная запись Пользователя на Платформе.</p>
<p>Личный кабинет — раздел Платформы, с помощью которого Пользователь может реализовывать функционал Платформы.</p>
<p>Контент — информация, документы и иные объекты, размещаемые Пользователем на Платформе.</p>
<p>Тариф — объем предоставляемых прав и услуг Пользователю.</p>

<h3>1. Предмет</h3>
<p>1.1. Администрация предоставляет неисключительную лицензию на использование Платформы и её элементов, а также
  оказывает сопутствующие услуги.</p>
<p>1.2. Пользователь использует Платформу и её элементы согласно условиям Соглашения и выбранного Тарифа, а также
  уплачивает вознаграждение, если иное не предусмотрено Тарифом.</p>

<h3>2. Общие положения</h3>
<p>2.1. Для использования Платформы Пользователь проходит регистрацию по адресу https://картажеланий.рф/registration/.</p>
<p>2.2. После регистрации Пользователь получает уникальный Аккаунт и доступ в Личный кабинет.</p>
<p>2.3. Все действия, совершаемые в Личном кабинете, считаются совершенными Пользователем лично.</p>
<p>2.4. Пользователь самостоятельно несет ответственность за:</p>
<p>а) Сохранность своего логина и пароля.</p>
<p>б) Последствия в случае утери и/или разглашения логина и пароля третьим лицам.</p>
<p>2.5. Администрация не рекомендует Пользователю передавать третьим лицам данные своего Аккаунта. В случае передачи
  данных Аккаунта Пользователь должен ознакомить третьих лиц с Соглашением и несет всю ответственность за их
  действия.</p>
<p>2.6. Платформа не предназначена и не может использоваться детьми в возрасте до 16 лет. Проходя регистрацию,
  Пользователь гарантирует, что ему исполнилось 16 лет. Кроме того, если возраст Пользователя меньше 18 лет, он
  гарантирует, что у него есть согласие родителя или официального опекуна с данным Пользовательским соглашением.</p>

<h3>3. Условия использования</h3>
<p>3.1. Пользователь вправе использовать Платформу согласно Соглашению и действующему законодательству Российской
  Федерации.</p>
<p>3.2. Администрация не обязана оказывать консультационную и техническую поддержку Пользователю.</p>
<p>3.3. Платформа интегрирована с различными сервисами, в том числе с сервисами аналитики, платежей и другими. Платформа
  обеспечивает только возможность доступа к сервисам. Все вопросы, связанные с использованием сервиса, регулируются
  документами сервиса и решаются между владельцем сервиса и Пользователем самостоятельно.</p>
<p>3.4. Платформа и услуги предоставляются на условиях «как есть».</p>
<p>3.5. Пользователь принимает на себя все риски, связанные с использованием Платформы и услуг.</p>
<p>3.6. Администрация не дает Пользователю никаких явно выраженных или предполагаемых гарантий в отношении Платформы и
  услуг, в том числе, не гарантирует (включая, но не ограничиваясь): пригодность для конкретных целей, безопасность и
  защищенность, точность, полноту, производительность, системную интеграцию, бесперебойное функционирование, отсутствие
  ошибок, исправление неполадок, отсутствие вирусов, законность использования на любых территориях за пределами
  Российской Федерации.</p>
<p>3.7. Администрация не несет ответственности за:</p>
<p>а) невозможность использования Платформы по причинам, не зависящим от Администрации;</p>
<p>б) любые действия и/или бездействия поставщиков услуг, сервисов, сетей, программного обеспечения или
  оборудования;</p>
<p>в) искажение, изменение, утрату Контента;</p>
<p>г) безопасность логина и/или пароля Пользователя;</p>
<p>д) несанкционированное и/или неправомерное использования третьими лицами логина и/или пароля Пользователя;</p>
<p>е) ущерб, который может быть нанесен любым устройствам и носителям информации и/или программному обеспечению
  Пользователя в результате использования Платформы и/или услуг.</p>

<h3>4. Интеллектуальная собственность</h3>
<p>4.1. Администрация является правообладателем Платформы и ее элементов (код, дизайн, базы данных, ноу-хау и
  прочее).</p>
<p>4.2. Неисключительная лицензия ограничена «правом на использование», и ни одно из положений Соглашения не означает
  передачи Пользователю исключительного права на Платформу и её элементы.</p>
<p>4.3. Неисключительная лицензия предоставляется на срок действия Соглашения на территорию всего мира без права выдачи
  сублицензий.</p>
<p>4.4. Загружая Контент на Платформу, Пользователь предоставляет Администрации право на хранение и обработку Контента в
  целях исполнения Соглашения.</p>
<p>4.5. Пользователь гарантирует, что Контент не нарушает права третьих лиц на результаты интеллектуальной деятельности
  и приравненные к ним средства индивидуализации, права на информацию, составляющую коммерческую тайну, не наносит вреда
  чести, деловой репутации и достоинству третьих лиц, не нарушает национальное и международное законодательство.
  Пользователь самостоятельно несет ответственность за размещенный на Платформе Контент.</p>

<h3>5. Услуги</h3>
<p>5.1. Администрация оказывает Пользователю услуги по:</p>
<p>а) предоставлению места на сервере для размещения Аккаунта пользователя</p>
<p>5.2. Администрация не дает никаких гарантий в отношении работоспособности и сохранности сервера, на котором
  предоставляется место для Аккаунта. Пользователь принимает на себя риски потери, связанные с перебоями в работе
  сервера и потерей Контента.</p>
<p>5.3. Администрация вправе отказать Пользователю в оказании услуги по предоставлению места на сервере для размещения
  Аккаунта в случае если последний создает высокую нагрузку на сервер и/или препятствует стабильной работе Платформы,
  и/или создает всякого рода угрозы Платформе, в том числе влекущие негативные последствия в той или иной форме для
  Платформы и/или Администрации.</p>

<h3>6. Запрещенные действия</h3>
<p>Пользователь не вправе:</p>
<p>6.1. Использовать Платформу и её элементы способами, прямо не предусмотренными Соглашением.</p>
<p>6.2. Предпринимать попытки обойти технические ограничения, установленные Платформой.</p>
<p>6.3. Декомпилировать, дизассемблировать, дешифровать и производить иные действия с исходным кодом Платформы.</p>
<p>6.4. Использовать Платформу для публикации, распространения, хранения, передачи в любой форме Контента, который:</p>
<p>а) является незаконным, вредоносным, угрожающим, клеветническим, подстрекающим к насилию над каким-либо лицом или
  группой лиц, либо к бесчеловечному обращению с животными, призывает к совершению противоправной деятельности, в том
  числе разъясняет порядок применения взрывчатых веществ и иного оружия, нарушает общепринятые правила приличия и
  морально-этические нормы, содержит ненормативную лексику, пропагандирует ненависть и/или дискриминацию, а также
  содержит негативные и критические высказывания, касающиеся религии, политики, а также политических и общественных
  деятелей, избирательных объединений (политических партий, организаций, движений и т.п.) и иных лиц, расовых,
  этнических, гендерных признаков, личных качеств, способностей, сексуальной ориентации и внешнего вида третьих лиц,
  содержит оскорбления в адрес конкретных лиц или организаций;</p>
<p>б) может быть воспринят как пропаганда определенных политических и религиозных взглядов, насилия, употребления
  наркотических средств, алкоголя и табакокурения;</p>
<p>в) может быть воспринят как пропаганда политических взглядов, основной целью которой является распространение идей и
  сведений, направленных на формирование определенных установок, представлений, привлекательности этих идей, мнения о
  превосходстве таких политических взглядов или такого политического направления над другими, и при этом не ставит своей
  целью исключительно информирование населения об организации, объединении, их структуре, функциях, направлениях
  деятельности, программе и т.п.</p>
<p>г) содержит публичные призывы к массовым беспорядкам, участию в массовых мероприятиях, проводимых с нарушением
  установленного порядка, к осуществлению террористической деятельности или публично оправдывающие терроризм, другие
  экстремистские материалы, недостоверную общественно значимую информацию, распространяемую под видом достоверных
  сообщений, которая создает угрозу массового нарушения общественного порядка и (или) общественной безопасности.</p>
<p>д) нарушает права несовершеннолетних лиц;</p>
<p>е) нарушает права третьих лиц на результаты интеллектуальной деятельности и приравненные к ним средства
  индивидуализации, права на информацию, составляющую коммерческую тайну, наносящего вред чести, деловой репутации и
  достоинству третьих лиц, нарушающего национальное и международное законодательство.</p>
<p>ж) содержит не разрешенную к разглашению информацию;</p>
<p>з) содержит вредоносное программное обеспечение (вирусы, черви, трояны или другие компьютерные коды, файлы или
  программы), предназначенное для нарушения, уничтожения либо ограничения функциональности любого компьютерного или
  телекоммуникационного оборудования (их частей), для осуществления несанкционированного доступа, для получения доступа
  к коммерческим программным продуктам, путем предоставления серийных номеров логинов, паролей, программ для их
  генерации и прочих средств для получения несанкционированного доступа к платным ресурсам, а также размещения ссылок на
  вышеуказанную информацию;</p>
<p>и) представляет собой Спам, т.е. рассылку без согласия получателя сообщений коммерческого и некоммерческого характера
  в форме (включая, но не ограничиваясь): рекламы товаров, оборот которых запрещен или ограничен согласно
  законодательству РФ; сообщений социального и/или религиозно-мистического содержания с призывом о дальнейшем
  распространении таких сообщений («писем счастья»); списков чужих адресов электронной почты; схем «пирамид»,
  многоуровневого (сетевого) маркетинга (MLM); реферальных ссылок; систем Интернет-заработка и онлайн-бизнесов.;</p>
<p>к) нарушает законодательство Российской Федерации, а также нормы международного права;</p>
<p>л) может использоваться для незаконного сбора, хранения и обработки персональных данных других лиц;</p>
<p>м) содержит рекламу и/или предложение на оказание услуг эротических спа-салонов и иных подобных услуг.</p>
<p>6.5. Использовать Платформу и её элементы для:</p>
<p>а) Нарушения работы Платформы, в том числе размещения элементов, затрудняющих обмен информацией в реальном времени,
  открывающих дополнительные окна браузера, подменяющих функциональные элементы интерфейса и т.п.</p>
<p>б) Размещения ссылок на ресурсы, содержание которых противоречит действующему законодательству РФ и нормам
  международного права.</p>
<p>в) Распространения не соответствующих действительности сведений относительно своей причастности к Администрации и/или
  ее партнерам.</p>
<p>г) Содействия любым мероприятиям, направленным на нарушение ограничений и запретов, налагаемых Соглашением, а также
  на нарушение норм действующего законодательства.</p>

<h3>7. Блокировка и удаление</h3>
<p>7.1. Администрация вправе незамедлительно осуществить блокировку Аккаунта Пользователя в случае:</p>
<p>а) Выявления нарушения Пользователем положений Соглашения;</p>
<p>б) Выявления нарушения Пользователем положений действующего законодательства Российской Федерации;</p>
<p>в) Получения от третьих лиц претензии о нарушении Пользователем их прав;</p>
<p>г) Получения соответствующих требований от государственных органов.</p>
<p>7.2. Блокировка Аккаунта означает невозможность Пользователя использовать Платформу.</p>
<p>7.3. Пользователь обязуется самостоятельно предпринять все действия для прекращения нарушения.</p>
<p>7.4. В случае блокировки Аккаунта в связи получением от третьих лиц претензии о нарушении Пользователем их прав, в
  дальнейшем Пользователь вправе использовать Аккаунт только при условии, что Администрация получила письменное
  уведомление от составителя жалобы, что спорная ситуация урегулирована и претензия со стороны третьих лиц о нарушении
  прав отсутствует.</p>
<p>7.5. В случае получения требований от государственных органов, в том числе требований (уведомлений, претензий)
  Роскомнадзора, Администрация производит блокировку Аккаунта Пользователя, допустившего нарушение. При этом
  разблокировка аккаунта не производится без получения Администрацией официального уведомления от вышеуказанных
  государственных органов, в том числе Роскомнадзора, об отсутствии каких-либо претензий и требований к Пользователю,
  чей аккаунт был заблокирован.</p>
<p>7.6. Администрация вправе отказать в доступе Пользователю и заблокировать Аккаунт, содержащий неявную рекламу товаров
  и услуг, запрещенных законодательством Российской Федерации, а также нормами международного права.</p>
<p>7.7. В случае отказа или невозможности прекратить нарушение, Администрация вправе в одностороннем порядке удалить
  Аккаунт со всем Контентом и данными.</p>

<h3>8. Тарифы</h3>
<p>8.1. Виды Тарифов доступны по ссылке https://картажеланий.рф</p>
<p>8.2. Тарифы могут изменяться по одностороннему решению Администрации. Стоимость оплаченного периода при этом
  изменению не подлежит.</p>
<p>8.3. После регистрации Пользователь вправе использовать Платформу на бесплатном Тарифе. Администрация может
  предоставить Пользователю пробный период на платном Тарифе.</p>
<p>8.4. Для перехода на платный Тариф на постоянной основе Пользователь оплачивает его способами, предложенными
  функционалом Платформы. Переход между платными Тарифами возможен в случае оплаты стоимости нового Тарифа в полном
  объеме.</p>
<p>8.5. Оплата Тарифа осуществляется на условиях cтопроцентной предоплаты.</p>
<p>8.6. Датой оплаты является дата зачисления денежных средств на расчетный счет Администрации.</p>
<p>8.7. Обязательства по оплате считаются неисполненными в случае возврата денежных средств по требованию платежной
  организации.</p>
<p>8.8. Размер тарифа складывается из лицензионного вознаграждения (95%) и стоимости услуг (5%), при этом:</p>
<p>а) для Пользователей, осуществляющих деятельность или находящихся на территории РФ, лицензионное вознаграждение не
  облагается НДС на основании пп. 26 п. 2 ст. 149 НК РФ.</p>
<p>б) для Пользователей, находящихся в странах ЕС и не имеющих постоянного представительства на территории РФ, общая
  сумма тарифа не облагается НДС на основании пп. 4 п. 1.1 ст. 148 НК РФ. Если Пользователь, указанный в настоящем
  подпункте, предполагает возможное возникновение у него обязательства об удержании НДС с произведенных им платежей,
  Администрация Платформы рекомендует ему проконсультироваться с налоговым консультантом или бухгалтером для
  самостоятельного учета НДС в декларации Пользователя по НДС по схеме обратного начисления по действующей ставке НДС в
  юрисдикции Пользователя.</p>
<p>8.9. Администрация не составляет счета-фактуры лицам, не являющимся налогоплательщиками налога на добавленную
  стоимость, и налогоплательщикам, освобожденным от исполнения обязанностей налогоплательщика, связанных с исчислением и
  уплатой налога.</p>
<p>8.10. Неиспользование Пользователем услуг не освобождает Пользователя от их оплаты.</p>
<p>8.11. По истечении срока действия Тарифа он автоматически продлевается на период, аналогичный предыдущему.
  Администрация осуществляет автоматическое списание соответствующей суммы с платежной карты Пользователя согласно
  действующим Тарифам.</p>
<p>8.12. Пользователь вправе отменить функцию автоплатежа или уведомить Администрацию о нежелании продлевать платный
  Тариф не позднее чем за 3 (три) дня до окончания срока его действия.</p>
<p>8.13. При переходе с платного Тарифа на бесплатный Тариф Пользователь обязан привести Личный кабинет в соответствии с
  условиями, на которых предоставляется бесплатный Тариф.</p>
<p>8.14. При первой оплате Тарифа Пользователь дает Администрации и её партнёрам согласие на хранение информации о его
  платежной карте и соглашается с тем, что Администрация уполномочена взимать плату с платежной карты для:</p>
<p>а) реализации функции автоплатежа;</p>
<p>б) списания иных платежей, связанных с Соглашением;</p>
<p>в) погашения задолженности Пользователя по Соглашению.</p>

<h3>9. Права Администрации</h3>
<p>9.1. Изменять, дорабатывать и обновлять Платформу без согласия и уведомления Пользователя.</p>
<p>9.2. Устанавливать любые ограничения на использование Платформы.</p>
<p>9.3. Удалять Аккаунт Пользователя, который к моменту удаления в течение шести и более календарных месяцев:</p>
<p>а) находится на бесплатном Тарифе</p>
<p>б) не используется Пользователем.</p>
<p>9.4. Направлять Пользователю сообщения, уведомления, запросы, сведения рекламного и информационного характера.</p>
<p>9.5. Направлять Пользователю информацию о вебинарах, видео и другую информацию о Платформе.</p>
<p>9.6. Получать доступ к Личному кабинету Пользователя для мониторинга работы Платформы.</p>
<p>9.7. Проводить профилактические работы, влекущие приостановление работы Платформы.</p>
<p>9.8. Возвращать Пользователю доступ к Аккаунту в случае его взлома, утери или смены логина/пароля при одновременном
  соблюдении следующих условий:</p>
<p>а) Аккаунт использовался на условиях платного Тарифа.</p>
<p>б) Пользователь выполнил все обязательные действия, предусмотренные инструкцией по возврату доступа, предоставляемой
  по запросу Пользователя.</p>

<h3>10. Персональные данные</h3>
<p>10.1. Платформа выполняет обработку персональных данных Пользователя в целях исполнения Соглашения согласно
  требованиям, установленным Федеральным законом «О персональных данных» от 27.07.2006 N 152-ФЗ и и Общеевропейского
  регламента о персональных данных (General Data Protection Regulation, GDPR).</p>
<p>10.2. Порядок обработки и защита персональных данных определяется Политикой в области обработки и защиты персональных
  данных, расположенной по адресу https://картажеланий.рф</p>

<h3>11. Ответственность</h3>
<p>11.1. Ответственность Администрации по Соглашению не может превышать стоимости оплаченного Пользователем Тарифа.</p>
<p>11.2. В случае предъявления Администрации претензий, требований и/или исков о нарушении прав третьих лиц, связанных с
  нарушением данных Пользователем гарантий, Пользователь принимает на себя обязательства по их урегулированию и
  возмещению ущерба Администрации в случае его возникновения.</p>

<h3>12. Срок Соглашения</h3>
<p>12.1. Соглашение действует с момента акцепта до момента удаления Аккаунта Пользователя.</p>
<p>12.2. Аккаунт может быть удален:</p>
<p>а) По заявке Пользователя</p>
<p>б) По основаниям, предусмотренным разделом 7.</p>
<p>12.3. В случае удаления Аккаунта с действующим платным Тарифом, лицензионная часть вознаграждения возврату не
  подлежит. Пользователь вправе потребовать возврата за оплаченный, но не оказанный период оказания услуг.</p>

<h3>13. Разрешение споров и разногласий</h3>
<p>13.1. Все споры или разногласия, возникающие между Сторонами в связи с исполнением Соглашения, разрешаются путем
  переговоров.</p>
<p>13.2. При недостижении Сторонами соглашения, споры и разногласия подлежат разрешению в претензионном порядке. Срок
  ответа на претензию — 30 дней.</p>
<p>13.3. При невозможности прийти к соглашению спор может быть передан на разрешение суда по месту нахождения
  Администрации.</p>
<p>13.4. Применимым правом является право Российской Федерации.</p>

<h3>14. Заключительные положения</h3>
<p>14.1. Соглашение может быть изменено или дополнено Администрацией без уведомления Пользователя в любое время. Новая
  редакция Соглашения вступает в силу с момента ее размещения на Платформе.</p>
<p>14.2. Продолжение использования Платформы после внесения изменений и/или дополнений в Соглашение означает принятие и
  согласие Пользователя с такими изменениями и/или дополнениями.</p>
<p>14.3. Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации. Вопросы, не
  урегулированные Соглашением, подлежат разрешению в соответствии с законодательством РФ.</p>
<p>14.4. В случае, если какое-либо из положений Соглашения окажется ничтожным в соответствии с законодательством
  Российской Федерации, остальные положения останутся в силе, а Соглашение будет исполняться Сторонами в полном объеме
  без учета такого положения.</p>

<h3>Контакты</h3>
<p class="m-0 p-0">Мухитдинов Дмитрий Сабиржанович</p>
<p class="m-0 p-0">ИНН: 861004072255</p>
<p class="m-0 p-0">Почта: izobov@mail.ru</p>
<!--<p>Почтовый адрес: 628181, ХМАО-Югра, г. Нягань, 1 микрорайон, дом 37, квартира 71</p>-->
<p>Дата публикации документа: 21 мая 2023 г.</p>

{% endblock %}
