{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="feedback_dialogue"
{% endblock %}

{% block dialogue_title %}
    Оценка и отзыв
{% endblock %}

{% block dialogue_body %}

    <p class="m-0 mb-2 p-0">Пожалуйста оцените приложение "ВИЖН"</p>

    <!--ЗВЕЗДЫ-->
    <div class="d-flex justify-content-start align-items-start mb-4">
        {% if profile.feedback_value == 0 %}
            <span id="star_1" onclick="set_1()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_2" onclick="set_2()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_3" onclick="set_3()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_4" onclick="set_4()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_5" onclick="set_5()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_6" onclick="set_1()">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_7" onclick="set_2()">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_8" onclick="set_3()">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_9" onclick="set_4()">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_0" onclick="set_5()">{% include "icons/star.html" with status="LIGHT" %}</span>
        {% elif profile.feedback_value == 1 %}
            <span id="star_1" onclick="set_1()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_2" onclick="set_2()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_3" onclick="set_3()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_4" onclick="set_4()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_5" onclick="set_5()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_6" onclick="set_1()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_7" onclick="set_2()">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_8" onclick="set_3()">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_9" onclick="set_4()">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_0" onclick="set_5()">{% include "icons/star.html" with status="LIGHT" %}</span>
        {% elif profile.feedback_value == 2 %}
            <span id="star_1" onclick="set_1()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_2" onclick="set_2()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_3" onclick="set_3()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_4" onclick="set_4()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_5" onclick="set_5()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_6" onclick="set_1()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_7" onclick="set_2()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_8" onclick="set_3()">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_9" onclick="set_4()">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_0" onclick="set_5()">{% include "icons/star.html" with status="LIGHT" %}</span>
        {% elif profile.feedback_value == 3 %}
            <span id="star_1" onclick="set_1()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_2" onclick="set_2()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_3" onclick="set_3()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_4" onclick="set_4()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_5" onclick="set_5()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_6" onclick="set_1()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_7" onclick="set_2()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_8" onclick="set_3()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_9" onclick="set_4()">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_0" onclick="set_5()">{% include "icons/star.html" with status="LIGHT" %}</span>
        {% elif profile.feedback_value == 4 %}
            <span id="star_1" onclick="set_1()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_2" onclick="set_2()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_3" onclick="set_3()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_4" onclick="set_4()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_5" onclick="set_5()" hidden="true">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_6" onclick="set_1()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_7" onclick="set_2()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_8" onclick="set_3()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_9" onclick="set_4()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_0" onclick="set_5()">{% include "icons/star.html" with status="LIGHT" %}</span>
        {% elif profile.feedback_value == 5 %}
            <span id="star_1" onclick="set_1()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_2" onclick="set_2()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_3" onclick="set_3()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_4" onclick="set_4()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_5" onclick="set_5()">{% include "icons/star.html" with status="WARNING" %}</span>
            <span id="star_6" onclick="set_1()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_7" onclick="set_2()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_8" onclick="set_3()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_9" onclick="set_4()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
            <span id="star_0" onclick="set_5()" hidden="true">{% include "icons/star.html" with status="LIGHT" %}</span>
        {% endif %}
    </div>

    <hr class="text-black-50">

    <p class="m-0 mb-2 p-0">Пожалуйста напишите отзыв о приложении</p>
    
    <form method="post">
        {% csrf_token %}
        {{ feedback_form.as_p }}
        <br>
        <!--Кнопки-->
        <div class="d-flex justify-content-between">
            <input type="submit" id="save_button" class="btn btn-primary w-100" style="height: 3rem;" name="feedback_{{ profile.feedback_value }}_save" value="Сохранить">
            <button type="button" class="btn btn-light ms-1" data-bs-dismiss="offcanvas" style="height: 3rem;">Закрыть</button>
        </div>
    </form>
    
    <script>
        function set_1 () {
            document.getElementById("star_1").hidden = false;
            document.getElementById("star_2").hidden = true;
            document.getElementById("star_3").hidden = true;
            document.getElementById("star_4").hidden = true;
            document.getElementById("star_5").hidden = true;
            document.getElementById("star_6").hidden = true;
            document.getElementById("star_7").hidden = false;
            document.getElementById("star_8").hidden = false;
            document.getElementById("star_9").hidden = false;
            document.getElementById("star_0").hidden = false;
            document.getElementById("save_button").name = "feedback_1_save";
        }
        function set_2 () {
            document.getElementById("star_1").hidden = false;
            document.getElementById("star_2").hidden = false;
            document.getElementById("star_3").hidden = true;
            document.getElementById("star_4").hidden = true;
            document.getElementById("star_5").hidden = true;
            document.getElementById("star_6").hidden = true;
            document.getElementById("star_7").hidden = true;
            document.getElementById("star_8").hidden = false;
            document.getElementById("star_9").hidden = false;
            document.getElementById("star_0").hidden = false;
            document.getElementById("save_button").name = "feedback_2_save";
        }
        function set_3 () {
            document.getElementById("star_1").hidden = false;
            document.getElementById("star_2").hidden = false;
            document.getElementById("star_3").hidden = false;
            document.getElementById("star_4").hidden = true;
            document.getElementById("star_5").hidden = true;
            document.getElementById("star_6").hidden = true;
            document.getElementById("star_7").hidden = true;
            document.getElementById("star_8").hidden = true;
            document.getElementById("star_9").hidden = false;
            document.getElementById("star_0").hidden = false;
            document.getElementById("save_button").name = "feedback_3_save";
        }
        function set_4 () {
            document.getElementById("star_1").hidden = false;
            document.getElementById("star_2").hidden = false;
            document.getElementById("star_3").hidden = false;
            document.getElementById("star_4").hidden = false;
            document.getElementById("star_5").hidden = true;
            document.getElementById("star_6").hidden = true;
            document.getElementById("star_7").hidden = true;
            document.getElementById("star_8").hidden = true;
            document.getElementById("star_9").hidden = true;
            document.getElementById("star_0").hidden = false;
            document.getElementById("save_button").name = "feedback_4_save";
        }
        function set_5 () {
            document.getElementById("star_1").hidden = false;
            document.getElementById("star_2").hidden = false;
            document.getElementById("star_3").hidden = false;
            document.getElementById("star_4").hidden = false;
            document.getElementById("star_5").hidden = false;
            document.getElementById("star_6").hidden = true;
            document.getElementById("star_7").hidden = true;
            document.getElementById("star_8").hidden = true;
            document.getElementById("star_9").hidden = true;
            document.getElementById("star_0").hidden = true;
            document.getElementById("save_button").name = "feedback_5_save";
        }
    </script>
{% endblock %}
