


<h1>Сброс пароля</h1>
<br>
<p>Вы получили данное письмо, потому что запросили сброс пароля для {{ email }} в сервисе ВИЖН (картажеланий.рф)</p>
<p>Перейдите по ссылке {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %} и введите новый пароль.</p>
<br>
<br>
