{% load static %}

{% if profile.show_app_install_notification %}

    <!--МОДАЛЬНОЕ ОКНО 1. УСТАНОВКА-->
    <div class="modal fade" id="starting_modal_1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Установка приложения</h4>
                    <p class="mb-2">Привет!</p>
                    <p class="mb-2">Приложение ВИЖН отсутствует в AppStore и GooglePlayMarket, поэтому вам необходимо установить его с сайта картажеланий.рф</p>
                    <p class="mb-3">Чтобы установить приложение сейчас воспользуйтесь инструкцией.</p>

                    <div class="mb-4 p-3" style="border-radius: .375rem; background-color: #eeeeee;">
                        {% include 'app_users/block__app_install.html' %}
                    </div>

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white">
                        <button class="btn btn-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_2">Далее</button>
                        <p class="text-black-50 m-0 p-0">1/4</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--МОДАЛЬНОЕ ОКНО 2. ОБЛАСТИ ЖЕЛАНИЙ-->
    <div class="modal fade" id="starting_modal_2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Области желаний</h4>
                    <img src="{% static 'images/hello_areas.png' %}" class="w-100 mb-3">
                    <p class="mb-2">Чтобы вам было удобно загадывать желания, мы разделили карту желаний на области. Среди них «Богатство и благополучие» – для желаний про материальные ценности, «Любовь и отношения» – для желаний, связанных с вашим партнером, и другие.</p>
                    <p class="mb-4">Если необходимо, вы можете добавить недостающие области или удалить ненужные.</p>

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white">
                        <div>
                            <button class="btn btn-outline-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_1">Назад</button>
                            <button class="btn btn-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_3">Далее</button>
                        </div>
                        <p class="text-black-50 m-0 p-0">2/4</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--МОДАЛЬНОЕ ОКНО 3. ИНФОРМАЦИЯ-->
    <div class="modal fade" id="starting_modal_3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Информация</h4>
                    <img src="{% static 'images/hello_info.png' %}" class="w-100 mb-3" style="border-radius: .375rem;">
                    <p class="mb-2">Обязательно правильно сформулируйте ваши желания, и подберите для них правильные изображения.</p>
                    <p class="mb-4">О том, как это сделать вы узнаете из информационных блоков.</p>

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white">
                        <div>
                            <button class="btn btn-outline-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_2">Назад</button>
                            <button class="btn btn-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_4">Далее</button>
                        </div>
                        <p class="text-black-50 m-0 p-0">3/4</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--МОДАЛЬНОЕ ОКНО 4. ИСПОЛНЕННЫЕ ЖЕЛАНИЯ-->
    <div class="modal fade" id="starting_modal_4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Исполненные желания</h4>
                    <img src="{% static 'images/hello_cloud.png' %}" class="w-100 mb-3" style="border-radius: .375rem;">
                    <p class="mb-2">Когда ваше желание исполнено, отметьте его завершение. Так оно попадет в карту исполненных желаний.</p>
<!--                    <p class="mb-4">Желаем вам скорейшего исполнения всех ваших желаний!</p>-->

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white mt-4">
                        <div>
                            <button class="btn btn-outline-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_6">Назад</button>
                            <a href="{{ profile.get_app_install_notification_close_url }}" style="text-decoration-none">
                                <button class="btn btn-primary" style="height: 3rem;">Закрыть</button>
                            </a>
                        </div>
                        <p class="text-black-50 m-0 p-0">4/4</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener('load', function () {
            const elemModal = document.querySelector('#starting_modal_1');
            const modal = new bootstrap.Modal(elemModal);
            modal.show();
        });
    </script>

{% endif %}
