{% load static %}

{% if profile.show_app_install_notification %}

    <!--Модальное окно 1-->
    <div class="modal fade" id="app_install_notification" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--ЗАГОЛОВОК-->
                <div class="modal-header mb-0 align-items-start" style="border: 0;">
                    <h4 class="modal-title">Установка приложения</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                  </div>
                <!--ТЕЛО-->
                <div class="modal-body p-3 pt-2">
                    <div class="d-flex flex-row justify-content-start align-items-start">
                        <!--ИКОНКА-->
                        <img src="{% static '/PWA/icons/icon-192x192.png' %}" class="mt-1 mb-3" style="width: 48px; height: 48px; border-radius: .75rem;">
                        <!--ТЕКСТ-->
                        <div class="ms-3">
                            <p class="mb-2">Друзья!</p>
                            <p class="mb-2">В связи с последними событиями, мы не имеем возможности разместить приложение "ВИЖН" в AppStore и GooglePlayMarket.</p>
                            <p class="mb-2">Информация по установке приложения доступна в личном кабинете.</p>
                            <p class="mb-0">Чтобы установить приложение сейчас воспользуйтесь <a href="#instruction" class="text-decoration-none" data-bs-toggle="collapse" >инструкцией<a>.</p>
                        </div>
                    </div>
                    <!--ИНСТРУКЦИЯ-->
                    <div class="collapse mb-0 mt-4 p-3" id="instruction" style="border-radius: .375rem; background-color: #f2f2f2;">
                        {% include 'app_users/block__app_install.html' %}
                    </div>
<!--                    <hr class="text-black-50 mt-0">-->
                    <a href="{{ profile.get_app_install_notification_close_url }}" style="text-decoration-none">
                        <button class="btn btn-outline-primary w-100 mt-4" style="height: 3rem;">Больше не показывать</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener('load', function () {
            const elemModal = document.querySelector('#app_install_notification');
            const modal = new bootstrap.Modal(elemModal);
            modal.show();
        });
    </script>

{% endif %}
