{% load static %}


<div class="w-100 mb-3 p-3 pb-0 border border-secondary text-dark" style="border-radius: 0.5rem; background: #ffffff;">
    <h4 class="mb-3">Поделитесь приложением с {{ min_referrals_count }} друзьями, и получите 14 дней использования сервиса ВИЖН в подарок!</h4>
    <p class="display-1 text-center mb-3">👩🏻 🧔 👩‍🦳 👦🏻</p>
    <p>Важно, чтобы ваши друзья регистрировались именно по той по ссылке которую вы им отправите.</p>
    {% include 'app_users/button__invite_users.html' %}
    {% include 'app_users/dialogue__invite_users.html' %}
</div>
