{% extends 'template__wish.html' %}
{% load static %}

{% block og %}
    <meta property="og:title" content="ВИЖН. Сделай правильную карту желаний!"/>
    <meta property="og:description"
          content="ВИЖН – бесплатный онлайн конструктор для составления правильной и красивой карты желаний. Используйте лучшие шаблоны, сектора, картинки и фото. Активируйте исполнение ваших желаний. Привлекайте в вашу жизнь богатство, здоровье, путешествия, славу и всё что пожелаете!"/>
    <meta property="og:image" content="{% static '/images/map_512.png' %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://картажеланий.рф"/>
{% endblock %}

{% block title %}ВИЖН. Сброс пароля{% endblock %}

{% block main %}
    <div class="d-flex flex-row justify-content-between">
        {% include 'button__back_to_homepage.html' %}
    </div>
    <div style="padding: 0 12px 16px 12px;">
        <h1 class="mb-3">Сброс пароля</h1>
        <p class="mb-4">Введите вашу электронную почту и мы пришлем вам ссылку на создание нового пароля.</p>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-floating mb-3">
                    {{ field }}
                    <label for="{{ field.id }}">{{ field.label }}</label>
                </div>
            {% endfor%}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p class="text-danger mb-3"><b>{{ error }}</b></p>
                {% endfor%}
            {% endfor%}
            <button class="btn btn-primary w-100" style="height: 3rem;" type="submit">Прислать ссылку</button>
        </form>
    </div>
{% endblock %}