{% extends 'template__wish.html' %}
{% load static %}

{% block og %}
    <meta property="og:title" content="ВИЖН. Сделай правильную карту желаний!"/>
    <meta property="og:description"
          content="ВИЖН – бесплатный онлайн конструктор для составления правильной и красивой карты желаний. Используйте лучшие шаблоны, сектора, картинки и фото. Активируйте исполнение ваших желаний. Привлекайте в вашу жизнь богатство, здоровье, путешествия, славу и всё что пожелаете!"/>
    <meta property="og:image" content="{% static '/images/map_512.png' %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://картажеланий.рф"/>
{% endblock %}

{% block title %}ВИЖН. Вход{% endblock %}


{% block main %}
    {% include 'lp/button__back.html' %}
    <div style="padding: 0 12px 16px 12px;">
        <h1>Вход</h1>
        <p class="mb-4">Привет! С возвращением 👋</p>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-floating mb-3 w-100">
                    {{ field }}
                    <label for="{{ field.id }}">{{ field.label }}</label>
                </div>
            {% endfor%}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p class="text-danger mb-3"><b>{{ error }}</b></p>
                {% endfor %}
            {% endfor %}
            <a href="{% url 'reset_password' %}" class="mb-3 text-primary"><p>Забыли пароль?</p></a>
            <div class="d-flex" style="height: 100%;"></div>
            <br>
            <!--Кнопки-->
            <button class="btn btn-primary w-100 mb-3" style="height: 3rem;" type="submit">Войти</button>
            <p>Ещё не зарегистрированы? <a href="{% url 'registration_page' %}">Создать аккаунт</a></p>

        </form>
    </div>
{% endblock %}
