{% extends 'template__wish.html' %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block main %}
    <div class="d-flex flex-row justify-content-between">
        {% include 'button__back_to_homepage.html' %}
    </div>
    <div style="padding: 0 12px 16px 12px;">
        <h1 class="mb-4">Письмо отправлено</h1>
        <!--Текст-->
        <p>Ссылка для создания нового пароля отправлена на вашу электронную почту.</p>
        <p class="mb-3">Если вы не получили письмо в течение нескольких минут, проверьте папу "Спам".</p>
        <br>
        <a href="{% url 'homepage' %}" class="text-decoration-none">
            <button class="btn btn-primary mb-3 w-100" style="height: 3rem;">На главную</button>
        </a>
    </div>
{% endblock %}