{% extends 'template__wish.html' %}
{% load static %}

{% block og %}
    <meta property="og:title" content="ВИЖН. Сделай правильную карту желаний!"/>
    <meta property="og:description"
          content="ВИЖН – бесплатный онлайн конструктор для составления правильной и красивой карты желаний. Используйте лучшие шаблоны, сектора, картинки и фото. Активируйте исполнение ваших желаний. Привлекайте в вашу жизнь богатство, здоровье, путешествия, славу и всё что пожелаете!"/>
    <meta property="og:image" content="{% static '/images/map_512.png' %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://картажеланий.рф"/>
{% endblock %}

{% block title %}ВИЖН. Регистрация{% endblock %}

{% block main %}
    {% include 'lp/button__back.html' %}
    <div style="padding: 0 12px 16px 12px;">
        <h1>Регистрация</h1>
        <p class="mb-4">Уже зарегистрированы? <a href="{% url 'login_page' %}">Войти в аккаунт</a></p>
        <form method="post" onsubmit="ym(90376300,'reachGoal','registration'); return true;">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-floating mb-3">
                    {{ field }}
                    <label for="{{ field.id }}">{{ field.label }}</label>
                </div>
            {% endfor %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p class="text-danger mb-3"><b>{{ error }}</b></p>
                {% endfor %}
            {% endfor %}
            <p class="mb-3">Регистрируясь на сайте, вы принимаете условия
                <a href="" data-bs-toggle="offcanvas" data-bs-target="#agreement_dialogue">Пользовательского соглашения</a> и
                <a href="" data-bs-toggle="offcanvas" data-bs-target="#policy_dialogue">Политики конфиденциальности</a>.
            </p>
            <br>
            <button class="btn btn-primary w-100 mb-3" style="height: 3rem;" type="submit">Создать аккаунт</button>
        </form>
    </div>
    {% include 'app_users/dialogue__agreement.html' %}
    {% include 'app_users/dialogue__policy.html' %}

{% endblock %}
