{% extends 'template__wish.html' %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block main %}
    <div class="d-flex flex-row justify-content-between">
        {% include 'button__back_to_homepage.html' %}
    </div>
    <div style="padding: 0 12px 16px 12px;">
        <h1 class="mb-4">Новый пароль успешно установлен</h1>
        <!--Кнопки-->
        <div>
            <a href="{% url 'login_page' %}" class="text-decoration-none">
                <button class="btn btn-primary mb-3 w-100" style="height: 3rem;">Вход</button>
            </a>
            <a href="{% url 'homepage' %}" class="text-decoration-none">
                <button class="btn btn-outline-primary mb-3 w-100" style="height: 3rem;">На главную</button>
            </a>
        </div>
    </div>
{% endblock %}