{% extends 'template__wish.html' %}
{% load static %}

{% block title %}Установка нового пароля{% endblock %}

{% block main %}
    <div style="padding: 0 12px 16px 12px;">
        <h1 class="mb-4">Установка нового пароля</h1>
        <!--ВАЛИДАЦИЯ-->
        {% if validlink %}
            <!--ФОРМА-->
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-floating mb-3">
                        {{ field }}
                        <label for="{{ field.id }}">{{ field.label }}</label>
                    </div>
                {% endfor%}
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p class="text-danger mb-3"><b>{{ error }}</b></p>
                    {% endfor%}
                {% endfor%}
                <button class="btn btn-primary w-100" style="height: 3rem;" type="submit">Установить пароль</button>
            </form>
        {% else %}
            <!--ВАЛИЗАЦИЯ НЕ ПРОЙДЕНА-->
            <p class="mb-4">Ссылка для сброса пароля потеряла свою актуальность. Пожалуйста, запросите сброс пароля повторно.</p>
            <a href="{% url 'reset_password' %}" class="text-decoration-none">
                <button class="btn btn-primary w-100" style="height: 3rem;">Сброс пароля</button>
            </a>
        {% endif %}
    </div>
{% endblock %}