{% extends 'template__wish.html' %}

{% block title %}Профиль пользователя{% endblock %}

{% block main %}
    {% include 'messages.html' %}

    <!--Кнопки-->
    <div class="d-flex flex-row justify-content-between align-items-center mb-3">
        {% include 'button__back_to_homepage.html' %}
        {% include 'app_users/button__logout.html' %}
    </div>

    {% include 'app_users/block__userpic.html' %}
    {% include 'app_users/block__username.html' %}
    {% include 'app_users/block__usermail.html' %}
<!--{% comment %}-->
<!--    {% include 'app_users/block__change_visionmap_mode.html' %}-->
<!--{% endcomment %}-->
    {% include 'app_sales/block__subscription.html' with status='PAGE_PROFILE' %}
    {% include 'app_users/block__feedback.html' %}
    {% include 'app_partners/block__partnership_promo.html' %}

    <!--{% comment %}-->

<!--    &lt;!&ndash;{% include 'app_users/block__socials.html' %}&ndash;&gt;-->
    <!--{% include 'app_users/block__invite_users.html' %}-->
    <!--{% include 'app_users/block__invite_partners.html' %}-->
    <!--{% endcomment %}-->

    <!--Кнопка "Установить приложение"-->
    {% include 'app_users/button__app_install.html' %}

    {% if profile.pk == 1 %}
        <div style="padding: 0 12px 16px 12px;">
            <a href="{% url 'statistics_page' %}" class="text-decoration-none">
                <button type="button" class="btn btn-outline-primary w-100 mb-3" style="height: 3rem; border-radius: 0.5rem;">
                    Статистика
                </button>
            </a>
        </div>
    {% endif %}

    <!--Кнопка "Задать вопрос"-->
    <!--{% comment %}-->
    <!--{% include 'app_users/button__ask_a_question.html' %}-->
    <!--{% endcomment %}-->

    <!--Письмо разработчикам-->
    <!--<h4 class="mb-3">Письмо разработчикам</h4>-->
    <!--<p>Если у вас возникли вопросы, идеи или замечания, обязательно расскажите нам о них.</p>-->
    <!--<div class="d-grid gap-2 d-md-block">-->
    <!--    <a href="mailto:izobov@mail.ru" class="btn btn-outline-secondary mb-3">Отправить письмо</a>-->
    <!--</div>-->
    <!--<hr class="text-black-50">-->






{% endblock %}

{% block footer %}
  {% include 'footer_profile.html' %}
{% endblock %}
