{% extends 'template__wish.html' %}
{% load static %}

{% block title %}Изменение пароля{% endblock %}

{% block main %}
    <div style="padding: 16px 12px 16px 12px;">
        <div class="d-flex flex-row justify-content-between mb-4">
            {% include 'app_users/button__back_to_user_profile.html' %}
        </div>
        <!--Заголовок-->
        <h1 class="m-0 p-0">Изменение пароля</h1>
        <!--Форма-->
        <form class="mt-4" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-floating mb-3">
                    {{ field }}
                    <label for="{{ field.id }}">{{ field.label }}</label>
                </div>
            {% endfor%}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <p class="text-danger mb-3"><b>{{ error }}</b></p>
                {% endfor %}
            {% endfor %}
            <button class="btn btn-primary w-100" style="height: 3rem;" type="submit">Изменить пароль</button>

        </form>
    </div>
{% endblock %}