{% extends 'template__map.html' %}
{% load static %}

{% block title %}Аккаунт заблокирован{% endblock %}

{% block header %}
    <div class="container-fluid m-0 p-4">
        <div class="d-flex flex-row justify-content-between align-items-center">
            {% include 'icons/logo.html' %}
            <a href="{% url 'logout' %}" class="text-decoration-none">
                <button type="button" class="btn btn-outline-primary">Выйти</button>
            </a>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% include 'messages.html' %}
    <div class="container-fluid row m-0 p-0 pt-4 pb-4" style="background-color: #eeeeee;">
        <!--Отступ-->
        <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3 m-0 p-0 "></div>
        <!--Основной контейнер-->
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 m-0 p-4 pt-5 pb-5">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="fs-1 mb-4"><b>Пожалуйста оформите подписку</b></h2>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">

                {% if countdown %}
                    <!--ПРОБНЫЙ 1-->
                    <div class="col">
                        <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
                            <!--НАИМЕНОВАНИЕ-->
                            <p class="fs-5 mb-2 p-0 pt-2"><b>Тариф "Пробный"</b></p>
                            <!--СТОИМОСТЬ-->
                            <div class="d-flex justify-content-start align-items-start">
                                <p class="fs-1 m-0 p-0 text-danger" style="font-weight: 400;">1 ₽</p>
                                <p class="fs-4 m-0 ms-3 p-0 text-decoration-line-through" style="font-weight: 400;">199 ₽</p>
                            </div>
                            <p class="text-black-50 mb-0">за первый месяц,</p>
                            <p class="text-black-50 mb-4">затем 199 ₽ ежемесячно</p>

                            <hr class="text-black-50 m-0 mb-4">
                            <!--ТЕКСТ-->
                            <div style="height: 8rem;">
                                <p class="m-0 mb-3 text-danger text-center"><b>ДЛЯ НОВЫХ ПОЛЬЗОВАТЕЛЕЙ</b></p>
                                <!--ТАЙМЕР-->
                                <div class="d-flex w-100 justify-content-center">
                                    <div class="d-flex ps-2 pe-2 font-monospace text-white bg-danger w-100 justify-content-center align-items-center" style="border-radius: .25rem; height: 3rem;">
                                        <b>Осталось <span id="hours-mobile">{{ countdown_hours }}ч</span> <span id="minutes-mobile">{{ countdown_minutes }}м</span> <span id="seconds-mobile">{{ countdown_seconds }}с</span></b>
                                    </div>
                                </div>
                            </div>
                            <!--КНОПКА-->
                            <a href="{% url 'payment_page' 1 %}" class="text-decoration-none w-100 p-0 m-0">
                                <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить за 1 ₽</button>
                            </a>
                        </div>
                    </div>
                {% endif %}

                <!--ЕЖЕМЕСЯЧНЫЙ 199-->
                <div class="col">
                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
                        <!--НАИМЕНОВАНИЕ-->
                        <p class="fs-5 mb-2 p-0 pt-2"><b>Тариф "Ежемесячный"</b></p>
                        <!--СТОИМОСТЬ-->
                        <p class="fs-1 m-0 p-0" style="font-weight: 400;">199 ₽</p>
                        <p class="text-black-50 mb-0">ежемесячно</p>
                        <p class="text-secondary mb-4">&nbsp;</p>
                        <hr class="text-black-50 m-0 mb-4">
                        <!--ТЕКСТ-->
                        <div style="height: 8rem;">
                            <p class="m-0 mb-4">Создайте карту желаний, запрограммируйте подсознание, и все ваши желания исполнятся!</p>
                        </div>
                        <!--КНОПКА-->
                        <a href="{% url 'payment_page' 199 %}" class="text-decoration-none w-100 p-0 m-0">
                            <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить за 199 ₽</button>
                        </a>
                    </div>
                </div>

<!--                {% comment %}-->
<!--                {% if leader %}-->
<!--                    &lt;!&ndash;ЕЖЕМЕСЯЧНЫЙ 49&ndash;&gt;-->
<!--                    <div class="col">-->
<!--                        <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem; background-color: #ffffff;">-->
<!--                            &lt;!&ndash;НАИМЕНОВАНИЕ&ndash;&gt;-->
<!--                            <p class="fs-5 mb-2 p-0 pt-2"><b>Тариф "Ежемесячный"</b></p>-->
<!--                            &lt;!&ndash;СТОИМОСТЬ&ndash;&gt;-->
<!--                            <div class="d-flex justify-content-start align-items-start">-->
<!--                                <p class="fs-1 m-0 p-0 text-danger" style="font-weight: 400;">49 ₽</p>-->
<!--                                <p class="fs-4 m-0 ms-3 p-0 text-decoration-line-through" style="font-weight: 400;">199 ₽</p>-->
<!--                            </div>-->
<!--                            <p class="text-black-50 mb-0">за первый месяц,</p>-->
<!--                            <p class="text-black-50 mb-4">затем 199 ₽ ежемесячно</p>-->

<!--                            <hr class="text-black-50 m-0 mb-4">-->
<!--                            &lt;!&ndash;ТЕКСТ&ndash;&gt;-->
<!--                            <div style="height: 8rem;">-->
<!--                                <p class="m-0 mb-3 text-danger"><b>СКИДКА 75% ОТ</b></p>-->
<!--                                <div class="d-flex justify-content-start align-items-center w-100 mb-4">-->
<!--                                    <div class="d-inline-flex me-3">-->
<!--                                            <img src="{{ leader.get_userpic_url }}" class="rounded-circle" width="48" height="48">-->
<!--                                    </div>-->
<!--                                    <p class="m-0 p-0">{{ leader }}</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;КНОПКА&ndash;&gt;-->
<!--                            <a href="{% url 'payment_page' 49 %}" class="text-decoration-none w-100 p-0 m-0">-->
<!--                                <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить за 49 ₽</button>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                {% endif %}-->
<!--                {% endcomment %}-->



                <!--ВЕЧНЫЙ 3990-->
                <div class="col">
                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
                        <!--НАИМЕНОВАНИЕ-->
                        <p class="fs-5 mb-2 p-0 pt-2"><b>Тариф "Вечный"</b></p>
                        <!--СТОИМОСТЬ-->
                        <p class="fs-1 m-0 p-0" style="font-weight: 400;">3 990 ₽</p>
                        <p class="text-black-50 mb-0">навсегда</p>
                        <p class="text-secondary mb-4">&nbsp;</p>
                        <hr class="text-black-50 m-0 mb-4">
                        <!--ТЕКСТ-->
                        <div style="height: 8rem;">
                            <p class="m-0 mb-4">Создайте карту желаний, запрограммируйте подсознание, и все ваши желания исполнятся!</p>
                        </div>
                        <!--КНОПКА-->
                        <a href="{% url 'payment_page' 3990 %}" class="text-decoration-none w-100 p-0 m-0">
                            <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить за 3 990 ₽</button>
                        </a>
                    </div>
                </div>

<!--                {% comment %}-->
<!--                {% if leader %}-->
<!--                    &lt;!&ndash;ВЕЧНЫЙ 2990&ndash;&gt;-->
<!--                    <div class="col">-->
<!--                        <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">-->
<!--                            &lt;!&ndash;НАИМЕНОВАНИЕ&ndash;&gt;-->
<!--                            <p class="fs-5 mb-2 p-0 pt-2"><b>Тариф "Вечный"</b></p>-->
<!--                            &lt;!&ndash;СТОИМОСТЬ&ndash;&gt;-->
<!--                            <div class="d-flex justify-content-start align-items-start">-->
<!--                                <p class="fs-1 m-0 p-0 text-danger" style="font-weight: 400;">2 990 ₽</p>-->
<!--                                <p class="fs-4 m-0 ms-3 p-0 text-decoration-line-through" style="font-weight: 400;">3 990 ₽</p>-->
<!--                            </div>-->
<!--                            <p class="text-black-50 mb-0">навсегда</p>-->
<!--                            <p class="text-black-50 mb-4">&nbsp;</p>-->

<!--                            <hr class="text-black-50 m-0 mb-4">-->
<!--                            &lt;!&ndash;ТЕКСТ&ndash;&gt;-->
<!--                            <div style="height: 8rem;">-->
<!--                                <p class="m-0 mb-3 text-danger"><b>СКИДКА 25% ОТ</b></p>-->
<!--                                <div class="d-flex justify-content-start align-items-center w-100 mb-4">-->
<!--                                    <div class="d-inline-flex me-3">-->
<!--                                            <img src="{{ leader.get_userpic_url }}" class="rounded-circle" width="48" height="48">-->
<!--                                    </div>-->
<!--                                    <p class="m-0 p-0">{{ leader }}</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash;КНОПКА&ndash;&gt;-->
<!--                            <a href="{% url 'payment_page' 2990 %}" class="text-decoration-none w-100 p-0 m-0">-->
<!--                                <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить за 2 990 ₽</button>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                {% endif %}-->
<!--                {% endcomment %}-->

                <!--ПРОМОКОД-->
<!--                {% comment %}-->
<!--                {% if not leader %}-->
<!--                    <div class="col">-->
<!--                        <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem; background-color: #ffffff;">-->
<!--                            &lt;!&ndash;НАИМЕНОВАНИЕ&ndash;&gt;-->
<!--                            <p class="fs-5 mb-4 p-0 pt-2"><b>Использовать промокод</b></p>-->
<!--                            &lt;!&ndash;ФОРМА&ndash;&gt;-->
<!--                            <form method="post">-->
<!--                                {% csrf_token %}-->
<!--                                {% for field in form %}-->
<!--                                    <div class="form-floating mb-3">-->
<!--                                        {{ field }}-->
<!--                                        <label for="{{ field.id }}">{{ field.label }}</label>-->
<!--                                    </div>-->
<!--                                {% endfor %}-->
<!--                                {% for field, errors in form.errors.items %}-->
<!--                                    {% for error in errors %}-->
<!--                                        <p class="text-danger mb-3"><b>{{ error }}</b></p>-->
<!--                                    {% endfor %}-->
<!--                                {% endfor %}-->
<!--                                <button class="btn btn-primary w-100" style="height: 3rem;" type="submit">Использовать</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                {% endif %}-->
<!--            </div>-->
<!--            {% endcomment %}-->

            <!--ТАЙМЕР-->
            {% if not leader and countdown %}
            <div class="d-flex w-100 justify-content-start p-0 mt-3">
                <div class="d-flex ps-2 pe-2 font-monospace">
                    <span id="hours-desktop">{{ countdown_hours }}</span> <span id="minutes-desktop">{{ countdown_minutes }}</span> <span id="seconds-desktop">{{ countdown_seconds }}</span></b>
                </div>
            </div>
            {% endif %}
        </div>
    </div>



    <script>
        let hours = {{ countdown_hours }};
        let minutes = {{ countdown_minutes }};
        let seconds = {{ countdown_seconds }};
        // converts all to seconds
        let totalSeconds = hours * 60 * 60 + minutes * 60 + seconds;
        // temporary seconds holder
        let tempSeconds = totalSeconds;
        // calculates number of days, hours, minutes and seconds from a given number of seconds
        const convert = (value, inSeconds) => {
            if (value > inSeconds) {
                let x = value % inSeconds;
                tempSeconds = x;
                return (value - x) / inSeconds;
            } else {
                return 0;
            }
        };
        //sets seconds
        const setSeconds = (s) => {
            s = s < 10 ? "0" + s : s;
            document.querySelector("#seconds-mobile").textContent = s + "с";
            document.querySelector("#seconds-desktop").textContent = s + "с";
        };
        //sets minutes
        const setMinutes = (m) => {
            m = m < 10 ? "0" + m : m;
            document.querySelector("#minutes-mobile").textContent = m + "м";
            document.querySelector("#minutes-desktop").textContent = m + "м";
        };
        //sets hours
        const setHours = (h) => {
            h = h < 10 ? "0" + h : h;
            document.querySelector("#hours-mobile").textContent = h + "ч";
            document.querySelector("#hours-desktop").textContent = h + "ч";
        };
        // Update the count down every 1 second
        var x = setInterval(() => {
            //clears countdown when all seconds are counted
            if (totalSeconds <= 0) {
                clearInterval(x);
            }
            setHours(convert(tempSeconds, 60 * 60));
            setMinutes(convert(tempSeconds, 60));
            setSeconds(tempSeconds == 60 ? 59 : tempSeconds);
            totalSeconds--;
            tempSeconds = totalSeconds;
        }, 1000);
    </script>

{% endblock %}

{% block footer %}
    {% include 'lp/block__footer.html' %}
{% endblock %}
