{% load static %}

{% if userprofile.show_trial_period_notification %}
    <div class="w-100 p-3 mb-4 text-dark border border-light shadow" style="border-radius: 0.5rem; background: #ffffff;">
        <div class="d-flex flex-row justify-content-between align-items-start mb-3">
            <h4>Поздравляем с регистрацией!</h4>
            <a href="{{ userprofile.get_trial_period_notification_close_url }}" style="text-decoration-none">
                <h5 class="text-dark"><i class="bi bi-x-lg ms-2"></i></h5>
            </a>
        </div>
        <p class="mb-3" style="font-size: 48px;">🎉 🤩 🎁 💃🏻</p>
        <p>Вы только что сделали первый шаг к яркой, интересной, а главное – вашей собственной жизни!</p>
        <p>Прямо сейчас начался период, в течение которого вы познакомитесь с приложением ВИЖН и построите вашу карту желаний.</p>
        <p class="mb-4">Этот период продлится неделю и закончится {{ trial_period_end_date }}, поэтому не теряйте времени, а скорее создавайте вашу карту желаний.</p>
    </div>
{% endif %}
