{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="feedback_5_dialogue"
{% endblock %}

{% block dialogue_title %}
    Оценка и отзыв
{% endblock %}

{% block dialogue_body %}

    <p>Как вам приложение ВИЖН?</p>

    <!--Звезды-->
    <div class="d-flex justify-content-start align-items-start mb-3">
        <a class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#feedback_1_dialogue">
            <h1 class="display-1 text-warning me-1"><i class="bi bi-star-fill"></i></h1>
        </a>
        <a class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#feedback_2_dialogue">
            <h1 class="display-1 text-warning me-1"><i class="bi bi-star-fill"></i></h1>
        </a>
        <a class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#feedback_3_dialogue">
            <h1 class="display-1 text-warning me-1"><i class="bi bi-star-fill"></i></h1>
        </a>
        <a class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#feedback_4_dialogue">
            <h1 class="display-1 text-warning me-1"><i class="bi bi-star-fill"></i></h1>
        </a>
        <a class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#feedback_5_dialogue">
            <h1 class="display-1 text-warning me-1"><i class="bi bi-star-fill"></i></h1>
        </a>
    </div>

    <hr class="text-black-50">

    <p class="mb-3">Напишите отзыв о приложении:</p>
    
    <form method="post">
        {% csrf_token %}
        {{ feedback_form }}
        <br>
        
        <!--Кнопки-->
        <div class="d-flex justify-content-between">
            <input type="submit" class="btn btn-primary w-100" style="height: 3rem;" name="feedback_5_save" value="Сохранить">
            <button type="button" class="btn btn-light ms-1" data-bs-dismiss="offcanvas" style="height: 3rem;">Закрыть</button>
        </div>
        
    </form>
{% endblock %}
