{% load static %}

{% if profile.show_app_install_notification %}

    <!--МОДАЛЬНОЕ ОКНО 1. ПРИВЕТСТВИЕ-->
    <div class="modal fade" id="starting_modal_1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Привет!</h4>
                    <img src="{% static 'images/hello_map.png' %}" class="w-100 mb-3">
                    <p>Благодарим вас за регистрацию в приложении «ВИЖН».</p>
                    <p class="mb-4">С помощью этого приложения вы создадите вашу карту желаний и запрограммируете подсознание на их исполнение.</p>
                    
                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white">
                        <button class="btn btn-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_2">Далее</button>
                        <p class="text-black-50 m-0 p-0">1/7</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--МОДАЛЬНОЕ ОКНО 2. ОБЛАСТИ ЖЕЛАНИЙ-->
    <div class="modal fade" id="starting_modal_2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Области желаний</h4>
                    <img src="{% static 'images/hello_areas.png' %}" class="w-100 mb-3">
                    <p class="mb-3">Чтобы вам было удобно загадывать желания, мы разделили карту желаний на области. Среди них «Богатство и благополучие» – для желаний про материальные ценности, «Любовь и отношения» – для желаний, связанных с вашим партнером, и другие.</p>
                    <p class="mb-4">Если необходимо, вы можете добавить недостающие области или удалить ненужные.</p>

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white">
                        <div>
                            <button class="btn btn-outline-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_1">Назад</button>
                            <button class="btn btn-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_3">Далее</button>
                        </div>
                        <p class="text-black-50 m-0 p-0">2/7</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--МОДАЛЬНОЕ ОКНО 3. ИНФОРМАЦИЯ-->
    <div class="modal fade" id="starting_modal_3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Информация</h4>
                    <img src="{% static 'images/hello_info.png' %}" class="w-100 mb-3" style="border-radius: .375rem;">
                    <p>Обязательно правильно сформулируйте ваши желания, и подберите для них правильные изображения.</p>
                    <p class="mb-4">О том, как это сделать вы узнаете из информационных блоков.</p>

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white">
                        <div>
                            <button class="btn btn-outline-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_2">Назад</button>
                            <button class="btn btn-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_4">Далее</button>
                        </div>
                        <p class="text-black-50 m-0 p-0">3/7</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--МОДАЛЬНОЕ ОКНО 4. ИСПОЛНЕННЫЕ ЖЕЛАНИЯ-->
    <div class="modal fade" id="starting_modal_4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Исполненные желания</h4>
                    <img src="{% static 'images/hello_cloud.png' %}" class="w-100 mb-3" style="border-radius: .375rem;">
                    <p class="mb-4">Когда ваше желание исполнено, отметьте его завершение. Так оно попадет в карту исполненных желаний.</p>

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white">
                        <div>
                            <button class="btn btn-outline-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_3">Назад</button>
                            <button class="btn btn-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_5">Далее</button>
                        </div>
                        <p class="text-black-50 m-0 p-0">4/7</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--МОДАЛЬНОЕ ОКНО 5. ВИЖН-КАРТА-->
    <div class="modal fade" id="starting_modal_5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Вижн-карта</h4>
                    <img src="{% static 'images/hello_magic.png' %}" class="w-100 mb-3" style="border-radius: .375rem;">
                    <p>Вижн-карта – это аналог карты желаний, в котором каждое желание является совокупностью визуальных, эмоциональных и мотивационных компонентов.</p>
                    <p>С помощью вижн-карты вы сделаете ваши желания конкретными инструкциями для вашего подсознания, и направите его ресурсы на их исполнение.</p>
                    <p class="mb-4">Обязательно попробуйте режим ВИЖН-карты. Если вы всё сделаете правильно, он поразит вас своей эффективностью.</p>

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white">
                        <div>
                            <button class="btn btn-outline-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_4">Назад</button>
                            <button class="btn btn-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_6">Далее</button>
                        </div>
                        <p class="text-black-50 m-0 p-0">5/7</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--МОДАЛЬНОЕ ОКНО 6. ТЕЛЕГРАМ-->
    <div class="modal fade" id="starting_modal_6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">

                    <h4 class="mb-4">Наш телеграм</h4>
                    {% include 'block__book_promo.html' %}
                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white mt-4">
                        <div>
                            <button class="btn btn-outline-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_5">Назад</button>
                            <button class="btn btn-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_7">Далее</button>
                        </div>
                        <p class="text-black-50 m-0 p-0">6/7</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--МОДАЛЬНОЕ ОКНО 7. УСТАНОВКА-->
    <div class="modal fade" id="starting_modal_7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <h4 class="mb-4">Установка приложения</h4>
                    <div class="d-flex flex-row justify-content-start align-items-start mb-3">
                        <!--ИКОНКА-->
                        <img src="{% static '/PWA/icons/icon-192x192.png' %}" class="mt-1 mb-3" style="width: 48px; height: 48px; border-radius: .75rem;">
                        <!--ТЕКСТ-->
                        <div class="ms-3">
                            <p class="mb-1 p-0"><b>Приложение "ВИЖН"</b></p>
                            <p class="mb-2 p-0">Создай свою карту желаний, и запрограммируй подсознание на их исполнение</p>
                        </div>
                    </div>
                    <p>Поскольку в данный момент мы не имеем возможности разместить приложение "ВИЖН" в AppStore и GooglePlayMarket, мы сделали так, чтобы вы могли установить приложение прямо с этого сайта.</p>
                    <p>Информация о том, как это сделать доступна в личном кабинете.</p>

                    <p class="mb-0">Чтобы установить приложение сейчас воспользуйтесь <a href="#instruction" class="text-decoration-none" data-bs-toggle="collapse" >инструкцией<a>.</p>
                    <!--ИНСТРУКЦИЯ-->
                    <div class="collapse mb-0 mt-4 p-3" id="instruction" style="border-radius: .375rem; background-color: #f2f2f2;">
                        {% include 'app_users/block__app_install.html' %}
                    </div>

                    <!--Навигация-->
                    <div class="d-flex flex-row justify-content-between align-items-end bg-white mt-4">
                        <div>
                            <button class="btn btn-outline-primary" style="height: 3rem;" data-bs-toggle="modal" data-bs-target="#starting_modal_6">Назад</button>
                            <a href="{{ profile.get_app_install_notification_close_url }}" style="text-decoration-none">
                                <button class="btn btn-primary" style="height: 3rem;">Закрыть</button>
                            </a>
                        </div>
                        <p class="text-black-50 m-0 p-0">7/7</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener('load', function () {
            const elemModal = document.querySelector('#starting_modal_1');
            const modal = new bootstrap.Modal(elemModal);
            modal.show();
        });
    </script>

{% endif %}
