{% extends 'template__map.html' %}
{% load static %}

{% block title %}Аккаунт заблокирован{% endblock %}

{% block header %}

    <div class="container-fluid m-0 p-4">
        <div class="d-flex flex-row justify-content-between align-items-center">
            {% include 'icons/logo.html' %}
            <a href="{% url 'logout' %}" class="text-decoration-none">
                <button type="button" class="btn btn-outline-primary">Выйти</button>
            </a>
        </div>
    </div>
    <hr class="text-black-50 m-0 p-0 ms-4 me-4">

{% endblock %}

{% block main %}
    {% include 'messages.html' %}
    <div class="container-fluid row m-0 p-0">
        <!--Отступ слева-->
        <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-1 m-0 p-0"></div>
        <!--Основной контейнер-->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 m-0 p-4 pt-5 pb-5">

            <!--MOBILE-->
            <div class="container d-block d-sm-none m-0 p-0">
                <h2 class="fs-1 mb-4">Пожалуйста оформите подписку</h2>

                <div class="d-flex m-0 mb-4 p-0 justify-content-between align-items-center">
                    <p class="m-0 p-0" style="font-size: 48px;">☝</p>
                    <p class="fs-5 fw-light ms-3 m-0"><i>Чтобы ваша карта желаний работала, нужно чтобы она у вас была!</i></p>
                </div>

                <!--ПРОБНЫЙ-->
                {% if countdown %}
                    <div class="col mb-3">
                        <div class="card border-0 p-4 shadow" style="border-radius: .5rem;">
                            <!--ТАЙМЕР-->
                            <div class="d-flex w-100 justify-content-end mb-2">
                                <div class="d-flex ps-2 pe-2 font-monospace text-white bg-danger">
                                    <b>Осталось <span id="hours-mobile">{{ countdown_hours }}ч</span> <span id="minutes-mobile">{{ countdown_minutes }}м</span> <span id="seconds-mobile">{{ countdown_seconds }}с</span></b>
                                </div>
                            </div>
                            <!--НАИМЕНОВАНИЕ-->
                            <p class="fs-5 mb-1 p-0 pt-3"><b>Тариф "Пробный"</b></p>
                            <p class="text-secondary mb-4">Спецпредложение для новых пользователей</p>
                            <!--СТОИМОСТЬ-->
                            <p class="m-0 p-0 display-1" style="font-weight: 600;">1 ₽</p>
                            <p class="text-secondary mb-4">за первый месяц, затем по 199 ₽ ежемесячно (вы сможете отказаться от подписки в любой момент)</p>
                            <hr class="text-black-50 m-0 mb-4">
<!--                            <p class="mb-4"><b>+ Книга "Вижн - эффективная реализация желаний" в подарок!</b></p>-->
<!--                            <img src="{% static '/images/book_512.png' %}" class="w-50 shadow mb-4" alt="Книга ВИЖН - эффективная реализация желаний">-->
                            <!--ТЕКСТ-->
                            <p class="m-0 mb-4">Создайте карту желаний, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>
                            <!--КНОПКА-->
                            <a href="{% url 'payment_page' 0 %}" class="text-decoration-none w-100 p-0 m-0">
                                <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить за 1 ₽</button>
                            </a>
                        </div>
                    </div>
                {% endif %}

                <!--ЕЖЕМЕСЯЧНЫЙ-->
                <div class="col mb-3">
                    <div class="card border-0 p-4 shadow" style="border-radius: .5rem;">
                        <!--НАИМЕНОВАНИЕ-->
                        <p class="fs-5 mb-2 p-0 pt-2"><b>Тариф "Ежемесячный"</b></p>
                        <p class="text-secondary mb-4">Для постоянных пользователей</p>
                        <!--СТОИМОСТЬ-->
                        <p class="m-0 p-0 display-1" style="font-weight: 600;">199 ₽</p>
                        <p class="text-secondary mb-4">ежемесячно</p>
                        <hr class="text-black-50 m-0 mb-4">
                        <!--ТЕКСТ-->
                        <p class="m-0 mb-4">Создайте карту желаний, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>
                        <!--КНОПКА-->
                        <a href="{% url 'payment_page' 1 %}" class="text-decoration-none w-100 p-0 m-0">
                            <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить за 199 ₽</button>
                        </a>
                    </div>
                </div>

                <!--ВЕЧНЫЙ-->
                <div class="col mb-3">
                    <div class="card border-0 p-4 shadow" style="border-radius: .5rem;">
                        <!--НАИМЕНОВАНИЕ-->
                        <p class="fs-5 mb-2 p-0 pt-2"><b>Тариф "Вечный"</b></p>
                        <p class="text-secondary mb-4">Для постоянных пользователей</p>
                        <!--СТОИМОСТЬ-->
                        <p class="m-0 p-0 display-1" style="font-weight: 600;">4 990 ₽</p>
                        <p class="text-secondary mb-4">навсегда</p>
                        <hr class="text-black-50 m-0 mb-4">
                        <!--ТЕКСТ-->
                        <p class="m-0 mb-4">Создайте карту желаний, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>
                        <!--КНОПКА-->
                        <a href="{% url 'payment_page' 2 %}" class="text-decoration-none w-100 p-0 m-0">
                            <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить за 4 990 ₽</button>
                        </a>
                    </div>
                </div>

            </div>

            <!--DESKTOP-->
            <div class="container d-none d-sm-block m-0 p-0">
                <p class="fs-1 mb-3 mt-2 text-center"><b>Пожалуйста оформите подписку</b></p>
                <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-3 justify-content-center align-items-start">

                    <!--ЕЖЕМЕСЯЧНЫЙ-->
                    <div class="col mb-3">
                        <div class="card border-0 p-4 shadow" style="border-radius: .5rem;">
                            <!--НАИМЕНОВАНИЕ-->
                            <p class="fs-5 mb-2 p-0 pt-2"><b>Тариф "Ежемесячный"</b></p>
                            <p class="text-secondary mb-4">Для постоянных пользователей</p>
                            <!--СТОИМОСТЬ-->
                            <p class="m-0 p-0 display-4" style="font-weight: 400;">199 ₽</p>
                            <p class="text-secondary mb-4">ежемесячно</p>
                            <hr class="text-black-50 m-0 mb-4">
                            <!--ТЕКСТ-->
                            <p class="m-0 mb-4 h-100">Создайте карту желаний, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>
                            <!--КНОПКА-->
                            <a href="{% url 'payment_page' 1 %}" class="text-decoration-none w-100 p-0 m-0">
                                <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить за 199 ₽</button>
                            </a>
                        </div>
                    </div>

                    <!--ПРОБНЫЙ-->
                    {% if countdown %}
                        <div class="col mb-3">
                            <div class="card border-0 p-4 shadow" style="border-radius: .5rem;">
                                <!--ТАЙМЕР-->
                                <div class="d-flex w-100 justify-content-end mb-2">
                                    <div class="d-flex ps-2 pe-2 font-monospace text-white bg-danger">
                                        <b>Осталось <span id="hours-desktop">{{ countdown_hours }}ч</span> <span id="minutes-desktop">{{ countdown_minutes }}м</span> <span id="seconds-desktop">{{ countdown_seconds }}с</span></b>
                                    </div>
                                </div>
                                <!--НАИМЕНОВАНИЕ-->
                                <p class="fs-5 mb-1 p-0 pt-3"><b>Тариф "Пробный"</b></p>
                                <p class="text-secondary mb-4">Спецпредложение для новых пользователей</p>
                                <!--СТОИМОСТЬ-->
                                <p class="m-0 p-0 display-4" style="font-weight: 400;">1 ₽</p>
                                <p class="text-secondary mb-4">за первый месяц, затем по 199 ₽ ежемесячно (вы сможете отказаться от подписки в любой момент)</p>
                                <hr class="text-black-50 m-0 mb-4">
<!--                                <p class="fs-5 mb-1 p-0"><b>+ Книга "Вижн - эффективная реализация желаний" в подарок!</b></p>-->
<!--                                <p class="mb-4"><b>+ Книга "Вижн - эффективная реализация желаний" в подарок!</b></p>-->
<!--                                <img src="{% static '/images/book_512.png' %}" class="w-50 shadow mb-4" alt="Книга ВИЖН - эффективная реализация желаний">-->
                                <!--ТЕКСТ-->
                                <p class="m-0 mb-4">Создайте карту желаний, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>
                                <!--КНОПКА-->
                                <a href="{% url 'payment_page' 0 %}" class="text-decoration-none w-100 p-0 m-0">
                                    <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить за 1 ₽</button>
                                </a>
                            </div>
                        </div>
                    {% endif %}

                    <!--ВЕЧНЫЙ-->
                    <div class="col mb-3">
                        <div class="card border-0 p-4 shadow" style="border-radius: .5rem;">
                            <!--НАИМЕНОВАНИЕ-->
                            <p class="fs-5 mb-2 p-0 pt-2"><b>Тариф "Вечный"</b></p>
                            <p class="text-secondary mb-4">Для постоянных пользователей</p>
                            <!--СТОИМОСТЬ-->
                            <p class="m-0 p-0 display-4" style="font-weight: 400;">4 990 ₽</p>
                            <p class="text-secondary mb-4">навсегда</p>
                            <hr class="text-black-50 m-0 mb-4">
                            <!--ТЕКСТ-->
                            <p class="m-0 mb-4">Создайте карту желаний, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>
                            <!--КНОПКА-->
                            <a href="{% url 'payment_page' 2 %}" class="text-decoration-none w-100 p-0 m-0">
                                <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить за 4 990 ₽</button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        let hours = {{ countdown_hours }};
        let minutes = {{ countdown_minutes }};
        let seconds = {{ countdown_seconds }};
        // converts all to seconds
        let totalSeconds = hours * 60 * 60 + minutes * 60 + seconds;
        //temporary seconds holder
        let tempSeconds = totalSeconds;
        // calculates number of days, hours, minutes and seconds from a given number of seconds
        const convert = (value, inSeconds) => {
            if (value > inSeconds) {
                let x = value % inSeconds;
                tempSeconds = x;
                return (value - x) / inSeconds;
            } else {
                return 0;
            }
        };
        //sets seconds
        const setSeconds = (s) => {
            s = s < 10 ? "0" + s : s;
            document.querySelector("#seconds-mobile").textContent = s + "с";
            document.querySelector("#seconds-desktop").textContent = s + "с";
        };
        //sets minutes
        const setMinutes = (m) => {
            m = m < 10 ? "0" + m : m;
            document.querySelector("#minutes-mobile").textContent = m + "м";
            document.querySelector("#minutes-desktop").textContent = m + "м";
        };
        //sets hours
        const setHours = (h) => {
            h = h < 10 ? "0" + h : h;
            document.querySelector("#hours-mobile").textContent = h + "ч";
            document.querySelector("#hours-desktop").textContent = h + "ч";
        };
        // Update the count down every 1 second
        var x = setInterval(() => {
            //clears countdown when all seconds are counted
            if (totalSeconds <= 0) {
                clearInterval(x);
            }
            setHours(convert(tempSeconds, 60 * 60));
            setMinutes(convert(tempSeconds, 60));
            setSeconds(tempSeconds == 60 ? 59 : tempSeconds);
            totalSeconds--;
            tempSeconds = totalSeconds;
        }, 1000);
    </script>

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

    <!--<div class="d-flex flex-row justify-content-between align-items-center">-->
    <!--    {% include 'logo.html' %}-->
    <!--    <a href="{% url 'logout' %}" class="text-decoration-none">-->
    <!--        <button type="button" class="btn btn-light">Выйти</button>-->
    <!--    </a>-->
    <!--</div>-->
    <!--<hr class="text-black-50 mb-3">-->
    <!--<h1 class="mb-3">Ваш аккаунт заблокирован</h1>-->
    <!--{% if subscription_ended %} <!--Окончилась подписка-->-->
    <!--    <p>Здравствуйте {{ userprofile }}. На вашем аккаунте закончилась подписка и поэтому он заблокирован.</p>-->
    <!--{% else %} <!--Окончился период ознакомления-->-->
    <!--    <p>Здравствуйте {{ userprofile }}. На вашем аккаунте закончился ознакомительный период и поэтому он заблокирован.</p>-->
    <!--{% endif %}-->
    
    <!--{% comment %}-->
    <!--{% if show_invite_user_notification %}-->
        <!--{% include 'app_users/notification__invite_users.html' %}-->
    <!--{% endif %}-->
    <!--{% endcomment %}-->
    
    <!--<p class="mb-3">Для того, чтобы продолжить работу с вашей картой желаний, пожалуйста, оформите подписку:</p>-->
    <!--{% include 'app_sales/block__pricing.html' %}-->
