
<!--Заголовок-->
<h4 class="mb-3">Проработка вижн-карты</h4>
<!--Прогресс-->
<div class="progress mb-3">
    <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
         style="width: {{ userprofile.progress }}%;" aria-valuenow="{{ userprofile.progress }}" aria-valuemin="0" aria-valuemax="100">
        {{ userprofile.progress }}%
    </div>
</div>
<hr class="text-black-50">
