{% extends 'template__dialogue.html' %}
{% load static %}

{% block dialogue_id %}
    id="invite_users_dialogue"
{% endblock %}

{% block dialogue_title %}
    Поделитесь приложением с друзьями!
{% endblock %}

{% block dialogue_body %}

    <p>Пусть ваши друзья создадут свои карты желаний и все их желания исполнятся!</p>
<!--    <p>Важно, чтобы ваши друзья регистрировались именно по той по ссылке которую вы им отправите.</p>-->
    <br>
    <div class="d-flex justify-content-center w-100 mb-4">
        <script src="https://yastatic.net/share2/share.js"></script>
        <div class="ya-share2"
             data-curtain
             data-size="l"
             data-shape="round"
             data-services="whatsapp,telegram,vkontakte,odnoklassniki"
             data-url="https://картажеланий.рф"
             data-title="Онлайн-конструктор карты желаний. Зарегистрируйся и создай свою!"
             data-description="ВИЖН – онлайн конструктор для составления правильной и красивой карты желаний. Используйте лучшие шаблоны, сектора, картинки и фото. Активируйте исполнение ваших желаний. Привлекайте в вашу жизнь богатство, здоровье, путешествия, славу и всё что пожелаете!"
             data-image="{% static '/images/map.png' %}">
        </div>
    </div>

<!--{% comment %}-->
<!--    {% if referrals %}-->
<!--        <hr class="text-black-50 mb-4">-->
<!--        <h4 class="mb-3">Ваши последователи</h4>-->
<!--        {% for referral in referrals %}-->
<!--            {% include 'app_users/card__referral.html' %}-->
<!--        {% endfor %}-->
<!--    {% endif %}-->
<!--{% endcomment %}-->

{% endblock %}

<!--             data-url="{{ user_invite_url }}"-->
