<a href="#invite_users_dialogue" class="text-decoration-none" data-bs-toggle="offcanvas">
    <button type="button" class="btn btn-primary w-100 mb-3" style="height: 3rem; border-radius: 0.5rem;">
        Поделиться приложением
    </button>
</a>
