{% load static %}

<!--Отображается на смартфонах-->
<div class="col d-block d-sm-block d-md-none">
    {% if user.is_authenticated %}
        {% if userprofile.show_app_install_notification %}
            {% if not userprofile.show_trial_period_notification %}
                <div class="w-100 p-3 mb-4 text-dark border border-danger" style="border-radius: 0.5rem;">
                    <!--Заголовок-->
                    <div class="d-flex flex-row justify-content-between align-items-start mb-3">
                        <h4>Установите приложение</h4>
                        <a href="{{ userprofile.get_app_install_notification_close_url }}" style="text-decoration-none">
                            <h5 class="text-dark"><i class="bi bi-x-lg ms-2"></i></h5>
                        </a>
                    </div>
                    <!--Тело-->
                    <div class="d-flex flex-row justify-content-between align-items-start">
                        <!--Иконка-->
                        <img src="{% static '/PWA/icons/icon-192x192.png' %}" class="mt-1" style="width: 56px; height: 56px; border-radius: .75rem;">
                        <!--Текст-->
                        <div class="ms-3">
                            <p class="mb-2">Установите приложение ВИЖН и ваша карта желаний будет доступна в один клик.</p>
                            <p class="mb-2">Информация по установке находится в <a href="{% url 'user_profile' %}" class="text-decoration-none">личном кабинете<a>.</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
