

<h4 class="mb-3">Поделитесь приложением с друзьями!</h4>
<p class="display-1 text-center mb-3">👩🏻 🧔 👩‍🦳 👦🏻</p>

<a href="#invite_users_dialogue" class="text-decoration-none" data-bs-toggle="offcanvas">
    <button type="button" class="btn btn-primary w-100 mb-3" style="height: 3rem; border-radius: 0.5rem;">
        Поделиться приложением
    </button>
</a>

{% include 'app_users/dialogue__invite_users.html' %}
