<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">

    <!--Максимальный-->
<!--    <div class="col mb-3">-->
<!--        <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">-->
<!--            &lt;!&ndash;НАИМЕНОВАНИЕ&ndash;&gt;-->
<!--            <p class="p-0 mb-3 mt-3 text-center text-primary fs-4">Максимум</p>-->
<!--            &lt;!&ndash;СТОИМОСТЬ&ndash;&gt;-->
<!--            <h3 class="m-0 p-0 text-center">3 999 ₽</h3>-->
<!--            <p class="m-0 p-0 text-center text-secondary mb-3">навсегда</p>-->
<!--            &lt;!&ndash;ПУНКТЫ&ndash;&gt;-->
<!--            <div class="d-flex flex-row justify-content-start align-items-start p-0 pt-2">-->
<!--                <span class="material-symbols-outlined">add</span>-->
<!--                <p class="ms-2">Осознание желаний</p>-->
<!--            </div>-->
<!--            <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                <span class="material-symbols-outlined">add</span>-->
<!--                <p class="ms-2">Комплексная визуализация</p>-->
<!--            </div>-->
<!--            <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                <span class="material-symbols-outlined">add</span>-->
<!--                <p class="ms-2">Программирование</p>-->
<!--            </div>-->
<!--            <div class="d-flex flex-row justify-content-start align-items-start p-0 mb-3">-->
<!--                <span class="material-symbols-outlined">add</span>-->
<!--                <p class="ms-2">Избавление от страхов и ограничивающих убеждений</p>-->
<!--            </div>-->
<!--            <a href="{% url 'payment_page' 2 %}" class="text-decoration-none w-100 p-0 m-0">-->
<!--                <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить подписку</button>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
</div>

<!--{% comment %}-->
<!--{% if request.user.is_authenticated %}-->
<!--    {% if profile.tariffs %}-->
<!--        {% for tariff in profile.tariffs %}-->
<!--            {% include 'app_sales/card__tariff.html' %}-->
<!--        {% endfor %}-->
<!--    {% endif %}-->
<!--{% else %}-->
<!--    {% if tariffs %}-->
<!--        {% for tariff in tariffs %}-->
<!--            {% include 'app_sales/card__tariff.html' %}-->
<!--        {% endfor %}-->
<!--    {% endif %}-->
<!--{% endif %}-->
<!--{% endcomment %}-->
