{% load static %}

<div style="padding: 0 12px 16px 12px;">
    {% if profile.subscription.is_active %}
        {% if actual_page == 'profile_page' %}
            <!--БЛОК-->
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <p class="m-0 p-0 w-100">Подписка активна</p>
                <a href="#subscription" class="text-decoration-none" data-bs-toggle="collapse" style="height: 24px;">
                    <span class="material-symbols-outlined text-secondary ms-2">expand_more</span>
                </a>
            </div>
            <!--КОНТЕНТ-->
            <div class="collapse p-3" id="subscription" style="border-radius: .375rem; background-color: #f2f2f2;">
                <!--ТАРИФ-->
                <div class="d-flex justify-content-between align-items-start mb-2">
                    <p class="text-secondary m-0 p-0">{{ profile.subscription.tariff.title }}</p>
                    <p class="ps-2 m-0 p-0" align="right">{{ profile.subscription.tariff.price }} ₽</p>
                </div>
                {% if profile.subscription.tariff.period == 1234 %}
                    <!--ДАТА ОКОНЧАНИЯ ПОДПИСКИ-->
                    <div class="d-flex justify-content-between align-items-start">
                        <p class="text-secondary m-0 p-0">Окончание</p>
                        <p class="ps-2 m-0 p-0" align="right">отсутствует</p>
                    </div>
                {% else %}
                    <!--ДАТА ОКОНЧАНИЯ ПОДПИСКИ-->
                    <div class="d-flex justify-content-between align-items-start mb-2">
                        <p class="text-secondary m-0 p-0">Окончание</p>
                        <p class="ps-2 m-0 p-0" align="right">{{ profile.subscription.expired_date }}</p>
                    </div>
                    <!--АВТОПЛАТЕЖИ-->
                    <div class="d-flex justify-content-between align-items-start">
                        <p class="text-secondary m-0 p-0">Автоматическое продление подписки</p>
                        {% if profile.subscription.autopay %}
                            <a href="{% url 'subscription_autopay_change' %}" class='text-decoration-none'>
                                {% include 'svg/switch.html' with status='ON' %}
                            </a>
                        {% else %}
                            {% if profile.subscription.payment_method_id %}
                                <a href="{% url 'subscription_autopay_change' %}" class='text-decoration-none'>
                                    {% include 'svg/switch.html' with status='OFF' %}
                                </a>
                            {% else %}
                                {% include 'svg/switch.html' with status='OFF' %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <!--ПРОДЛЕНИЕ ПОДПИСКИ-->
<!--                    <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue">-->
<!--                        <button class="btn btn-primary w-100" style="height: 3rem;">Продление подписки</button>-->
<!--                    </a>-->
                {% endif %}
            </div>
            <hr class="text-black-50 mb-0">
        {% endif %}
    {% else %}
        <!--ПРОМО ВИЖН-КАРТЫ-->
        {% if actual_page == 'wish_page' %}
            <hr class="text-black-50 mt-0">
        {% endif %}
        <h4 class="m-0 mb-2 p-0">Не работает карта желаний?</h4>
        <p class="m-0 mb-3">Активируйте режим ВИЖН-карты, запрограммируйте ваше подсознание, и оно исполнит все ваши желания!</p>
        <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue">
            <button class="btn btn-primary w-100" style="height: 3rem;">Активировать ВИЖН-карту</button>
        </a>
        {% if actual_page == 'profile_page' %}
            <hr class="text-black-50 mb-0">
        {% endif %}

    {% endif %}

</div>

{% include 'app_sales/dialogue__subscription.html' %}
