<!--<div class="row w-100 m-0 mb-3 p-3" style="border-radius: .5rem; background-color: #f2f2f2;">-->
<!--    &lt;!&ndash;НАИМЕНОВАНИЕ&ndash;&gt;-->
<!--    <h3 class="p-0 mb-3 mt-3 text-center text-primary">{{ tariff }}</h3>-->
<!--    &lt;!&ndash;СТОИМОСТЬ&ndash;&gt;-->
<!--    <div class="d-flex flex-row justify-content-center align-items-end mb-4">-->
<!--        <h3 class="m-0 p-0 text-center">{{ tariff.price }} ₽</h3>-->
<!--        <p class="m-0 p-0 ps-2 pe-2 text-secondary">/</p>-->
<!--        <p class="m-0 p-0 text-secondary">-->
<!--            {% if tariff.period == 1234 %} навсегда-->
<!--            {% elif tariff.period == 1 %}за {{ tariff.period }} месяц-->
<!--            {% elif tariff.period < 5 %}за {{ tariff.period }} месяца-->
<!--            {% else %}за {{ tariff.period }} месяцев-->
<!--            {% endif %}-->
<!--        </p>-->
<!--    </div>-->
<!--    &lt;!&ndash;ПУНКТЫ&ndash;&gt;-->
<!--    <div class="d-flex flex-row justify-content-start align-items-start p-0 pt-2">-->
<!--        <span class="material-symbols-outlined">select_check_box</span>-->
<!--        <p class="ms-2">Осознание желаний</p>-->
<!--    </div>-->
<!--    <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--        <span class="material-symbols-outlined">select_check_box</span>-->
<!--        <p class="ms-2">Проработка</p>-->
<!--    </div>-->
<!--    <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--        <span class="material-symbols-outlined">select_check_box</span>-->
<!--        <p class="ms-2">Избавление от ограничений</p>-->
<!--    </div>-->
<!--    <div class="d-flex flex-row justify-content-start align-items-start p-0 mb-4">-->
<!--        <span class="material-symbols-outlined">select_check_box</span>-->
<!--        <p class="ms-2">Активация</p>-->
<!--    </div>-->


<!--    {% if actual_page != 'landing_page' %}-->
<!--        <a href="{{ tariff.get_payment_url }}" class="text-decoration-none w-100 p-0 m-0">-->
<!--            {% if tariff.is_popular %}-->
<!--                <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Активировать вижн-карту</button>-->
<!--            {% else %}-->
<!--                <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Активировать вижн-карту</button>-->
<!--            {% endif %}-->
<!--        </a>-->
<!--    {% endif %}-->
<!--</div>-->

<div class="col mb-3">
    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
        <!--НАИМЕНОВАНИЕ-->
        <p class="p-0 mb-3 mt-3 text-center text-primary fs-4">{{ tariff }}</p>
        <!--СТОИМОСТЬ-->
        <h3 class="m-0 p-0 text-center">{{ tariff.price }} ₽</h3>
        <p class="m-0 p-0 text-center text-secondary mb-3">
            {% if tariff.period == 1234 %} навсегда
            {% elif tariff.period == 1 %}за {{ tariff.period }} месяц
            {% elif tariff.period < 5 %}за {{ tariff.period }} месяца
            {% else %}за {{ tariff.period }} месяцев
            {% endif %}
        </p>
        <!--ПУНКТЫ-->
        <div class="d-flex flex-row justify-content-start align-items-start p-0 pt-2">
            <span class="material-symbols-outlined">add</span>
            <p class="ms-2">Осознание желаний</p>
        </div>
        <div class="d-flex flex-row justify-content-start align-items-start p-0">
            <span class="material-symbols-outlined">add</span>
            <p class="ms-2">Комплексная визуализация</p>
        </div>
        <div class="d-flex flex-row justify-content-start align-items-start p-0">
            <span class="material-symbols-outlined">add</span>
            <p class="ms-2">Программирование</p>
        </div>
        <div class="d-flex flex-row justify-content-start align-items-start p-0 mb-3">
            <span class="material-symbols-outlined">add</span>
            <p class="ms-2">Избавление от страхов и ограничивающих убеждений</p>
        </div>
        <a href="{{ tariff.get_payment_url }}" class="text-decoration-none w-100 p-0 m-0">
            {% if tariff.is_popular %}
                <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Активировать вижн-карту</button>
            {% else %}
                <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Активировать вижн-карту</button>
            {% endif %}
        </a>
    </div>
</div>