<!--ВИЖН-карта-->
<div class="col mb-3">
    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
        <!--НАИМЕНОВАНИЕ-->
        <p class="p-0 mb-3 mt-3 text-center text-primary fs-4">ВИЖН-карта</p>
        <!--СТОИМОСТЬ-->
        <h3 class="m-0 p-0 text-center">199 ₽</h3>
        <p class="m-0 p-0 text-center text-secondary mb-3">в месяц</p>
        <!--ПУНКТЫ-->
        <div class="d-flex flex-row justify-content-start align-items-start p-0 pt-2">
            <span class="material-symbols-outlined">add</span>
            <p class="ms-2">Осознание желаний</p>
        </div>
        <div class="d-flex flex-row justify-content-start align-items-start p-0">
            <span class="material-symbols-outlined">add</span>
            <p class="ms-2">Комплексная визуализация</p>
        </div>
        <div class="d-flex flex-row justify-content-start align-items-start p-0">
            <span class="material-symbols-outlined">add</span>
            <p class="ms-2">Программирование</p>
        </div>
        <div class="d-flex flex-row justify-content-start align-items-start p-0 mb-3">
            <span class="material-symbols-outlined">add</span>
            <p class="ms-2">Избавление от страхов и ограничивающих убеждений</p>
        </div>
        <a href="{% url 'payment_page' 1 %}" class="text-decoration-none w-100 p-0 m-0">
            <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить подписку</button>
        </a>
    </div>
</div>
