{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="subscription_info_dialogue"
{% endblock %}

{% block dialogue_title %}
    Продление подписки
{% endblock %}

{% block dialogue_body %}

<!--    <hr class="text-black-50 mb-4">-->

    <!--MOBILE-->
    <div class="container d-block d-sm-none m-0 p-0">
        <!--ЕЖЕМЕСЯЧНЫЙ-->
        <div class="col mb-3">
            <div class="card border-0 p-4 shadow" style="border-radius: .5rem;">
                <!--НАИМЕНОВАНИЕ-->
                <p class="fs-5 mb-2 p-0 pt-2"><b>Ежемесячный</b></p>
                <p class="text-secondary mb-4">Для постоянных пользователей</p>
                <!--СТОИМОСТЬ-->
                <p class="m-0 p-0 display-1" style="font-weight: 600;">199 ₽</p>
                <p class="text-secondary mb-4">ежемесячно</p>
                <hr class="text-black-50 m-0 mb-4">
                <!--ТЕКСТ-->
                <p class="m-0 mb-4">Создайте карту желаний, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>
                <!--КНОПКА-->
                <a href="{% url 'payment_page' 1 %}" class="text-decoration-none w-100 p-0 m-0">
                    <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить за 199 ₽</button>
                </a>
            </div>
        </div>
        <!--ВЕЧНЫЙ-->
        <div class="col mb-3">
            <div class="card border-0 p-4 shadow" style="border-radius: .5rem;">
                <!--НАИМЕНОВАНИЕ-->
                <p class="fs-5 mb-2 p-0 pt-2"><b>Вечный</b></p>
                <p class="text-secondary mb-4">Для постоянных пользователей</p>
                <!--СТОИМОСТЬ-->
                <p class="m-0 p-0 display-1" style="font-weight: 600;">4 990 ₽</p>
                <p class="text-secondary mb-4">навсегда</p>
                <hr class="text-black-50 m-0 mb-4">
                <!--ТЕКСТ-->
                <p class="m-0 mb-4">Создайте карту желаний, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>
                <!--КНОПКА-->
                <a href="{% url 'payment_page' 2 %}" class="text-decoration-none w-100 p-0 m-0">
                    <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить за 4 990 ₽</button>
                </a>
            </div>
        </div>
    </div>

    <!--DESKTOP-->
    <div class="container d-none d-sm-block m-0 p-0">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-2 align-items-center">
            <!--ЕЖЕМЕСЯЧНЫЙ-->
            <div class="col mb-3">
                <div class="card border-0 p-4 shadow" style="border-radius: .5rem;">
                    <!--НАИМЕНОВАНИЕ-->
                    <p class="fs-5 mb-2 p-0 pt-2"><b>Ежемесячный</b></p>
                    <p class="text-secondary mb-4">Для постоянных пользователей</p>
                    <!--СТОИМОСТЬ-->
                    <p class="m-0 p-0 display-5" style="font-weight: 400;">199 ₽</p>
                    <p class="text-secondary mb-4">ежемесячно</p>
                    <hr class="text-black-50 m-0 mb-4">
                    <!--ТЕКСТ-->
                    <p class="m-0 mb-4 h-100">Создайте карту желаний, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>
                    <!--КНОПКА-->
                    <a href="{% url 'payment_page' 1 %}" class="text-decoration-none w-100 p-0 m-0">
                        <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить за 199 ₽</button>
                    </a>
                </div>
            </div>
            <!--ВЕЧНЫЙ-->
            <div class="col mb-3">
                <div class="card border-0 p-4 shadow" style="border-radius: .5rem;">
                    <!--НАИМЕНОВАНИЕ-->
                    <p class="fs-5 mb-2 p-0 pt-2"><b>Вечный</b></p>
                    <p class="text-secondary mb-4">Для постоянных пользователей</p>
                    <!--СТОИМОСТЬ-->
                    <p class="m-0 p-0 display-5" style="font-weight: 400;">4 990 ₽</p>
                    <p class="text-secondary mb-4">навсегда</p>
                    <hr class="text-black-50 m-0 mb-4">
                    <!--ТЕКСТ-->
                    <p class="m-0 mb-4">Создайте карту желаний, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>
                    <!--КНОПКА-->
                    <a href="{% url 'payment_page' 2 %}" class="text-decoration-none w-100 p-0 m-0">
                        <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить за 4 990 ₽</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

<!--    <p class="mb-4">В режиме ВИЖН-карты у ваших желаний появятся дополнительные элементы, с помощью которых, вы превратите ваши желания в конкретные инструкции, и запрограммируете ваше подсознание.</p>-->
<!--    {% comment %}-->
<!--    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">-->
<!--        {% for tariff in profile.tariffs %}-->
<!--            {% include 'app_sales/card__tariff.html' %}-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    {% endcomment %}-->


{% endblock %}


<!--            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">-->

<!--                <div class="col mb-3">-->
<!--                    <div class="card border-0 p-4 h-100" style="border-radius: .5rem; background-color: #EEEEEE;">-->
<!--                        &lt;!&ndash;НАИМЕНОВАНИЕ&ndash;&gt;-->
<!--                        <p class="p-0 mb-3 mt-3 text-center text-primary fs-4">ВИЖН-карта</p>-->
<!--                        &lt;!&ndash;СТОИМОСТЬ&ndash;&gt;-->
<!--                        <h3 class="m-0 p-0 text-center">199 ₽</h3>-->
<!--                        <p class="m-0 p-0 text-center text-secondary mb-3">в месяц</p>-->
<!--                        &lt;!&ndash;ПУНКТЫ&ndash;&gt;-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0 pt-2">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Осознание желаний</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Комплексная визуализация</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Программирование</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0 mb-3">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Избавление от страхов и ограничивающих убеждений</p>-->
<!--                        </div>-->
<!--                        <a href="{% url 'payment_page' 1 %}" class="text-decoration-none w-100 p-0 m-0">-->
<!--                            <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить подписку</button>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;Максимальный&ndash;&gt;-->
<!--                <div class="col mb-3">-->
<!--                    <div class="card border-0 p-4 h-100" style="border-radius: .5rem; background-color: #EEEEEE;">-->
<!--                        &lt;!&ndash;НАИМЕНОВАНИЕ&ndash;&gt;-->
<!--                        <p class="p-0 mb-3 mt-3 text-center text-primary fs-4">Максимум</p>-->
<!--                        &lt;!&ndash;СТОИМОСТЬ&ndash;&gt;-->
<!--                        <h3 class="m-0 p-0 text-center">3 999 ₽</h3>-->
<!--                        <p class="m-0 p-0 text-center text-secondary mb-3">навсегда</p>-->
<!--                        &lt;!&ndash;ПУНКТЫ&ndash;&gt;-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0 pt-2">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Осознание желаний</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Комплексная визуализация</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Программирование</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0 mb-3">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Избавление от страхов и ограничивающих убеждений</p>-->
<!--                        </div>-->
<!--                        <a href="{% url 'payment_page' 2 %}" class="text-decoration-none w-100 p-0 m-0">-->
<!--                            <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить подписку</button>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->


<!--    <h3>Хватит жить серой и унылой жизнью!</h3>-->
<!--    <h3 class="mb-3">Время уходит!</h3>-->
<!--    <div class="d-flex flex-row justify-content-start align-items-center mb-3 w-100">-->
<!--        <div class="d-flex flex-row justify-content-center align-items-center" style="width: 32px; height: 32px; background-color: #EB5757; border-radius: .5rem;">-->
<!--            <p class="text-white m-0 p-0 fs-5">1</p>-->
<!--        </div>-->
<!--        <h3 class="m-0 p-0 ps-3 w-100">Активируйте режим ВИЖН-карты</h3>-->
<!--    </div>-->
<!--    <div class="d-flex flex-row justify-content-start align-items-center mb-3 w-100">-->
<!--        <div class="d-flex flex-row justify-content-center align-items-center" style="width: 32px; height: 32px; background-color: #F2994A; border-radius: .5rem;">-->
<!--            <p class="text-white m-0 p-0 fs-5">2</p>-->
<!--        </div>-->
<!--        <h3 class="m-0 p-0 ps-3 w-100">Проработайте ваши желания</h3>-->
<!--    </div>-->
<!--    <div class="d-flex flex-row justify-content-start align-items-center mb-3 w-100">-->
<!--        <div class="d-flex flex-row justify-content-center align-items-center" style="width: 32px; height: 32px; background-color: #F2C94C; border-radius: .5rem;">-->
<!--            <p class="text-white m-0 p-0 fs-5">3</p>-->
<!--        </div>-->
<!--        <h3 class="m-0 p-0 ps-3 w-100">Запрограммируйте ваше подсознание</h3>-->
<!--    </div>-->
<!--    <h3 class="mb-4 w-100">И все ваши желания обязательно исполнятся!</h3>-->

<!--        <h3 class="mb-4 ps-2 w-100">Активируйте режим ВИЖН-карты, проработайте ваши желания, запрограммируйте ваше подсознание и начните жить собственной жизнью!</h3>-->

<!--        <div style="width: 200px; height:24px; background-color: #EB5757">-->
<!--        </div>-->
<!--    </div>-->
        <!--    <hr class="text-black-50">-->
<!--    <h2 class="mb-3">Тарифы</h2>-->
<!--    {% comment %}-->
<!--    {% include 'app_sales/block__tariffs.html' %}-->
<!--    {% endcomment %}-->

