{% extends 'template__wish.html' %}

{% block title %}Оплата подписки{% endblock %}

{% block main %}

    {% include 'button__back_to_homepage.html' %}
    <div style="padding: 0 12px 16px 12px;">
        <!--Заголовок-->
        <h1 class="mb-4">Оформление подписки</h1>

        <p class="mb-2">{{ payment_description }}</p>
        <p class="mb-4">{{ payment_value }} {{ payment_currency }}</p>

        <!--Подключение библиотеки для инициализации виджета ЮKassa-->
        <script src="https://yookassa.ru/checkout-widget/v1/checkout-widget.js"></script>

        <!--Контейнер платежной формы-->
<!--        <div class="w-100 p-3" style="border-radius: .5rem; background-color: #f2f2f2;">-->
        <div id="payment-form"></div>

            <!--<p>Данные банковской карты для оплаты в <b>тестовом магазине</b>:</p>-->
            <!--<ul>-->
            <!--    <li>номер — <b>5555 5555 5555 4477</b></li>-->
            <!--    <li>срок действия — <b>01/30</b> (или другая дата, больше текущей)</li>-->
            <!--    <li>CVC — <b>123</b> (или три любые цифры)</li>-->
            <!--    <li>код для прохождения 3-D Secure — <b>123</b> (или три любые цифры)</li>-->
            <!--</ul>-->
            <!--<p><a href=https://yookassa.ru/developers/using-api/testing#test-bank-card>Другие тестовые банковские карты</a></p>-->

            <script>
                //Инициализация виджета. Все параметры обязательные.
                const checkout = new window.YooMoneyCheckoutWidget({
                    confirmation_token: '{{ confirmation_token }}',
                    return_url: '{{ return_url }}',
                    error_callback: function(error) {
                        console.log(error)
                    }
                });
                //Отображение платежной формы
                checkout.render('payment-form');
            </script>
<!--        </div>-->
    </div>
{% endblock %}
