{% load static %}

{% if not userprofile.is_subscribed %}
<!--    <hr class="text-black-50 mt-0">-->
<!--    <h4 class="mb-3">Активируйте ВИЖН-карту, проработайте желания, и их исполнением займутся ваше подсознание и вселенная!</h4>-->
<!--    <button class="btn btn-primary w-100 mb-3" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue" style="height: 3rem;">-->
<!--        Подробнее-->
<!--    </button>-->
    <div class="d-flex justify-content-between align-items-center mb-2 mt-4">
        <h4 class="m-0 p-0">ВИЖН-карта</h4>
        <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue">
            <img src="{% static '/images/switch_off.png' %}" style="height: 24px;">
        </a>
    </div>
    <p class="mb-3">Активируйте режим ВИЖН-карты, проработайте ваши желания, и их исполнением займутся ваше подсознание и вселенная!</p>
    {% include 'app_sales/dialogue__subscription_info.html' %}

{% endif %}




