{% load static %}


<div style="padding: 0 12px 16px 12px;">
    {% if actual_page == 'profile_page' %}
        <!--Страница "Профиль пользователя"-->
        <!--ЗАГОЛОВОК-->
        <div class="d-flex flex-row justify-content-between align-items-center mb-3">
            <p class="m-0 p-0 w-100">Подписка активна</p>
            <a href="#subscription" class="text-decoration-none" data-bs-toggle="collapse" style="height: 24px;">
                <span class="material-symbols-outlined text-secondary ms-2">expand_more</span>
            </a>
        </div>
        <!--КОНТЕНТ-->
        <div class="collapse p-3" id="subscription" style="border-radius: .375rem; background-color: #f2f2f2;">
            {% if profile.subscription.tariff.is_visionmap %}
                <!--ВИЖН-КАРТА-->
                <div class="d-flex justify-content-start align-items-start mb-2">
                    <h4 class="m-0 mb-1 p-0" align="left">ВИЖН-карта</h4>
                </div>
<!--                {% comment %}-->
<!--                {% if profile.subscription.tariff.period == 1234 %}-->
<!--                    НАВСЕГДА-->
<!--                    ДАТА ОКОНЧАНИЯ ПОДПИСКИ-->
<!--                    <div class="d-flex justify-content-between align-items-start">-->
<!--                        <p class="text-secondary m-0 p-0">Окончание</p>-->
<!--                        <p class="m-0 p-0" align="right">Отсутствует</p>-->
<!--                    </div>-->
<!--                {% else %}-->
<!--                {% endcomment %}-->
                    <!--ПОМЕСЯЧНО-->
                    <!--ДАТА ОКОНЧАНИЯ ПОДПИСКИ-->
                    <div class="d-flex justify-content-between align-items-start mb-2">
                        <p class="text-secondary m-0 p-0">Окончание</p>
                        <p class="ps-2 m-0 p-0" align="right">{{ profile.subscription.expired_date }}</p>
                    </div>
                    <!--АВТОПЛАТЕЖИ-->
                    <div class="d-flex justify-content-between align-items-start">
                        <p class="text-secondary m-0 p-0">Автоплатежи</p>
                        {% if profile.subscription.autopay %}
                            <a href="{% url 'subscription_autopay_change' %}" class='text-decoration-none'>
                                {% include 'svg/switch.html' with status='ON' %}
                            </a>
                        {% else %}
                            {% if profile.subscription.payment_method_id %}
                                <a href="{% url 'subscription_autopay_change' %}" class='text-decoration-none'>
                                    {% include 'svg/switch.html' with status='OFF' %}
                                </a>
                            {% else %}
                                {% include 'svg/switch.html' with status='OFF' %}
                            {% endif %}
                        {% endif %}
                    </div>
<!--                {% endif %}-->
            {% else %}
                <!--КАРТА ЖЕЛАНИЙ-->
                <div class="d-flex justify-content-start align-items-start mb-2">
                    <h4 class="m-0 mb-1 p-0" align="left">Карта желаний</h4>
                </div>
                <!--ДАТА ОКОНЧАНИЯ ПОДПИСКИ-->
                <div class="d-flex justify-content-between align-items-start mb-2">
                    <p class="text-secondary m-0 p-0">Окончание</p>
                    <p class="ps-2 m-0 p-0" align="right">{{ profile.subscription.expired_date }}</p>
                </div>
                <!--АВТОПЛАТЕЖИ-->
                <div class="d-flex justify-content-between align-items-start">
                    <p class="text-secondary m-0 p-0">Автоплатежи</p>
                    {% if profile.subscription.autopay %}
                        <a href="{% url 'subscription_autopay_change' %}" class='text-decoration-none'>
                            {% include 'svg/switch.html' with status='ON' %}
                        </a>
                    {% else %}
                        {% if profile.subscription.payment_method_id %}
                            <a href="{% url 'subscription_autopay_change' %}" class='text-decoration-none'>
                                {% include 'svg/switch.html' with status='OFF' %}
                            </a>
                        {% else %}
                            {% include 'svg/switch.html' with status='OFF' %}
                        {% endif %}
                    {% endif %}
                </div>
                <!--ПРОМО ВИЖН-КАРТЫ-->
                <hr class="text-black-50">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h4 class="m-0 p-0">Режим вижн-карты</h4>
                    <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue">
                        {% include 'svg/switch.html' with status='OFF' %}
                    </a>
                </div>
                <p class="mb-2">Хотите повысить эффективность вашей карты желаний? </p>
                <p class="m-0">Активируйте режим ВИЖН-карты, проработайте ваши желания, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>
<!--                    <button class="btn btn-primary w-100" style="height: 3rem;" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue">Информация о подписке</button>-->
            {% endif %}
        </div>
        <hr class="text-black-50" style="margin: 16px 0 0 0;">
    {% else %}
        <!--Страница "Желание"-->
        {% if not profile.subscription.tariff.is_visionmap %}
            <hr class="text-black-50" style="margin: 0 0 16px 0;">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="m-0 p-0">Режим вижн-карты</h4>
                <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue">
                    {% include 'svg/switch.html' with status='OFF' %}
                </a>
            </div>
            <p class="mb-2">Хотите повысить эффективность вашей карты желаний? </p>
            <p class="mb-3">Активируйте режим ВИЖН-карты, проработайте ваши желания, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>
        {% endif %}
    {% endif %}
    {% include 'app_sales/dialogue__subscription.html' %}
</div>

<!--{% comment %}-->

<!--<div style="padding: 0 12px 16px 12px;">-->
<!--    {% if profile.subscription.is_active %}-->
<!--        &lt;!&ndash;ПОДПИСКА АКТИВНА&ndash;&gt;-->
<!--        {% if actual_page == 'profile_page' %}-->
<!--            &lt;!&ndash;ЗАГОЛОВОК&ndash;&gt;-->
<!--            <div class="d-flex flex-row justify-content-between align-items-center mb-3">-->
<!--                <p class="m-0 p-0 w-100">Вижн-карта активирована</p>-->
<!--                <a href="#subscription" class="text-decoration-none" data-bs-toggle="collapse" style="height: 24px;">-->
<!--                    <span class="material-symbols-outlined text-secondary ms-2">expand_more</span>-->
<!--                </a>-->
<!--            </div>-->
<!--            &lt;!&ndash;КОНТЕНТ&ndash;&gt;-->
<!--            <div class="collapse p-3" id="subscription" style="border-radius: .375rem; background-color: #f2f2f2;">-->
<!--                {% if profile.subscription.tariff.period == 1234 %}-->
<!--                    &lt;!&ndash;ТАРИФ "ПРЕМИАЛЬНЫЙ"&ndash;&gt;-->
<!--                    <div class="d-flex justify-content-between align-items-center">-->
<!--                        <p class="m-0 p-0" align="left"><b>Тариф "{{ profile.subscription.tariff.title }}"</b></p>-->
<!--                        <p class="ps-2 m-0 p-0" align="right">Навсегда</p>-->
<!--                    </div>-->
<!--                {% else %}-->
<!--                    &lt;!&ndash;ОСТАЛЬНЫЕ ТАРИФЫ&ndash;&gt;-->
<!--                    &lt;!&ndash;ТАРИФ&ndash;&gt;-->
<!--                    <div class="d-flex justify-content-start align-items-start mb-2">-->
<!--&lt;!&ndash;                        <p class="text-secondary m-0 p-0">Тариф</p>&ndash;&gt;-->
<!--                        <p class="m-0 p-0" align="left"><b>Тариф "{{ profile.subscription.tariff.title }}"</b></p>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;ДАТА ОКОНЧАНИЯ ПОДПИСКИ&ndash;&gt;-->
<!--                    <div class="d-flex justify-content-between align-items-start mb-2">-->
<!--                        <p class="text-secondary m-0 p-0">Окончание</p>-->
<!--                        <p class="ps-2 m-0 p-0" align="right">{{ profile.subscription.expired_date }}</p>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;АВТОПЛАТЕЖИ&ndash;&gt;-->
<!--                    <div class="d-flex justify-content-between align-items-start mb-3">-->
<!--                        <p class="text-secondary m-0 p-0">Автоплатежи</p>-->
<!--                        {% if profile.subscription.autopay %}-->
<!--                            <a href="{% url 'subscription_autopay_change' %}" class='text-decoration-none'>-->
<!--                                {% include 'svg/switch.html' with status='ON' %}-->
<!--                            </a>-->
<!--                        {% else %}-->
<!--                            {% if profile.subscription.payment_method_id %}-->
<!--                                <a href="{% url 'subscription_autopay_change' %}" class='text-decoration-none'>-->
<!--                                    {% include 'svg/switch.html' with status='OFF' %}-->
<!--                                </a>-->
<!--                            {% else %}-->
<!--                                {% include 'svg/switch.html' with status='OFF' %}-->
<!--                            {% endif %}-->
<!--                        {% endif %}-->
<!--                    </div>-->
<!--                    <button class="btn btn-primary w-100" style="height: 3rem;" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue">Информация о подписке</button>-->
<!--                {% endif %}-->
<!--            </div>-->
<!--        {% endif %}-->
<!--    {% else %}-->
<!--        &lt;!&ndash;ПОДПИСКА НЕАКТИВНА&ndash;&gt;-->
<!--        {% if actual_page == 'wish_page' %}-->
<!--            <hr class="text-black-50" style="margin: 0 0 16px 0;">-->
<!--        {% endif %}-->
<!--        <div class="d-flex justify-content-between align-items-center mb-2">-->
<!--            <h4 class="m-0 p-0">Режим вижн-карты</h4>-->
<!--            <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue">-->
<!--                {% include 'svg/switch.html' with status='OFF' %}-->
<!--            </a>-->
<!--        </div>-->
<!--        <p class="mb-2">Хотите повысить эффективность вашей карты желаний? </p>-->
<!--        <p class="mb-3">Активируйте режим вижн-карты, проработайте ваши желания, запрограммируйте ваше подсознание и все ваши желания обязательно исполнятся!</p>-->
<!--    {% endif %}-->

<!--    {% if actual_page == 'profile_page' %}-->
<!--        <hr class="text-black-50" style="margin: 16px 0 0 0;">-->
<!--    {% endif %}-->

<!--    {% include 'app_sales/dialogue__subscription.html' %}-->
<!--</div>-->
<!--{% endcomment %}-->
