<!--<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">-->

<!--{% comment %}-->
<!--{% include 'app_sales/block__promocode.html' %}-->
<!--{% endcomment %}-->

{% for tariff in userprofile.tariffs %}
    <div class="row w-100 m-0 mb-3 p-3" style="border-radius: .5rem; background-color: #f2f2f2;">
        <p class="mb-3" style="font-size: 4rem;">🤩</p>
        <h4 class="mb-3">{{ tariff }}</h4>
        <p class="fs-5 fw-light mb-4">Оформите подписку и используйте возможности приложения по максимуму!</p>
        <h2 class="text-center mb-1">{{ tariff.price }} ₽</h2>
        <p class="text-secondary text-center mb-4">
            {% if tariff.period == 1234 %}навсегда
            {% elif tariff.period == 1 %}за {{ tariff.period }} месяц
            {% elif tariff.period < 5 %}за {{ tariff.period }} месяца
            {% else %}за {{ tariff.period }} месяцев
            {% endif %}
        </p>
        <a href="{{ tariff.get_payment_url }}" class="text-decoration-none">
            <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить подписку</button>
        </a>
    </div>
{% endfor %}


<!--{% comment %}-->
<!--<div class="container-fluid m-0 p-0">-->
<!--    &lt;!&ndash;Ежемесячный&ndash;&gt;-->
<!--    <div class="row w-100 m-0 mb-3 p-3" style="border-radius: .5rem; background-color: #f2f2f2;">-->
<!--        <p class="mb-3" style="font-size: 4rem;">🤩</p>-->
<!--        <h4 class="mb-3">Тариф "Ежемесячный"</h4>-->
<!--        <p class="fs-5 fw-light mb-4">Активируйте ВИЖН-карту на 1 месяц и подключите подсознание, вселенную и окружение к исполнению ваших желаний!</p>-->
<!--        <h2 class="text-center mb-1">199 ₽/месяц</h2>-->
<!--        <p class="text-secondary text-center mb-4">помесячно</p>-->
<!--        <a href="{% url 'payment' 1 %}" class="text-decoration-none">-->
<!--            <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить на месяц</button>-->
<!--        </a>-->
<!--    </div>-->

<!--    &lt;!&ndash;Годовой&ndash;&gt;-->
<!--    <div class="row w-100 m-0 mb-3 p-3" style="border-radius: .5rem; background-color: #f2f2f2;">-->
<!--        <p class="mb-3" style="font-size: 4rem;">🤩🥳</p>-->
<!--        <h4 class=" mb-3">Тариф "Годовой"</h4>-->
<!--        <p class="fs-5 fw-light mb-4">Активируйте ВИЖН-карту на 1 год и подключите подсознание, вселенную и окружение к исполнению ваших желаний!</p>-->
<!--        <h2 class="text-center mb-1">149 ₽/месяц</h2>-->
<!--        <p class="text-secondary text-center mb-4">при оплате за 12 месяцев</p>-->
<!--        <a href="{% url 'payment' 2 %}" class="text-decoration-none">-->
<!--            <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить на год</button>-->
<!--        </a>-->
<!--    </div>-->

<!--    &lt;!&ndash;Вечный&ndash;&gt;-->
<!--    <div class="row w-100 m-0 mb-3 p-3" style="border-radius: .5rem; background-color: #f2f2f2;">-->
<!--        <p class="mb-3" style="font-size: 4rem;">🤩🥳🎉</p>-->
<!--        <h4 class=" mb-3">Тариф "Вечный"</h4>-->
<!--        <p class="fs-5 fw-light mb-4">Активируйте ВИЖН-карту навсегда и подключите подсознание, вселенную и окружение к исполнению ваших желаний!</p>-->
<!--        <h2 class="text-center mb-1">2 999 ₽</h2>-->
<!--        <p class="text-secondary text-center mb-4">раз и навсегда</p>-->
<!--        <a href="{% url 'payment' 3 %}" class="text-decoration-none">-->
<!--            <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить навсегда</button>-->
<!--        </a>-->
<!--    </div>-->

<!--</div>-->
<!--{% endcomment %}-->