{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="pricing_dialogue"
{% endblock %}

{% block dialogue_title %}
    Тарифы
{% endblock %}

{% block dialogue_body %}
<!--    {% comment %}-->
<!--    {% include 'app_sales/block__pricing.html' %}-->
<!--    {% endcomment %}-->

    {% for tariff in userprofile.tariffs %}
        <div class="row w-100 m-0 mb-3 p-3" style="border-radius: .5rem; background-color: #f2f2f2;">
            <p class="mb-3" style="font-size: 4rem;">🤩</p>
            <h4 class="mb-3">{{ tariff }}</h4>
            <p class="fs-5 fw-light mb-4">Оформите подписку и используйте возможности приложения по максимуму!</p>
            <h2 class="text-center mb-1">{{ tariff.price }} ₽</h2>
            <p class="text-secondary text-center mb-4">
                {% if tariff.period == 1234 %}навсегда
                {% elif tariff.period == 1 %}за {{ tariff.period }} месяц
                {% elif tariff.period < 5 %}за {{ tariff.period }} месяца
                {% else %}за {{ tariff.period }} месяцев
                {% endif %}
            </p>
            <a href="{{ tariff.get_payment_url }}" class="text-decoration-none">
                <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Перейти к оформлению</button>
            </a>
        </div>
    {% endfor %}

{% endblock %}
