
<form style="background-color: #f2f2f2; border-radius: .5rem;" method="post">
    {% csrf_token %}
    {% for field in promo_code_form %}
        {% if not field.name == 'promocod' %}
            <div class="form-floating mb-3 w-100">
                {{ field }}
                <label for="{{ field.id }}">{{ field.label }}</label>
            </div>
        {% endif %}
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <p class="text-danger mb-3"><b>{{ error }}</b></p>
            {% endfor%}
        {% endfor%}
    {% endfor%}
    <input type="submit" class="btn btn-primary w-100" style="height: 3rem;" name="use_promocode" value="Использовать">
</form>
