<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">
    
    <!--Ежемесячный-->
    <div class="col">
        <div class="w-100 p-3" style="border-radius: .5rem; background-color: #f2f2f2;">
            
            <!--Эмодзи-->
            <p class="mb-3" style="font-size: 4rem;">🤩</p>
            
            <!--Наименование-->
            <h4 class=" mb-3">Тариф "Ежемесячный"</h4>
            
            <!--Список-->
            <p>Активируйте вижн-карту сроком на 1 месяц!</p>
            <p class="mb-3">Используйте усилия вашего подсознания и вселенной по максимуму!</p>
            <br>
            
            <!--Стоимость-->
            <h2 class="text-center mb-1">199 ₽/месяц</h2>
            <p class="text-secondary text-center mb-4">помесячно</p>

            <!--Кнопка-->
            <a href="{% url 'payment' 1 %}" class="text-decoration-none">
                <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить на месяц</button>
            </a>
            
        </div>
    </div>

    <!--Годовой-->
    <div class="col">
        <div class="w-100 p-3" style="border-radius: .5rem; background-color: #f2f2f2;">
            
            <!--Эмодзи-->
            <p class="mb-3" style="font-size: 4rem;">🤩🥳</p>
            
            <!--Наименование-->
            <h4 class=" mb-3">Тариф "Годовой"</h4>
            
            <!--Список-->
            <p>Активируйте вижн-карту сроком на 1 год!</p>
            <p class="mb-3">Используйте усилия вашего подсознания и вселенной по максимуму!</p>
            <br>
            
            <!--Стоимость-->
            <h2 class="text-center mb-1">149 ₽/месяц</h2>
            <p class="text-secondary text-center mb-4">при оплате за 12 месяцев</p>

            <!--Кнопка-->
            <a href="{% url 'payment' 2 %}" class="text-decoration-none">
                <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить на год</button>
            </a>
            
        </div>
    </div>
  
  
  
  <!--<div class="col px-2 py-2">-->
  <!--  <div style="width: 100%;-->
  <!--              border-radius: 10px;-->
  <!--              background-color: #f2f2f2;-->
  <!--              padding: 24px;">-->

      <!--Эмодзи-->
  <!--    <p style="font-size: 64px; text-align: left;">🤩🥳</p>-->

  <!--    <h4 style="margin: 0 0 32px 0; text-align: left;">Тариф "Годовой"</h4>-->

      <!--Список-->
  <!--    <p>Активируйте вижн-карту сроком на 1 год!</p>-->
  <!--    <p>Используйте усилия вашего подсознания и вселенной по максимуму!</p>-->

      <!--Стоимость-->
  <!--    <h2 style="margin-top: 64px; text-align: center;">149 ₽/месяц</h2>-->
  <!--    <p class="text-secondary"-->
  <!--       style="margin: 0 0 32px 0; text-align: center;">-->
  <!--      при оплате за 12 месяцев-->
  <!--    </p>-->

      <!--Кнопка-->
  <!--    <button type="button"-->
  <!--            class="btn btn-primary"-->
  <!--            style="width: 100%; height: 40px; vertical-align: middle;">-->
  <!--      <a href="{% url 'payment' 2 %}"-->
  <!--         style="color:inherit; text-decoration: none;">-->
  <!--        Оформить на год-->
  <!--      </a>-->
  <!--    </button>-->

  <!--  </div>-->
  <!--</div>-->

    <!--Вечный-->
    <div class="col">
        <div class="w-100 p-3" style="border-radius: .5rem; background-color: #f2f2f2;">
            
            <!--Эмодзи-->
            <p class="mb-3" style="font-size: 4rem;">🤩🥳🎉</p>
            
            <!--Наименование-->
            <h4 class=" mb-3">Тариф "Вечный"</h4>
            
            <!--Список-->
            <p>Активируйте вижн-карту навсегда!</p>
            <p class="mb-3">Используйте усилия вашего подсознания и вселенной по максимуму!</p>
            <br>
            
            <!--Стоимость-->
            <h2 class="text-center mb-1">2 999 ₽</h2>
            <p class="text-secondary text-center mb-4">раз и навсегда</p>

            <!--Кнопка-->
            <a href="{% url 'payment' 3 %}" class="text-decoration-none">
                <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить навсегда</button>
            </a>
            
        </div>
    </div>
  
  
  
  
  
  <!--<div class="col px-2 py-2">-->
  <!--  <div style="width: 100%;-->
  <!--              border-radius: 10px;-->
  <!--              background-color: #f2f2f2;-->
  <!--              padding: 24px;">-->

      <!--Эмодзи-->
  <!--    <p style="font-size: 64px; text-align: left;">🤩🥳🎉</p>-->

  <!--    <h4 style="margin: 0 0 32px 0; text-align: left;">Тариф "Вечный"</h4>-->

      <!--Список-->
  <!--    <p>Активируйте вижн-карту навсегда!</p>-->
  <!--    <p>Используйте усилия вашего подсознания и вселенной по максимуму!</p>-->

      <!--Стоимость-->
  <!--    <h2 style="margin-top: 64px; text-align: center;">2 999 ₽</h2>-->
  <!--    <p class="text-secondary"-->
  <!--       style="margin: 0 0 32px 0; text-align: center;">-->
  <!--      раз и навсегда-->
  <!--    </p>-->

      <!--Кнопка-->
  <!--    <button type="button"-->
  <!--            class="btn btn-primary"-->
  <!--            style="width: 100%; height: 40px; vertical-align: middle;">-->
  <!--      <a href="{% url 'payment' 3 %}"-->
  <!--         style="color:inherit; text-decoration: none;">-->
  <!--        Оформить навсегда-->
  <!--      </a>-->
  <!--    </button>-->

  <!--  </div>-->
  <!--</div>-->
</div>
