{% load static %}

<div style="padding: 0 12px 16px 12px;">
    {% if actual_page == 'profile_page' %}
        <!--Страница "Профиль пользователя"-->
        {% if profile.subscription.is_active %}
            <!--БЛОК-->
            <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                <p class="m-0 p-0 w-100">Режим вижн-карты активен</p>
                <a href="#subscription" class="text-decoration-none" data-bs-toggle="collapse" style="height: 24px;">
                    <span class="material-symbols-outlined text-secondary ms-2">expand_more</span>
                </a>
            </div>
            <!--КОНТЕНТ-->
            <div class="collapse p-3" id="subscription" style="border-radius: .375rem; background-color: #f2f2f2;">
                <!--ЗАГОЛОВОК-->
                <h4 class="m-0 mb-3 p-0" align="left">ВИЖН-карта</h4>
                <!--ДАТА ОКОНЧАНИЯ ПОДПИСКИ-->
                <div class="d-flex justify-content-between align-items-start mb-2">
                    <p class="text-secondary m-0 p-0">Окончание</p>
                    <p class="ps-2 m-0 p-0" align="right">{{ profile.subscription.expired_date }}</p>
                </div>
                <!--АВТОПЛАТЕЖИ-->
                <div class="d-flex justify-content-between align-items-start">
                    <p class="text-secondary m-0 p-0">Автоплатежи</p>
                    {% if profile.subscription.autopay %}
                        <a href="{% url 'subscription_autopay_change' %}" class='text-decoration-none'>
                            {% include 'svg/switch.html' with status='ON' %}
                        </a>
                    {% else %}
                        {% if profile.subscription.payment_method_id %}
                            <a href="{% url 'subscription_autopay_change' %}" class='text-decoration-none'>
                                {% include 'svg/switch.html' with status='OFF' %}
                            </a>
                        {% else %}
                            {% include 'svg/switch.html' with status='OFF' %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <hr class="text-black-50 mb-0">
        {% else %}
            <!--ПРОМО ВИЖН-КАРТЫ-->
            <h4 class="m-0 mb-2 p-0">Не работает карта желаний?</h4>
            <p class="m-0 mb-3">Активируйте режим ВИЖН-карты, запрограммируйте ваше подсознание, и оно исполнит все ваши желания!</p>
            <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue">
                <button class="btn btn-primary w-100" style="height: 3rem;">Активировать ВИЖН-карту</button>
            </a>
            <hr class="text-black-50 mb-0">
        {% endif %}
<!--{% comment %}-->


<!--        &lt;!&ndash;БЛОК&ndash;&gt;-->
<!--    -->
<!--        <div class="d-flex flex-row justify-content-between align-items-center mb-3">-->
<!--            <p class="m-0 p-0 w-100">Подписка активна</p>-->
<!--            <a href="#subscription" class="text-decoration-none" data-bs-toggle="collapse" style="height: 24px;">-->
<!--                <span class="material-symbols-outlined text-secondary ms-2">expand_more</span>-->
<!--            </a>-->
<!--        </div>-->
<!--        &lt;!&ndash;КОНТЕНТ&ndash;&gt;-->
<!--        <div class="collapse p-3" id="subscription" style="border-radius: .375rem; background-color: #f2f2f2;">-->
<!--            &lt;!&ndash;ЗАГОЛОВОК&ndash;&gt;-->
<!--            <h4 class="m-0 mb-3 p-0" align="left">-->
<!--                {% if profile.subscription.tariff.is_visionmap %}ВИЖН-карта-->
<!--                {% else %}Карта желаний-->
<!--                {% endif %}-->
<!--            </h4>-->
<!--            &lt;!&ndash;ДАТА ОКОНЧАНИЯ ПОДПИСКИ&ndash;&gt;-->
<!--            <div class="d-flex justify-content-between align-items-start mb-2">-->
<!--                <p class="text-secondary m-0 p-0">Окончание</p>-->
<!--                <p class="ps-2 m-0 p-0" align="right">{{ profile.subscription.expired_date }}</p>-->
<!--            </div>-->
<!--            &lt;!&ndash;АВТОПЛАТЕЖИ&ndash;&gt;-->
<!--            <div class="d-flex justify-content-between align-items-start">-->
<!--                <p class="text-secondary m-0 p-0">Автоплатежи</p>-->
<!--                {% if profile.subscription.autopay %}-->
<!--                    <a href="{% url 'subscription_autopay_change' %}" class='text-decoration-none'>-->
<!--                        {% include 'svg/switch.html' with status='ON' %}-->
<!--                    </a>-->
<!--                {% else %}-->
<!--                    {% if profile.subscription.payment_method_id %}-->
<!--                        <a href="{% url 'subscription_autopay_change' %}" class='text-decoration-none'>-->
<!--                            {% include 'svg/switch.html' with status='OFF' %}-->
<!--                        </a>-->
<!--                    {% else %}-->
<!--                        {% include 'svg/switch.html' with status='OFF' %}-->
<!--                    {% endif %}-->
<!--                {% endif %}-->
<!--            </div>-->
<!--            {% if not profile.subscription.tariff.is_visionmap %}-->
<!--                &lt;!&ndash;ПРОМО ВИЖН-КАРТЫ&ndash;&gt;-->
<!--                <hr class="text-black-50">-->
<!--                <div class="d-flex justify-content-between align-items-center mb-2">-->
<!--                    <h4 class="m-0 p-0">Режим вижн-карты</h4>-->
<!--                    <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue">-->
<!--                        {% include 'svg/switch.html' with status='OFF' %}-->
<!--                    </a>-->
<!--                </div>-->
<!--                <p class="mb-2">Хотите повысить эффективность вашей карты желаний? </p>-->
<!--                <p class="m-0">Активируйте режим ВИЖН-карты, проработайте ваши желания, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>-->
<!--            {% endif %}-->
<!--        </div>-->
<!--        <hr class="text-black-50 mb-0">-->



<!--{% endcomment %}-->

    {% else %}
        <!--Страница "Желание"-->
        {% if not profile.subscription.is_active %}
            <hr class="text-black-50" style="margin: 0 0 16px 0;">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="m-0 p-0">Режим вижн-карты</h4>
                <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue">
                    {% include 'svg/switch.html' with status='OFF' %}
                </a>
            </div>
            <p class="mb-2">Хотите повысить эффективность вашей карты желаний? </p>
            <p class="mb-3">Активируйте режим ВИЖН-карты, проработайте ваши желания, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>
        {% endif %}
    {% endif %}
    {% include 'app_sales/dialogue__subscription.html' %}
</div>

<!-- &lt;!&ndash;ПРОМО ВИЖН-КАРТЫ&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="d-flex justify-content-between align-items-center mb-2">&ndash;&gt;-->
<!--                <h4 class="m-0 mb-2 p-0">Не работает карта желаний?</h4>-->

<!--&lt;!&ndash;                <h4 class="m-0 p-0">Режим вижн-карты</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue">&ndash;&gt;-->
<!--&lt;!&ndash;                    {% include 'svg/switch.html' with status='OFF' %}&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <p class="mb-2">Хотите повысить эффективность вашей карты желаний? </p>&ndash;&gt;-->
<!--            <p class="m-0 mb-3">Активируйте режим ВИЖН-карты, запрограммируйте ваше подсознание, и оно исполнит все ваши желания!</p>-->
<!--&lt;!&ndash;            <p class="m-0">Активируйте режим ВИЖН-карты, проработайте ваши желания, запрограммируйте подсознание, и оно исполнит все ваши желания!</p>&ndash;&gt;-->
<!--                    <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#subscription_info_dialogue">-->
