{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="subscription_info_dialogue"
{% endblock %}

{% block dialogue_title %}
    Подключите ваше подсознание и вселенную к исполнению ваших желаний!
{% endblock %}

{% block dialogue_body %}
    <p>В режиме ВИЖН-карты у ваших желаний появятся дополнительные элементы, с помощью которых, вы превратите ваши желания в конкретные инструкции, и запрограммируете ваше подсознание.</p>
<!--    <p class="mb-4">Таким образом вы запрограммируете ваше подсознание, и оно направит максимальное количество ресурсов на исполнение ваших желаний.</p>-->

<!--    <h3 class="mb-3">В процессе проработки желаний вы:</h3>-->
<!--    <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--        <span class="material-symbols-outlined">select_check_box</span>-->
<!--        <p class="ms-2">Разберётесь в собственных целях и желаниях</p>-->
<!--    </div>-->
<!--    <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--        <span class="material-symbols-outlined">select_check_box</span>-->
<!--        <p class="ms-2">Комплексно визуализируете каждое ваше желание</p>-->
<!--    </div>-->
<!--    <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--        <span class="material-symbols-outlined">select_check_box</span>-->
<!--        <p class="ms-2">Проработаете все страхи и ограничивающие убеждения</p>-->
<!--    </div>-->
<!--    <div class="d-flex flex-row justify-content-start align-items-start mb-3">-->
<!--        <span class="material-symbols-outlined">select_check_box</span>-->
<!--        <p class="ms-2">Активируете каждое из ваших желаний</p>-->
<!--    </div>-->
    <h3 class="mb-3">Оформите подписку</h3>
    {% include 'app_sales/card__tariff_visionmap.html' %}
{% endblock %}


<!--            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">-->

<!--                <div class="col mb-3">-->
<!--                    <div class="card border-0 p-4 h-100" style="border-radius: .5rem; background-color: #EEEEEE;">-->
<!--                        &lt;!&ndash;НАИМЕНОВАНИЕ&ndash;&gt;-->
<!--                        <p class="p-0 mb-3 mt-3 text-center text-primary fs-4">ВИЖН-карта</p>-->
<!--                        &lt;!&ndash;СТОИМОСТЬ&ndash;&gt;-->
<!--                        <h3 class="m-0 p-0 text-center">199 ₽</h3>-->
<!--                        <p class="m-0 p-0 text-center text-secondary mb-3">в месяц</p>-->
<!--                        &lt;!&ndash;ПУНКТЫ&ndash;&gt;-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0 pt-2">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Осознание желаний</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Комплексная визуализация</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Программирование</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0 mb-3">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Избавление от страхов и ограничивающих убеждений</p>-->
<!--                        </div>-->
<!--                        <a href="{% url 'payment_page' 1 %}" class="text-decoration-none w-100 p-0 m-0">-->
<!--                            <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить подписку</button>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;Максимальный&ndash;&gt;-->
<!--                <div class="col mb-3">-->
<!--                    <div class="card border-0 p-4 h-100" style="border-radius: .5rem; background-color: #EEEEEE;">-->
<!--                        &lt;!&ndash;НАИМЕНОВАНИЕ&ndash;&gt;-->
<!--                        <p class="p-0 mb-3 mt-3 text-center text-primary fs-4">Максимум</p>-->
<!--                        &lt;!&ndash;СТОИМОСТЬ&ndash;&gt;-->
<!--                        <h3 class="m-0 p-0 text-center">3 999 ₽</h3>-->
<!--                        <p class="m-0 p-0 text-center text-secondary mb-3">навсегда</p>-->
<!--                        &lt;!&ndash;ПУНКТЫ&ndash;&gt;-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0 pt-2">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Осознание желаний</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Комплексная визуализация</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Программирование</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0 mb-3">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Избавление от страхов и ограничивающих убеждений</p>-->
<!--                        </div>-->
<!--                        <a href="{% url 'payment_page' 2 %}" class="text-decoration-none w-100 p-0 m-0">-->
<!--                            <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить подписку</button>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->


<!--    <h3>Хватит жить серой и унылой жизнью!</h3>-->
<!--    <h3 class="mb-3">Время уходит!</h3>-->
<!--    <div class="d-flex flex-row justify-content-start align-items-center mb-3 w-100">-->
<!--        <div class="d-flex flex-row justify-content-center align-items-center" style="width: 32px; height: 32px; background-color: #EB5757; border-radius: .5rem;">-->
<!--            <p class="text-white m-0 p-0 fs-5">1</p>-->
<!--        </div>-->
<!--        <h3 class="m-0 p-0 ps-3 w-100">Активируйте режим ВИЖН-карты</h3>-->
<!--    </div>-->
<!--    <div class="d-flex flex-row justify-content-start align-items-center mb-3 w-100">-->
<!--        <div class="d-flex flex-row justify-content-center align-items-center" style="width: 32px; height: 32px; background-color: #F2994A; border-radius: .5rem;">-->
<!--            <p class="text-white m-0 p-0 fs-5">2</p>-->
<!--        </div>-->
<!--        <h3 class="m-0 p-0 ps-3 w-100">Проработайте ваши желания</h3>-->
<!--    </div>-->
<!--    <div class="d-flex flex-row justify-content-start align-items-center mb-3 w-100">-->
<!--        <div class="d-flex flex-row justify-content-center align-items-center" style="width: 32px; height: 32px; background-color: #F2C94C; border-radius: .5rem;">-->
<!--            <p class="text-white m-0 p-0 fs-5">3</p>-->
<!--        </div>-->
<!--        <h3 class="m-0 p-0 ps-3 w-100">Запрограммируйте ваше подсознание</h3>-->
<!--    </div>-->
<!--    <h3 class="mb-4 w-100">И все ваши желания обязательно исполнятся!</h3>-->

<!--        <h3 class="mb-4 ps-2 w-100">Активируйте режим ВИЖН-карты, проработайте ваши желания, запрограммируйте ваше подсознание и начните жить собственной жизнью!</h3>-->

<!--        <div style="width: 200px; height:24px; background-color: #EB5757">-->
<!--        </div>-->
<!--    </div>-->
        <!--    <hr class="text-black-50">-->
<!--    <h2 class="mb-3">Тарифы</h2>-->
<!--    {% comment %}-->
<!--    {% include 'app_sales/block__tariffs.html' %}-->
<!--    {% endcomment %}-->

