{% extends 'template__lp.html' %}


{% block title %}Оплата подписки{% endblock %}

{% block main %}
    <div class="container-fluid row m-0 p-0" style="background-color: #EEEEEE;">
        <!--Поле слева-->
        <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-2 m-0 p-0 "></div>
        <!--Основной контейнер-->
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 m-0 p-4 pt-5 pb-5">
            <h2 class="fs-1 mb-4"><b>Подписка</b></h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
                <!--Карта желаний-->
                <div class="col mb-3">
                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
                        <!--НАИМЕНОВАНИЕ-->
                        <p class="p-0 mb-3 mt-3 text-center text-primary fs-4">Карта желаний</p>
                        <!--СТОИМОСТЬ-->
                        <h3 class="m-0 p-0 text-center">99 ₽</h3>
                        <p class="m-0 p-0 text-center text-secondary mb-3">в месяц</p>
                        <!--ПУНКТЫ-->
                        <div class="d-flex flex-row justify-content-start align-items-start p-0 pt-2">
                            <span class="material-symbols-outlined">add</span>
                            <p class="ms-2">Осознание желаний</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="ms-2 opacity-50">Комплексная визуализация</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="ms-2 opacity-50">Программирование</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0 mb-3">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="ms-2 opacity-50">Избавление от страхов и ограничивающих убеждений</p>
                        </div>
                        <a href="{% url 'payment_page' 0 %}" class="text-decoration-none w-100 p-0 m-0">
                            <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить подписку</button>
                        </a>
                    </div>
                </div>
                <!--ВИЖН-карта-->
                <div class="col mb-3">
                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
                        <!--НАИМЕНОВАНИЕ-->
                        <p class="p-0 mb-3 mt-3 text-center text-primary fs-4">ВИЖН-карта</p>
                        <!--СТОИМОСТЬ-->
                        <h3 class="m-0 p-0 text-center">199 ₽</h3>
                        <p class="m-0 p-0 text-center text-secondary mb-3">в месяц</p>
                        <!--ПУНКТЫ-->
                        <div class="d-flex flex-row justify-content-start align-items-start p-0 pt-2">
                            <span class="material-symbols-outlined">add</span>
                            <p class="ms-2">Осознание желаний</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0">
                            <span class="material-symbols-outlined">add</span>
                            <p class="ms-2">Комплексная визуализация</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0">
                            <span class="material-symbols-outlined">add</span>
                            <p class="ms-2">Программирование</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0 mb-3">
                            <span class="material-symbols-outlined">add</span>
                            <p class="ms-2">Избавление от страхов и ограничивающих убеждений</p>
                        </div>
                        <a href="{% url 'payment_page' 1 %}" class="text-decoration-none w-100 p-0 m-0">
                            <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить подписку</button>
                        </a>
                    </div>
                </div>
                <!--Максимальный-->
                <div class="col mb-3">
                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
                        <!--НАИМЕНОВАНИЕ-->
                        <p class="p-0 mb-3 mt-3 text-center text-primary fs-4">Максимум</p>
                        <!--СТОИМОСТЬ-->
                        <h3 class="m-0 p-0 text-center">3 999 ₽</h3>
                        <p class="m-0 p-0 text-center text-secondary mb-3">навсегда</p>
                        <!--ПУНКТЫ-->
                        <div class="d-flex flex-row justify-content-start align-items-start p-0 pt-2">
                            <span class="material-symbols-outlined">add</span>
                            <p class="ms-2">Осознание желаний</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0">
                            <span class="material-symbols-outlined">add</span>
                            <p class="ms-2">Комплексная визуализация</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0">
                            <span class="material-symbols-outlined">add</span>
                            <p class="ms-2">Программирование</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0 mb-3">
                            <span class="material-symbols-outlined">add</span>
                            <p class="ms-2">Избавление от страхов и ограничивающих убеждений</p>
                        </div>
                        <a href="{% url 'payment_page' 2 %}" class="text-decoration-none w-100 p-0 m-0">
                            <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить подписку</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}



<!--            <h3 class="mb-4"><b>Выберите тариф</b></h3>-->
<!--            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">-->
<!--            {% comment %}-->
<!--                {% if profile.tariffs %}-->
<!--                    {% for tariff in profile.tariffs %}-->
<!--                        <div class="col">-->
<!--                            <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">-->
<!--                                &lt;!&ndash;НАИМЕНОВАНИЕ&ndash;&gt;-->
<!--                                <p class="p-0 mb-3 mt-3 text-center text-primary fs-4">{{ tariff }}</p>-->
<!--                                &lt;!&ndash;СТОИМОСТЬ&ndash;&gt;-->
<!--                                <h3 class="m-0 p-0 text-center">{{ tariff.price }} ₽</h3>-->
<!--                                <p class="m-0 p-0 text-center text-secondary mb-3">-->
<!--                                    {% if tariff.period == 1234 %} навсегда-->
<!--                                    {% elif tariff.period == 1 %}за {{ tariff.period }} месяц-->
<!--                                    {% elif tariff.period < 5 %}за {{ tariff.period }} месяца-->
<!--                                    {% else %}за {{ tariff.period }} месяцев-->
<!--                                    {% endif %}-->
<!--                                </p>-->
<!--                                &lt;!&ndash;ПУНКТЫ&ndash;&gt;-->
<!--                                <div class="d-flex flex-row justify-content-start align-items-start p-0 pt-2">-->
<!--                                    <span class="material-symbols-outlined">select_check_box</span>-->
<!--                                    <p class="ms-2">Осознание желаний</p>-->
<!--                                </div>-->
<!--                                <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                                    <span class="material-symbols-outlined">select_check_box</span>-->
<!--                                    <p class="ms-2">Комплексная визуализация</p>-->
<!--                                </div>-->
<!--                                <div class="d-flex flex-row justify-content-start align-items-start p-0 mb-3">-->
<!--                                    <span class="material-symbols-outlined">select_check_box</span>-->
<!--                                    <p class="ms-2">Избавление от страхов и ограничивающих убеждений</p>-->
<!--                                </div>-->
<!--                                <a href="{{ tariff.get_payment_url }}" class="text-decoration-none w-100 p-0 m-0">-->
<!--                                    {% if tariff.is_popular %}-->
<!--                                        <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить подписку</button>-->
<!--                                    {% else %}-->
<!--                                        <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить подписку</button>-->
<!--                                    {% endif %}-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    {% endfor %}-->
<!--                {% endif %}-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--                        {% endcomment %}-->
