
<div class="container-fluid row m-0 p-0 pt-4 pb-4" style="background-color: #eeeeee;">
    <!--Отступ-->
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3 m-0 p-0"></div>
    <!--Основной контейнер-->
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 m-0 p-4 pt-5 pb-5">
        <h2 class="fs-1 mb-4"><b>Создавая карту желаний вы</b></h2>
        <!--Десктоп-->
        <div class="d-none d-sm-none d-md-block">
            <!--1-->
            <div class="d-flex flex-row justify-content-start align-items-center mb-3">
                <span style="font-size: 28px;">✅</span>
                <div class="ms-3">
                    <p class="fs-5 fw-light m-0 p-0">Разберётесь в собственных целях и желаниях</p>
                </div>
            </div>
            <!--2-->
            <div class="d-flex flex-row justify-content-start align-items-center mb-3">
                <span style="font-size: 28px;">✅</span>
                <div class="ms-3">
                    <p class="fs-5 fw-light m-0 p-0">Комплексно визуализируете и проработаете каждое ваше желание</p>
                </div>
            </div>
            <!--3-->
            <div class="d-flex flex-row justify-content-start align-items-center mb-3">
                <span style="font-size: 28px;">✅</span>
                <div class="ms-3">
                    <p class="fs-5 fw-light m-0 p-0">Запрограммируете ваше подсознание</p>
                </div>
            </div>
            <!--4-->
            <div class="d-flex flex-row justify-content-start align-items-center mb-3">
                <span style="font-size: 28px;">✅</span>
                <div class="ms-3">
                    <p class="fs-5 fw-light m-0 p-0">Проработаете страхи и ограничивающие убеждения</p>
                </div>
            </div>
            <!--5-->
            <div class="d-flex flex-row justify-content-start align-items-center mb-4">
                <span style="font-size: 28px;">✅</span>
                <div class="ms-3">
                    <p class="fs-5 fw-light m-0 p-0">Активируете все ваши желания</p>
                </div>
            </div>
        </div>
        <!--Мобайл-->
        <div class="d-block d-sm-block d-md-none">
            <!--1-->
            <div class="d-flex flex-row justify-content-start align-items-start mb-3">
                <span style="font-size: 28px;">✅</span>
                <div class="mt-1 ms-3">
                    <p class="fs-5 fw-light m-0 p-0">Разберётесь в собственных целях и желаниях</p>
                </div>
            </div>
            <!--2-->
            <div class="d-flex flex-row justify-content-start align-items-start mb-3">
                <span style="font-size: 28px;">✅</span>
                <div class="mt-1 ms-3">
                    <p class="fs-5 fw-light m-0 p-0">Комплексно визуализируете и проработаете каждое ваше желание</p>
                </div>
            </div>
            <!--3-->
            <div class="d-flex flex-row justify-content-start align-items-start mb-3">
                <span style="font-size: 28px;">✅</span>
                <div class="mt-1 ms-3">
                    <p class="fs-5 fw-light m-0 p-0">Запрограммируете ваше подсознание</p>
                </div>
            </div>
            <!--4-->
            <div class="d-flex flex-row justify-content-start align-items-start mb-3">
                <span style="font-size: 28px;">✅</span>
                <div class="mt-1 ms-3">
                    <p class="fs-5 fw-light m-0 p-0">Проработаете страхи и ограничивающие убеждения</p>
                </div>
            </div>
            <!--5-->
            <div class="d-flex flex-row justify-content-start align-items-start mb-4">
                <span style="font-size: 28px;">✅</span>
                <div class="mt-1 ms-3">
                    <p class="fs-5 fw-light m-0 p-0">Активируете все ваши желания</p>
                </div>
            </div>
        </div>

<!--            <hr class="mb-4">-->
<!--            <p class="fs-5 fw-light text-center">Всё это запрограммирует ваше подсознание, синхронизирует работу вашего сознания, подсознания и вселенной, и направит все доступные вам ресурсы на исполнение ваших желаний.</p>-->

<!--            <p class="m-0 p-0 fs-2 fw-light text-center">Всё это глубоко запрограммирует ваше подсознание, синхронизирует работу вашего сознания, подсознания и вселенной, и направит все доступные вам ресурсы на исполнение ваших желаний.</p>-->
<!--            <p class="m-0 p-0 text-center" style="font-size: 80px;">🎉</p>-->

<!--        <p class="fs-5 fw-light mb-1">Создавая вашу вижн-карту, вы проработаете каждое ваше желание, и сделаете его набором визуальных, эмоциональных, мотивационных и других компонентов.-->
<!--        <p class="fs-5 fw-light mb-1">Такая проработка глубоко запрограммирует ваше подсознание, синхронизирует работу вашего сознания, подсознания и вселенной, и направит все доступные вам ресурсы на исполнение ваших желаний.</p>-->

<!--        </div>-->
    </div>
</div>


