

<div class="container-fluid m-0 p-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
        {% comment %}
        {% include 'icons/logo.html' %}
        {% endcomment %}
        <h2><b>картажеланий.рф</b></h2>
        <a href="{% url 'login_page' %}" class="text-decoration-none">
            <button type="button" class="btn btn-outline-primary">Вход</button>
        </a>
    </div>
</div>
