{% load static %}

<div class="container-fluid row m-0 p-0 pt-4 pb-4" style="background-color: #FFFFFF">

    <!--Поле слева-->
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3 m-0 p-0"></div>

    <!--Основной контейнер-->
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 m-0 p-0">
        <div class="container-fluid m-0 p-4 pt-5 pb-5">

            <h2 class="fs-1 mb-4"><b>Создайте проект вашей идеальной жизни и подключите подсознание к его исполнению!</b></h2>
            <p class="fs-5 fw-light">Карта желаний – это проект вашей идеальной жизни, в котором вам необходимо отразить:</p>

            <!--1-->
            <div class="d-flex flex-row justify-content-start align-items-start">
                <span style="font-size: 48px;">🥰</span>
                <div class="mt-2 ms-3">
                    <p class="fs-5 fw-light">Какими станете вы, ваш партнер, и ваши идеальные отношения</p>
                </div>
            </div>
            <!--2-->
            <div class="d-flex flex-row justify-content-start align-items-start">
                <span style="font-size: 48px;">😍</span>
                <div class="mt-2 ms-3">
                    <p class="fs-5 fw-light">Какой будет ваша деятельность, сколько материальных благ и удовольствия она будет приносить</p>
                </div>
            </div>
            <!--3-->
            <div class="d-flex flex-row justify-content-start align-items-start">
                <span style="font-size: 48px;">🤩</span>
                <div class="mt-2 ms-3">
                    <p class="fs-5 fw-light">Какие люди будут вас окружать, и как они будут к вам относиться</p>
                </div>
            </div>
            <!--4-->
            <div class="d-flex flex-row justify-content-start align-items-start">
                <span style="font-size: 48px;">🎉</span>
                <div class="mt-2 ms-3">
                    <p class="fs-5 fw-light">Какой станет ваша жизнь, и как она будет приносить вам наслаждение и удовлетворение</p>
                </div>
            </div>
            <p class="m-0 mt-2 fs-5 fw-light">Таким образом, карта желаний запрограммирует ваше подсознание, синхронизирует работу вашего сознания, подсознания и вселенной, и направит все доступные ресурсы на исполнение ваших желаний.</p>

        </div>
    </div>
</div>


