
<div class="container-fluid row m-0 p-0 bg-white">
    <!--Поле слева-->
    <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-2 m-0 p-0"></div>
    <!--Основной контейнер-->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 m-0 p-4 pt-5 pb-5">
        <div class="container-fluid m-0 p-0">
            <p class="m-0 p-0 text-center" style="font-size: 80px;">❓</p>
            <h2 class="fs-1 mb-4 text-center"><b>Хотите узнать главный секрет карты желаний?</b></h2>
            <!--Контент-->
            <div class="collapse m-4 mt-3 p-4" id="infoblock_main_secret" style="border-radius: .375rem; background-color: #f2f2f2">
                <p class="m-0 p-0 text-center" style="font-size: 80px;">☝</p>
                <p class="fs-2 fw-light text-center">Чтобы ваша карта желаний работала, нужно чтобы она у вас была!</p>
            </div>
            <div class="d-flex justify-content-center">
                <!--Кнопка-->
                <a href="#infoblock_main_secret" class="text-decoration-none" data-bs-toggle="collapse">
                    <button class="btn btn-primary" style="height: 3rem;"
                            type="button"
                            id="main_secret_button"
                            onclick="hide_main_secret_button()">
                        &nbsp;&nbsp;Конечно хочу!&nbsp;&nbsp;
                    </button>
                </a>
            </div>
        </div>
    </div>

    <script>
        function hide_main_secret_button() {
            var main_secret_button = document.getElementById("main_secret_button");
            main_secret_button.hidden = true;
        }
    </script>

</div>


