{% load static %}


<div class="container-fluid row m-0 p-0 pt-4 pb-4" style="background-color: #fed500">
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3 m-0 p-0"></div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 m-0 p-0">
        <div class="container-fluid m-0 p-4 pt-5 pb-5">
            <h2 class="fs-1 mb-4"><b>Не знаете как создать карту желаний правильно?</b></h2>
            <div class="d-flex flex-row justify-content-start align-items-start">
                <img src="{% static 'images/info-icon-128.png' %}" style="width: 48px; height: 48px; border-radius: .5rem; background-color: #ffffff" alt="Инфоблок">
                <div class="ms-3">
                    <p class="fs-5 fw-light">Не волнуйтесь! Информационные блоки внутри приложения ответят на все ваши вопросы</p>
                </div>
            </div>
        </div>
    </div>
</div>