
<div class="container-fluid row m-0 p-0" style="background-color: #EEEEEE;">
    <!--Поле слева-->
    <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-2 m-0 p-0"></div>
    <!--Основной контейнер-->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 m-0 p-4 pt-5 pb-5">
        <div class="container-fluid m-0 p-0">
            <h2 class="fs-1 mb-4 text-center"><b>Электронная карта желаний лучше обычной!</b></h2>
            <!--1-->
            <div class="d-flex flex-row justify-content-start align-items-start mb-3">
                <span style="font-size: 48px;">😍</span>
                <div class="mt-2 ms-3">
                    <p class="fs-5 m-0 mb-1 p-0"><b>Создайте вашу карту желаний прямо сейчас!</b></p>
                    <p class="fs-5 fw-light m-0 p-0">Приступите к созданию карты желаний сразу после регистрации</p>
                </div>
            </div>
            <!--2-->
            <div class="d-flex flex-row justify-content-start align-items-start mb-3">
                <span style="font-size: 48px;">😍</span>
                <div class="mt-2 ms-3">
                    <p class="fs-5 m-0 mb-1 p-0"><b>Используйте любые изображения!</b></p>
                    <p class="fs-5 fw-light m-0 p-0">Загрузите в вашу карту желаний любые изображения из интернета или смартфона</p>
                </div>
            </div>
            <!--3-->
            <div class="d-flex flex-row justify-content-start align-items-start mb-3">
                <span style="font-size: 48px;">😍</span>
                <div class="mt-2 ms-3">
                    <p class="fs-5 m-0 mb-1 p-0"><b>Изменяйте и дополняйте!</b></p>
                    <p class="fs-5 fw-light m-0 p-0">Легко вносите изменения в вашу карту желаний тогда, когда вам это необходимо</p>
                </div>
            </div>
            <!--4-->
            <div class="d-flex flex-row justify-content-start align-items-start mb-3">
                <span style="font-size: 48px;">😍</span>
                <div class="mt-2 ms-3">
                    <p class="fs-5 m-0 mb-1 p-0"><b>Доступна в 1 клик! Всегда!</b></p>
                    <p class="fs-5 fw-light m-0 p-0">Используйте вашу карту желаний всегда, когда вам это необходимо</p>
                </div>
            </div>
            <!--5-->
            <div class="d-flex flex-row justify-content-start align-items-start mb-3">
                <span style="font-size: 48px;">😍</span>
                <div class="mt-2 ms-3">
                    <p class="fs-5 m-0 mb-1 p-0"><b>Недоступна для чужих глаз!</b></p>
                    <p class="fs-5 fw-light m-0 p-0">Вы сможете загадать ваши самые сокровенные желания и о них никто не узнает</p>
                </div>
            </div>
            <!--6-->
            <div class="d-flex flex-row justify-content-start align-items-start mb-3">
                <span style="font-size: 48px;">😍</span>
                <div class="mt-2 ms-3">
                    <p class="fs-5 m-0 mb-1 p-0"><b>Вы всё сделаете правильно!</b></p>
                    <p class="fs-5 fw-light m-0 p-0">Информация о том, как сделать эффективную карту желаний доступна прямо в приложении</p>
                </div>
            </div>
        </div>
    </div>
</div>


