{% load static %}


<div class="container-fluid row m-0 p-0 pt-4 pb-4" style="background-color: #ffffff;">
    <!--Отступ-->
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3 m-0 p-0 "></div>
    <!--Основной контейнер-->
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 m-0 p-4 pt-5 pb-5">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="fs-1 mb-4"><b>Тарифы</b></h2>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">

            <!--ЕЖЕМЕСЯЧНЫЙ-->
            <div class="col mb-3">
                <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
                    <!--НАИМЕНОВАНИЕ-->
                    <p class="fs-5 mb-2 p-0 pt-2"><b>Тариф "Ежемесячный"</b></p>
                    <!--СТОИМОСТЬ-->
                    <p class="fs-1 m-0 p-0" style="font-weight: 400;">199 ₽</p>
                    <p class="text-black-50 mb-0">ежемесячно</p>
                    <p class="text-secondary mb-4">&nbsp;</p>
                    <hr class="text-black-50 m-0 mb-4">
                    <!--ТЕКСТ-->
                    <div style="height: 8rem;">
                        <p class="m-0 mb-4">Создайте карту желаний, запрограммируйте подсознание, и все ваши желания исполнятся!</p>
                    </div>
                    <!--КНОПКА-->
                    <a href="{% url 'payment_page' 1 %}" class="text-decoration-none w-100 p-0 m-0">
                        <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">Оформить за 199 ₽</button>
                    </a>
                </div>
            </div>

            <!--ПРОМО-->
            <div class="col mb-3">
                <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
                    <!--НАИМЕНОВАНИЕ-->
                    <p class="fs-5 mb-2 p-0 pt-2"><b>Тариф "Ежемесячный"</b></p>
                    <!--СТОИМОСТЬ-->
                    <div class="d-flex justify-content-start align-items-center">
                        <p class="fs-1 m-0 p-0 text-danger" style="font-weight: 400;">49 ₽</p>
                        <p class="fs-1 m-0 ms-3 p-0 text-decoration-line-through" style="font-weight: 400;">199 ₽</p>
                    </div>
                    <p class="text-black-50 mb-0">за первый месяц,</p>
                    <p class="text-black-50 mb-4">затем 199 ₽ ежемесячно</p>

                    <hr class="text-black-50 m-0 mb-4">
                    <!--ТЕКСТ-->
                    <div style="height: 8rem;">
                        <p class="m-0 mb-3 text-danger"><b>СКИДКА 75% ОТ</b></p>
                        <div class="d-flex justify-content-start align-items-center w-100 mb-4">
                            <div class="d-inline-flex me-3">
                                    <img src="{{ leader.get_userpic_url }}" class="rounded-circle" width="48" height="48">
                            </div>
                            <p class="m-0 p-0">{{ leader }}</p>
                        </div>
                    </div>
                    <!--КНОПКА-->
                    <a href="{% url 'payment_page' 49 %}" class="text-decoration-none w-100 p-0 m-0">
                        <button type="button" class="btn btn-primary w-100" style="height: 3rem;">Оформить за 49 ₽</button>
                    </a>
                </div>
            </div>




        </div>
    </div>
</div>
