{% load static %}


<div class="d-block d-sm-block d-md-none m-0 p-3 pt-5 pb-5" style="background-color: #EEEEEE;">
    <div class="w-100 p-2 pb-4">
        <h3 class="mb-2 text-secondary" style="font-size: 20pt; font-weight: 300; line-height: 140%;">
            Онлайн конструктор
        </h3>
        <h1 class="mb-4" style="font-size: 32pt; font-weight: 600; line-height: 120%;">
            Сделайте карту желаний, которая работает!
        </h1>
        <div class="w-100 mb-4">
            <img src="{% static 'images/WM-on-devices-2.png' %}" class="w-100" alt="Карта желаний онлайн">
        </div>
        <a href="{% url 'registration_page' %}" class="text-decoration-none">
            <button type="button" class="btn btn-primary w-100 mt-2" style="height: 3rem;">
                Создать карту желаний
            </button>
        </a>
    </div>
</div>
