{% load static %}


<div class="container-fluid m-0 p-4" style="background-color: #fed500;">
    <a href="https://t.me/izobblog" class="text-decoration-none text-black">
        <div class="d-flex flex-row justify-content-start align-items-start">
            <!--ИКОНКА-->
            <img src="{% static '/images/telegram.png' %}" style="width: 48px; height: 48px; border-radius: 24px;">
            <!--ТЕКСТ-->
            <div>
                <p class="m-0 ms-3 p-0 text-white"><small>Наш телеграм-канал</small></p>
                <p class="m-0 ms-3 p-0 text-white">ВИЖН. О карте желаний с научной точки зрения. Подписывайтесь!</p>
            </div>
        </div>
    </a>
</div>