{% load static %}

<div class="container-fluid row m-0 p-0 pt-4" style="background-color: #ffffff;">
    <!--Поле слева-->
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3"></div>
    <!--Основной контейнер-->
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 m-0 mt-2 p-4 pt-5 pb-0">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3 mb-0">
            <!--Текст-->
            <div class="col">
                <!--Десктоп-->
                <div class="d-none d-sm-none d-md-block">
                    <h2 class="fs-1 mb-4"><b>Установите приложение на свой смартфон</b></h2>
                    <p class="fs-5 fw-light">О том, как установить приложение вы узнаете после регистрации</p>
                </div>
                <!--Мобайл-->
                <div class="d-block d-sm-block d-md-none">
                    <h2 class="fs-1 text-center"><b>Установите приложение ВИЖН на свой смартфон</b></h2>
                    <p class="fs-5 fw-light text-center">О том, как установить приложение вы узнаете после регистрации</p>
                </div>
            </div>
            <!--Изображение-->
            <div class="col">
                <img src="{% static '/images/WM-on-iphone-2.png' %}" class="w-100" alt="ВИЖН на айфоне">
            </div>
        </div>
    </div>
</div>
