{% load static %}

    <div class="container-fluid row m-0 p-0" style="background-color: #f3f3f3;">
        <!--Поле слева-->
        <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-2 m-0 p-0 ">
            {% block left %}
            {% endblock %}
        </div>
        <!--Основной контейнер-->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 m-0 p-4 pt-5 pb-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="fs-1"><b>3 разновидности карты желаний</b></h2>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mb-4">
                <!--ОБЫЧНАЯ КАРТА ЖЕЛАНИЙ-->
                <div class="col mb-3">
                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
                        <!--НАИМЕНОВАНИЕ-->
                        <p class="p-0 mb-3 fs-5"><b>Обычная карта желаний. Эффективность 10%</b></p>
                        <!--ПРОГРЕСС-->
                        <div class="progress mb-3 bs-info-bg-subtle" style="border-radius: .250rem; height: 1.5rem;">
                            <div class="progress-bar progress-bar-striped bg-info text-start font-monospace" style="width: 10%; border-radius: .250rem;"></div>
                        </div>
                        <!--ИНСТРУМЕНТЫ-->
                        <p class="m-0 p-0 mb-2">Инструменты программирования подсознания:</p>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined">add</span>
                            <p class="mb-2 ms-2">Изображения</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="mb-2 ms-2 opacity-50">Желания</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="mb-2 ms-2 opacity-50">Фокусировка</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="mb-2 ms-2 opacity-50">Осознание исполнения</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="mb-2 ms-2 opacity-50">Проектирование воспоминаний</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="mb-2 ms-2 opacity-50">Принятие изменений</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="mb-2 ms-2 opacity-50">Проработка страхов и опасений</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start p-0">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="mb-2 ms-2 opacity-50">Активация желаний</p>
                        </div>
                    </div>
                </div>

                <!--ОНЛАЙН-КАРТА ЖЕЛАНИЙ-->
                <div class="col mb-3">
                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
                        <!--НАИМЕНОВАНИЕ-->
                        <p class="p-0 mb-3 fs-5"><b>Онлайн-карта желаний. Эффективность 30%</b></p>
                        <!--ПРОГРЕСС-->
                        <div class="progress mb-3 bs-info-bg-subtle" style="border-radius: .250rem; height: 1.5rem;">
                            <div class="progress-bar progress-bar-striped bg-info text-start font-monospace" style="width: 30%; border-radius: .250rem;"></div>
                        </div>
                        <!--ИНСТРУМЕНТЫ-->
                        <p class="m-0 p-0 mb-2">Инструменты программирования подсознания:</p>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined">add</span>
                            <p class="mb-2 ms-2">Изображения</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined">add</span>
                            <p class="mb-2 ms-2">Желания</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="mb-2 ms-2 opacity-50">Фокусировка</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="mb-2 ms-2 opacity-50">Осознание исполнения</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="mb-2 ms-2 opacity-50">Проектирование воспоминаний</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="mb-2 ms-2 opacity-50">Принятие изменений</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="mb-2 ms-2 opacity-50">Проработка страхов и опасений</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined opacity-50">remove</span>
                            <p class="mb-2 ms-2 opacity-50">Активация желаний</p>
                        </div>
                    </div>
                </div>

                <!--Вижн-карта-->
                <div class="col mb-3">
                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
                        <!--НАИМЕНОВАНИЕ-->
                        <p class="p-0 mb-3 fs-5"><b>Вижн-карта. Эффективность 100%</b></p>
                        <!--ПРОГРЕСС-->
                        <div class="progress mb-3 bs-info-bg-subtle" style="border-radius: .250rem; height: 1.5rem;">
                            <div class="progress-bar progress-bar-striped bg-info text-start font-monospace" style="width: 100%; border-radius: .250rem;"></div>
                        </div>
                        <!--ИНСТРУМЕНТЫ-->
                        <p class="m-0 p-0 mb-2">Инструменты программирования подсознания:</p>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined">add</span>
                            <p class="mb-2 ms-2">Изображения</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined">add</span>
                            <p class="mb-2 ms-2">Желания</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined">add</span>
                            <p class="mb-2 ms-2">Фокусировка</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined">add</span>
                            <p class="mb-2 ms-2">Осознание исполнения</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined">add</span>
                            <p class="mb-2 ms-2">Проектирование воспоминаний</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined">add</span>
                            <p class="mb-2 ms-2">Принятие изменений</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined">add</span>
                            <p class="mb-2 ms-2">Проработка страхов и опасений</p>
                        </div>
                        <div class="d-flex flex-row justify-content-start align-items-start">
                            <span class="material-symbols-outlined">add</span>
                            <p class="mb-2 ms-2">Активация желаний</p>
                        </div>
                    </div>
                </div>

            </div>
            <p class="fs-5 fw-light m-0">В приложении "ВИЖН" вы сможете сделать и электронную карту желаний и вижн-карту.</p>

        </div>
    </div>
