<div class="toast-container position-fixed m-0 p-0 bottom-0 end-0">
    <div id="liveToast" class="toast border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body bg-light p-3">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <p class="m-0 p-0">Внимание! Для полноценной работы сайта мы используем файлы cookie.</p>
                <button type="button" class="btn btn-outline-secondary ms-2" data-bs-dismiss="toast" aria-label="Закрыть">ОК</button>
            </div>
        </div>
    </div>
</div>


<!--<div class="toast-container position-fixed bottom-0 end-0 p-3">-->
<!--    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">-->
<!--        <div class="toast-body bg-light p-3">-->
<!--            <div class="d-flex flex-row justify-content-between align-items-start">-->
<!--                <p class="text-black m-0 p-0">Для полноценной работы сайта мы используем файлы cookie.</p>-->
<!--                <button type="button" class="btn-close btn-close ms-2" data-bs-dismiss="toast" aria-label="Закрыть"></button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script>
    const toastTrigger = document.getElementById('liveToastBtn')
    const toastLiveExample = document.getElementById('liveToast')
    window.onload = function() {
        const toast = new bootstrap.Toast(toastLiveExample)
        toast.show()
    };
</script>
