

<div class="container-fluid row m-0 p-0">
    <!--Отступ слева-->
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3"></div>
    <!--Основной контейнер-->
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 p-3 pt-0 pb-0">
        <div class="container-fluid p-1 pt-0 pb-0">
            <div class="container-fluid m-0 p-4" style="border-radius: 1rem; background-color: #fed500;">
                <h2 class="fs-1 mb-4"><b>Да! Вы правда можете использовать подсознание для получения желаемого!</b></h2>
                <a href="{% url 'registration_page' %}" class="text-decoration-none">
                    <button class="btn btn-primary w-100" style="height: 3rem;">Создать карту желаний</button>
                </a>
            </div>
        </div>
    </div>
</div>