{% load static %}

{% if profiles %}
    <div class="container-fluid row m-0 p-0 pt-4 pb-4" style="background-color: #FFFFFF;">
        <!--Отступ-->
        <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3 m-0 p-0 "></div>
        <!--Основной контейнер-->
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 m-0 p-4 pt-5 pb-5">
            <h2 class="fs-1 mb-4 text-center"><b>Эффективность приложения ВИЖН подтвердили {{ maps_count }} пользовател{{ maps_count_ending }}</b></h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3 mb-4">
                <div class="col">
                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem; background-color: #6FCF97;">
                        <p class="fs-5 m-0 mb-2 p-0">Создано карт желаний</p>
                        <h2 class="fs-1"><b>{{ maps_count }}</b></h2>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem; background-color: #56CCF2;">
                        <p class="fs-5 m-0 mb-2 p-0">Загадано желаний</p>
                        <h2 class="fs-1"><b>{{ wishes_count }}</b></h2>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem; background-color: #EB5757;">
                        <p class="fs-5 m-0 mb-2 p-0">Проработано страхов</p>
                        <h2 class="fs-1"><b>{{ fears_count }}</b></h2>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem; background-color: #F2994A;">
                        <p class="fs-5 m-0 mb-2 p-0">Исполнено желаний</p>
                        <h2 class="fs-1"><b>{{ archived_wishes_count }}</b></h2>
                    </div>
                </div>
            </div>
            <p class="m-0 p-0 fs-5 fw-light text-center">{{ everyday_users_count }} пользовател{{ everyday_users_count_ending }} используют приложение ежедневно!</p>
            <p class="m-0 p-0 text-center" style="font-size: 80px;">😍</p>
        </div>
    </div>
{% endif %}
