{% load static %}

{% if profiles %}
    <div class="container-fluid row m-0 p-0 pt-4 pb-4" style="background-color: #ffffff;">
        <!--Отступ-->
        <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3 m-0 p-0 "></div>
        <!--Основной контейнер-->
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 m-0 p-4 pt-5 pb-5">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="fs-1 mb-4"><b>Отзывы пользователей</b></h2>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">
                {% for profile in profiles %}
                    <div class="col">
                        {% include 'lp/card__feedback.html' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
