{% load static %}

<div class="container-fluid row m-0 p-0 bg-white">

<!--    &lt;!&ndash;Поле слева&ndash;&gt;-->
<!--    <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-2 m-0 p-0 "></div>-->
<!--    &lt;!&ndash;Основной контейнер&ndash;&gt;-->
<!--    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 m-0 p-4 pt-5 pb-5">-->

    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3 m-0 p-0 "></div>

    <!--Основной контейнер-->
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 m-0 p-4 pt-5 pb-5">

            <h2 class="fs-1 mb-4"><b>Книга "Вижн - эффективная реализация желаний"</b></h2>
            <p class="fs-5 fw-light">Если вы хотите узнать как, и почему работает карта желаний, прочитайте книгу, которая легла в основу данного сервиса.</p>
            <p class="fs-5 fw-light">Из книги вы узнаете, что карта желаний – это обычный инструмент, с помощью которого вы просто программируете ваше подсознание.</p>
<!--                , и несмотря на его высочайшую эффективность, в нем нет никакой магии.</p>-->
            <p class="fs-5 fw-light mb-4">Всё что вам необходимо – это научиться правильно его использовать.</p>

            <div class="d-flex justify-content-between align-items-start mb-4">

                <!--Изображение-->
<!--                <div class="d-flex justify-content-between">-->
                    <img src="{% static '/images/book_512.png' %}" class="w-50 shadow" alt="Книга ВИЖН - эффективная реализация желаний">
<!--                </div>-->
                <!--Оценка-->
<!--                <div class="d-flex justify-content-start align-items-center ms-4">-->
<!--                    <span class="display-1 text-black" style="white-space: nowrap;"><b>4,6</b></span>-->
<!--                    <span class="display-1 ms-2"><i class="bi bi-star-fill text-warning"></i></span>-->
<!--                </div>-->
            </div>

            <a href="https://www.litres.ru/izobov/installyacii-bystraya-realizaciya-zhelaemogo/" class="text-decoration-none">
                <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem;">
                    Перейти на ЛитРес:
                </button>
            </a>

    </div>
</div>
