

<div class="container-fluid row m-0 p-0 pt-4 pb-4" style="background-color: #fed500;">
    <!--Отступ-->
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3 m-0 p-0"></div>
    <!--Основной контейнер-->
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 m-0 p-4 pt-5 pb-5">
        <!--Десктоп-->
        <div class="d-none d-sm-none d-md-block">
            <h2 class="fs-1 mb-4"><b>Создайте свою карту желаний прямо сейчас!</b></h2>
            <a href="{% url 'registration_page' %}" class="text-decoration-none">
                <button class="btn btn-primary" style="height: 3rem;">Создать карту желаний</button>
            </a>
        </div>
        <!--Мобайл-->
        <div class="d-block d-sm-block d-md-none">
            <h2 class="fs-1 mb-4 text-center"><b>Создайте свою карту желаний прямо сейчас!</b></h2>
            <a href="{% url 'registration_page' %}" class="text-decoration-none">
                <button class="btn btn-primary w-100" style="height: 3rem;">Создать карту желаний</button>
            </a>
        </div>
    </div>
</div>
