
<div class="container-fluid row m-0 p-0" style="background-color: #EEEEEE;">

<!--    &lt;!&ndash;Поле слева&ndash;&gt;-->
<!--    <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-2 m-0 p-0"></div>-->
<!--    &lt;!&ndash;Основной контейнер&ndash;&gt;-->
<!--    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 m-0 p-4 pt-5 pb-5">-->

        <!--Поле слева-->
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3 m-0 p-0">
        {% block left %}
        {% endblock %}
    </div>

    <!--Основной контейнер-->
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 m-0 p-4 pt-5 pb-5">

        <p class="fs-5 fw-light">Чтобы ваши желания исполнялись, ваша карта желаний должна быть эффективной.</p>
        <p class="fs-5 fw-light">Она должна программировать ваше подсознание, синхронизировать работу вашего сознания, подсознания и вселенной, и направлять все доступные вам ресурсы на исполнение ваших желаний.</p>
<!--        <p class="fs-5 fw-light">Эффективность карты желаний напрямую зависит от того, сколько инструментов программирования подсознания в ней используется, и о того, насколько    часто вы с ней взаимодействуете.</p>-->

        <!--        <p class="fs-5 fw-light">Она должна глубоко программировать ваше подсознание, синхронизировать работу вашего сознания, подсознания и вселенной, и фокусировать все доступные вам ресурсы на реализации ваших желаний.</p>-->
<!--        <p class="fs-5 fw-light">Такого результата возможно добиться только используя максимальное количество методов программирования подсознания.</p>-->


<!--        вы проработаете каждое ваше желание, и сделаете его набором визуальных, эмоциональных, мотивационных и других компонентов.-->

<!--Такая проработка запрограммирует ваше подсознание, синхронизирует работу вашего сознания, подсознания и вселенной, и сфокусирует все доступные ресурсы на реализации ваших желаний.-->

<!--        <p class="fs-5 fw-light">Самый важный критерий карты желаний – это её эффективность. Если ваша карта желаний эффективна, значит ваши желания исполняются. Если неэффективна, значит нет.</p>-->
<!--        <p class="fs-5 fw-light">Эффективность карты желаний зависит от того, насколько глубоко она программирует ваше подсознание, то есть насколько много инструментов программирования подсознания в ней используется.</p>-->
<!--        <p class="fs-5 fw-light mb-4">В классической (бумажной) карте желаний используется всего 1 инструмент — изображения. В её электронной версии уже 2 — изображения и сами желания. В вижн-карте их 10, следовательно она наиболее эффективна.</p>-->

        <!--Сравнение-->
<!--        <div class="container-fluid m-0 p-0">-->
<!--            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-3 justify-content-center align-items-start mb-4">-->

<!--                &lt;!&ndash;Обычная карта желаний&ndash;&gt;-->
<!--                <div class="col mb-3">-->
<!--                    &lt;!&ndash;НАИМЕНОВАНИЕ&ndash;&gt;-->
<!--                    <p class="p-0 mb-3 fs-5"><b>Обычная Карта желаний</b></p>-->
<!--                        <p class="m-0 p-0 mb-3"><b>Эффективность 10%</b></p>-->
<!--                        &lt;!&ndash;ИНСТРУМЕНТЫ&ndash;&gt;-->
<!--                        <p class="m-0 p-0 mb-2 opacity-50">Инструменты:</p>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="mb-2 ms-2">Изображения</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Желания</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Фокусировка</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Осознание исполнения</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Проектирование воспоминаний</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Принятие изменений</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Проработка страхов и опасений</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Приоритезация</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start p-0">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Активация желаний</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="ms-2 opacity-50">Действия</p>-->
<!--                        </div>-->
<!--                </div>-->

<!--                &lt;!&ndash;Онлайн карта желаний&ndash;&gt;-->
<!--                <div class="col mb-3">-->
<!--                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">-->
<!--                        &lt;!&ndash;НАИМЕНОВАНИЕ&ndash;&gt;-->
<!--                        <p class="p-0 mb-3 fs-5 fw-light">Онлайн карта желаний</p>-->
<!--                        <p class="m-0 p-0 mb-3"><b>Эффективность 20%</b></p>-->
<!--                        &lt;!&ndash;ИНСТРУМЕНТЫ&ndash;&gt;-->
<!--                        <p class="m-0 p-0 mb-2 opacity-50">Инструменты:</p>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="mb-2 ms-2">Изображения</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="mb-2 ms-2">Желания</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Фокусировка</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Осознание исполнения</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Проектирование воспоминаний</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Принятие изменений</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Проработка страхов и опасений</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Приоритезация</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="mb-2 ms-2 opacity-50">Активация желаний</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined opacity-50">remove</span>-->
<!--                            <p class="ms-2 opacity-50">Действия</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash;Вижн-карта&ndash;&gt;-->
<!--                <div class="col mb-3">-->
<!--                    <div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">-->
<!--                        &lt;!&ndash;НАИМЕНОВАНИЕ&ndash;&gt;-->
<!--                        <p class="p-0 mb-3 fs-5 fw-light">Вижн-карта</p>-->
<!--                        <p class="m-0 p-0 mb-3"><b>Эффективность 100%</b></p>-->
<!--                        &lt;!&ndash;ИНСТРУМЕНТЫ&ndash;&gt;-->
<!--                        <p class="m-0 p-0 mb-2 opacity-50">Инструменты:</p>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="mb-2 ms-2">Изображения</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="mb-2 ms-2">Желания</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="mb-2 ms-2">Фокусировка</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="mb-2 ms-2">Осознание исполнения</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="mb-2 ms-2">Проектирование воспоминаний</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="mb-2 ms-2">Принятие изменений</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="mb-2 ms-2">Проработка страхов и опасений</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="mb-2 ms-2">Приоритезация</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="mb-2 ms-2">Активация желаний</p>-->
<!--                        </div>-->
<!--                        <div class="d-flex flex-row justify-content-start align-items-start">-->
<!--                            <span class="material-symbols-outlined">add</span>-->
<!--                            <p class="ms-2">Действия</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--            <p class="fs-5 fw-light m-0">В сервисе "ВИЖН" вы сможете легко сделать свою электронную карту желаний или вижн-карту.</p>-->

<!--        </div>-->
    </div>
</div>
