{% load static %}

<div class="d-none d-sm-none d-md-block m-0 p-0" style="background-color: #EEEEEE;">
    <div class="row align-items-center m-0 p-5">
        <!--УТП-->
        <div class="col-5 m-0">
            <h3 class="mb-2 text-secondary" style="font-size: 24pt; font-weight: 200; line-height: 140%;">
                Онлайн конструктор
            </h3>
            <h1 class="mb-5" style="font-size: 40pt; font-weight: 600; line-height: 120%;">
                Сделайте карту желаний, которая работает!
            </h1>

            <!--Кнопка "Создать карту желаний"-->
            <a href="{% url 'registration_page' %}" class="text-decoration-none">
                <button type="button" class="btn btn-primary mb-4 mt-2" style="height: 3rem;">
                    Создать карту желаний
                </button>
            </a>

        </div>
        <!---ИЗОБРАЖЕНИЕ--->
        <div class="col-7 p-0 pt-5 pb-5">
            <img src="{% static 'images/WM-on-devices.png' %}" class="w-100">
        </div>
    </div>
</div>
