


<a href="{% url 'landing_page' %}" class="text-decoration-none">
    <div style="padding: 16px 12px 16px 12px;">
        <div style="height: 24px;">
            {% include "icons/arrow_back.html" with status="PRIMARY"%}
        </div>
    </div>
</a>
