{% load static %}

<div class="card border-0 p-4 h-100 shadow" style="border-radius: .5rem;">
    <div class="d-flex flex-row align-items-center mb-2">
        <!--АВАТАР-->
        <img src="{{ profile.get_userpic_url }}" class="rounded-circle me-3" width="56" height="56" alt="Аватар пользователя">
        <!--ИМЯ-->
        <p class="m-0 mb-2 p-0"><b>{{ profile }}</b></p>
    </div>
    <!--ОЦЕНКА-->
    <div class="d-flex justify-content-start align-items-start mb-2">
        <span>{% include "icons/star_24.html" with status="WARNING" %}</span>
        <span class="ms-1">{% include "icons/star_24.html" with status="WARNING" %}</span>
        <span class="ms-1">{% include "icons/star_24.html" with status="WARNING" %}</span>
        <span class="ms-1">{% include "icons/star_24.html" with status="WARNING" %}</span>
        {% if profile.feedback_value == 4 %}
            <span class="ms-1">{% include "icons/star_24.html" with status="LIGHT" %}</span>
        {% else %}
            <span class="ms-1">{% include "icons/star_24.html" with status="WARNING" %}</span>
        {% endif %}
    </div>
    <!--ОТЗЫВ-->
    <p class="p-0 m-0"><i>{{ profile.feedback_text }}</i></p>
</div>
