{% extends 'template__lp.html' %}
{% load static %}

{% block og %}
    <meta property="og:title" content="картажеланий.рф – онлайн конструктор карты желаний"/>
    <meta property="og:description"
          content="С онлайн конструктором картажеланий.рф вы легко сделаете правильную карту желаний, которая работает. Используйте лучшие картинки и фотографии. Привлекайте в вашу жизнь богатство, здоровье, путешествия, славу и всё что пожелаете!"/>
    <meta property="og:image" content="{% static '/images/WM-on-devices-2.png' %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://картажеланий.рф"/>
{% endblock %}

{% block title %}
    картажеланий.рф – онлайн конструктор карты желаний
{% endblock %}

{% block description %}
    С онлайн конструктором картажеланий.рф вы легко сделаете правильную карту желаний, которая работает. Используйте лучшие картинки и фотографии. Привлекайте в вашу жизнь богатство, здоровье, путешествия, славу и всё что пожелаете!
{% endblock %}

{% block metrics %}
    {% include 'metrics__yandex.html' %}
{% endblock %}

{% block header %}
    {% include 'lp/block__navbar.html' %}
    {% comment %}
    {% include 'lp/block__telegram.html' %}
    {% endcomment %}

{% endblock %}

{% block main %}
    {% include 'lp/block__utp_desktop.html' %}
    {% include 'lp/block__utp_mobile.html' %}
    {% include 'lp/block__project.html' %}
    {% include 'lp/block__subconscious.html' %}
    {% include 'lp/block__install.html' %}
    {% include 'lp/block__how_to_do_it_right.html' %}
    {% include 'lp/block__indicators.html' %}
    {% include 'lp/block__process.html' %}
    {% include 'lp/block__feedbacks.html' %}
    {% include 'lp/block__registration.html' %}
    {% include 'lp/block__cookies.html' %}
{% endblock %}

{% block footer %}
    {% include 'lp/block__footer.html' %}
{% endblock %}
