.accordion-button {
    position: relative; !important
    display: flex; !important
    align-items: center; !important
    width: 100%; !important
    padding: 1rem 1.25rem; !important
    font-size: 1rem; !important
    color: #212529; !important
    text-align: left; !important
    background-color: #fff; !important
    border: 0; !important
    border-radius: .5rem; !important
    overflow-anchor: none; !important
    box-shadow: none; !important
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease !important
}

.accordion-button:not(.collapsed) {
    color: #0c63e4; !important
    background-color: #e7f1ff; !important
    box-shadow: none; !important
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); !important
    transform: rotate(-180deg) !important
}

.accordion-button::after {
    flex-shrink: 0; !important
    width: 1.25rem; !important
    height: 1.25rem; !important
    margin-left: auto; !important
    content: ""; !important
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); !important
    background-repeat: no-repeat; !important
    background-size: 1.25rem; !important
    transition: transform .2s ease-in-out !important
}

.accordion-button:focus {
    z-index: 3; !important
    border: 0; !important
    outline: 0; !important
    box-shadow: none; !important
}

.accordion-item {
    border: 0; !important
}

.accordion-item:first-of-type {
    border-top-left-radius: .5rem; !important
    border-top-right-radius: .5rem; !important
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: .5rem; !important
    border-top-right-radius: .5rem; !important
}

.accordion-item:not(:first-of-type) {
    border: 0; !important
}

.accordion-item:last-of-type {
    border-bottom-right-radius: .5rem; !important
    border-bottom-left-radius: .5rem; !important
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: .5rem; !important
    border-bottom-left-radius: .5rem; !important
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: .5rem; !important
    border-bottom-left-radius: .5rem; !important
}

.accordion-body {
    padding: 0 1rem 1rem 1rem; !important
}

.accordion-item {
    border: 0; !important
    border-radius: .5rem; !important
}
