
.lp_desktop_h1 {
    margin-bottom: 24px;
    font-size: 40pt;
    font-weight: 600;
    line-height: 120%;
}

.lp_desktop_h2 {
    margin-bottom: 24px;
    font-size: 36pt;
    font-weight: 600;
    line-height: 120%;
}

.lp_desktop_h3 {
    margin-bottom: 24px;
    font-size: 24pt;
    font-weight: 200;
    line-height: 140%;
}

.lp_desktop_p {
    margin-bottom: 16px;
    font-size: 18pt;
    font-weight: 200;
    line-height: 140%;
}

.lp_desktop_emoji {
    margin: 0 16px 24px 0;
    font-size: 32pt;
    line-height: 100%;
}

.lp_mobile_h1 {
    margin-bottom: 24px;
    font-size: 32pt;
    font-weight: 600;
    line-height: 120%;
}

.lp_mobile_h2 {
    margin-bottom: 24px;
    font-size: 28pt;
    font-weight: 600;
    line-height: 120%;
}

.lp_mobile_h3 {
    margin-bottom: 24px;
    font-size: 20pt;
    font-weight: 200;
    line-height: 140%;
}

.lp_mobile_p {
    margin-bottom: 16px;
    font-size: 16pt;
    font-weight: 200;
    line-height: 140%;
}

.lp_mobile_emoji {
    margin: 0 16px 16px 0;
    font-size: 28pt;
    line-height: 100%;
}
