
<!--<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--    <rect width="24" height="24" rx="4" fill="#F2F2F2"/>-->
<!--    <path d="M10.6177 16L12.0217 9.376H13.4617L12.0457 16H10.6177ZM8.27766 16L8.52966 14.836H14.5417L14.2897 16H8.27766ZM10.2937 10.54L10.5457 9.376H12.7417L12.4897 10.54H10.2937ZM12.2017 8.32L12.5137 6.856H14.0857L13.7737 8.32H12.2017Z" fill="black"/>-->
<!--</svg>-->

<svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="24" height="24" rx="4" fill="#F7F7F7"/>
    <path d="M10.1611 17V15.9473L11.1865 15.7422V10.8682L10.0996 10.6631V9.60352H12.9092V15.7422L13.9277 15.9473V17H10.1611ZM11.1182 7.92871V6.33594H12.9092V7.92871H11.1182Z" fill="black"/>
</svg>


