

{% if status == 'OFF' %}
    <svg width="42" height="24" viewBox="0 0 56 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="56" height="32" rx="16" fill="#dc3545"/>
        <circle cx="16" cy="16" r="12" fill="white"/>
    </svg>
{% else %}
    <svg width="42" height="24" viewBox="0 0 56 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="56" height="32" rx="16" fill="#198754"/>
        <circle cx="40" cy="16" r="12" fill="white"/>
    </svg>
{% endif %}