{% if profile.visionmap_mode %}
    <div style="padding: 0 12px 16px 12px;">
        {% if not wish.fears %}
        <!--БЛОК С ПЛЮСОМ-->
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="m-0 p-0">Страхи и опасения</h4>
            <div class="d-flex justify-content-start align-items-center">
                <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#fears_info_dialogue" style="height: 24px;">
                    <p class="ms-2 text-center text-secondary font-monospace" style="width: 24px;">i</p>
                </a>
                {% include 'app_wishes/dialogue__fears_info.html' %}
                <a class="text-decoration-none" href="#fear_create_dialogue" data-bs-toggle="offcanvas" style="height: 24px;">
                    <span class="material-symbols-outlined ms-2 text-primary">add</span>
                </a>
            </div>
        </div>
        {% include 'app_wishes/dialogue__fear_create.html' %}
        {% else %}
        <!--БЛОК С ПЕРЕХОДОМ-->
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="m-0 p-0">Страхи и опасения</h4>
            <a class="text-decoration-none" href="{{ wish.get_fears_list_url }}" style="height: 24px;">
                <span class="material-symbols-outlined ms-3 text-secondary">chevron_right</span>
            </a>
        </div>
        {% endif %}
        <hr class="text-black-50" style="margin: 16px 0 0 0;">
    </div>
{% endif %}
