{% load static %}

<!--{% comment %}-->
<!--{% if profile.visionmap_mode %}-->
<!--{% endcomment %}-->
{% if profile.pk == 1 %}
    <div style="padding: 0 12px 16px 12px;">
        {% if wish.todoes %}
            <!--БЛОК С ДАННЫМИ-->
            <!--ЗАГОЛОВОК-->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="m-0 p-0">Действия</h4>
                <div class="d-flex justify-content-start align-items-center">
                    <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#wish_todoes_info_dialogue" style="height: 24px;">
                        <p class="ms-2 text-center text-secondary font-monospace" style="width: 24px;">i</p>
                    </a>
                    <a class="text-decoration-none" href="{{ wish.get_change_checked_todoes_view_url }}" style="height: 24px;">
                        {% if wish.show_checked_todoes %}
                            <span class="material-symbols-outlined ms-2 text-secondary">visibility</span>
                        {% else %}
                            <span class="material-symbols-outlined ms-2 text-secondary">visibility_off</span>
                        {% endif %}
                    </a>
                    <a class="text-decoration-none" href="#wish_todo_create_dialogue" data-bs-toggle="offcanvas" style="height: 24px;">
                        <span class="material-symbols-outlined ms-2 text-secondary">add</span>
                    </a>
                </div>
            </div>
            <!--СПИСОК ДЕЙСТВИЙ-->
            {% if wish.show_checked_todoes %}
                {% for todo in wish.todoes %}
                    {% include 'app_wishes/card__wish_todo.html' %}
                {% endfor %}
            {% else %}
                {% for todo in wish.todoes %}
                    {% if wish.show_checked_todoes == todo.is_checked %}
                        {% include 'app_wishes/card__wish_todo.html' %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            <!--ПУСТОЙ БЛОК-->
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="m-0 p-0">Действия</h4>
                <div class="d-flex justify-content-start align-items-center">
                    <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#wish_todoes_info_dialogue" style="height: 24px;">
                        <p class="ms-2 text-center text-secondary font-monospace" style="width: 24px;">i</p>
                    </a>
                    <a class="text-decoration-none" href="#wish_todo_create_dialogue" data-bs-toggle="offcanvas" style="height: 24px;">
                        <span class="material-symbols-outlined ms-2 text-primary">add</span>
                    </a>
                </div>
            </div>
        {% endif %}
        <hr class="text-black-50" style="margin: 16px 0 0 0;">
        {% include 'app_wishes/dialogue__wish_todo_create.html' %}
        {% include 'app_wishes/dialogue__wish_todoes_info.html' %}
    </div>
{% endif %}
