
<!--1 КОЛОНКА-->
<div class="d-xs-block d-sm-none">
    <!--отображается на экранах < 576px-->
    {% for area in profile.a_column_areas %}
        {% include 'app_wishes/card__area.html' with column_number='a' %}
    {% endfor %}
    {% include 'app_wishes/button__area_create.html' %}
</div>

<!--2 КОЛОНКИ-->
<div class="d-none d-sm-block d-md-block d-lg-none">
    <!--отображается на экранах 576px – 992px-->
    <div class="row g-2">
        <!--КОЛОНКА 1-->
        <div class="col-sm-6 col-md-6">
            {% for area in profile.b1_column_areas %}
                {% include 'app_wishes/card__area.html' with column_number='b1' %}
            {% endfor %}
            <!--КНОПКА "Добавить область желаний"-->
            <div class="col">
                {% include 'app_wishes/button__area_create.html' %}
            </div>
        </div>
        <!--КОЛОНКА 2-->
        <div class="col-sm-6 col-md-6">
            {% for area in profile.b2_column_areas %}
                {% include 'app_wishes/card__area.html' with column_number='b2' %}
            {% endfor %}
        </div>
    </div>
</div>

<!--3 КОЛОНКИ-->
<div class="d-none d-lg-block">
    <!--отображается на экранах >= 992px-->
    <div class="row g-2">
        <!--КОЛОНКА 1-->
        <div class="col-lg-4">
            {% for area in profile.c1_column_areas %}
                {% include 'app_wishes/card__area.html' with column_number='c1' %}
            {% endfor %}
            <!--КНОПКА "Добавить область желаний"-->
            <div class="col">
                {% include 'app_wishes/button__area_create.html' %}
            </div>
        </div>
        <!--КОЛОНКА 2-->
        <div class="col-lg-4">
            {% for area in profile.c2_column_areas %}
                {% include 'app_wishes/card__area.html'  with column_number='c2'%}
            {% endfor %}
        </div>
        <!--КОЛОНКА 3-->
        <div class="col-lg-4">
            {% for area in profile.c3_column_areas %}
                {% include 'app_wishes/card__area.html'  with column_number='c3'%}
            {% endfor %}
        </div>
    </div>
</div>

{% include 'app_wishes/dialogue__area_create.html' %}

{% for area in profile.a_column_areas %}
    {% include 'app_wishes/dialogue__area_edit.html' %}
    {% include 'app_wishes/dialogue__wish_create.html' %}
    {% include 'app_wishes/modal__area_delete.html' %}
{% endfor %}
