
<div style="padding: 0 12px 16px 12px;">
    <div class="d-flex justify-content-between align-items-start">
        <!--Заголовок-->
        <a class="text-decoration-none" href="#wish_name_edit_dialogue" data-bs-toggle="offcanvas">
            <h1 class="text-black m-0 p-0">{{ wish }}</h1>
        </a>
        {% include 'app_wishes/dialogue__wish_title_edit.html' %}
        <!--Информация-->
        <!--{% comment %}-->
        <!--{% if profile.subscription.is_active %}-->
        <!--    <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#wish_title_info_dialogue" style="height: 24px;">-->
        <!--        <p class="ms-2 text-center text-secondary font-monospace" style="width: 24px;">i</p>-->
        <!--    </a>-->
        <!--    {% include 'app_wishes/dialogue__wish_title_info.html' %}-->
        <!--{% endif %}-->
        <!--{% endcomment %}-->
    </div>
    <hr class="text-black-50" style="margin: 16px 0 0 0;">
</div>

