<!--ИНФОРМАЦИЯ-->
<!--Заголовок-->
{% if profile.subscription.is_active %}
    <a href="#infoblock_wish_details" class="text-decoration-none" data-bs-toggle="collapse">
        <div class="d-flex justify-content-between align-items-start m-0 mb-4 mt-4 w-100">
            <!--Иконка-->
            <div class="d-flex justify-content-center align-items-center" style="border-radius: .375rem; background-color: #f2f2f2; height: 24px; width: 24px;">
                <p class="m-0 text-center text-secondary font-monospace" style="font-size: 16px;">i</p>
            </div>
            <!--Текст-->
            <p class="p-0 m-0 ms-2 text-secondary w-100"><i>Как правильно сформулировать желание</i></p>
        </div>
    </a>
    <!--Контент-->
    <div class="collapse mb-3 p-3" id="infoblock_wish_details" style="border-radius: .375rem; background-color: #f2f2f2">
        <p>Чтобы ваше желание стало понятной инструкцией для вашего подсознания выполните над ним следующие
            преобразования:</p>
        <p class="mt-4 fw-bolder">1. Уберите отрицания</p>
        <p>Если в вашем желании присутствуют отрицания, измените его формулировку так, чтобы они отсутствовали. Если вы не
            знаете как от них избавиться, просто ответьте на вопрос: "Что я хочу вместо этого?".</p>

        <p class="mt-4 fw-bolder">2. Перенесите ответственность на себя</p>
        <p>Иными словами, сделайте себя центральным действующим лицом вашего желания. Самый простой способ это сделать –
            добавить в ваше желание местоимение "Я".</p>

        <p class="mt-4 fw-bolder">3. Сделайте желание точным</p>
        <p>Уточните ваше желание с помощью чисел. Например так: "Я хочу похудеть до 50 килограмм" или "Я хочу получать более
            200
            000 ₽ в месяц". Также вы можете уточнить желание с помощью его особенностей. Если вы хотите новый автомобиль, то
            напишите его марку и модель. Например "Lexus RX 350 Luxury".</p>

        <p class="mt-4 fw-bolder">4. Перенесите фокус на результат</p>
        <p>Измените формулировку вашего желания так, будто оно уже исполнились. Например, желание "Я хочу новый автомобиль"
            необходимо изменить на "Я владею новым автомобилем", а желание "Я хочу отдохнуть на Мальдивах" на желание "Я
            ежегодно отдыхаю на Мальдивах".</p>
        <!--Промо книги "ВИЖН"-->
        <hr class="text-black-50">
        {% include 'block__book_promo.html' %}
    </div>
{% endif %}




