{% if profile.visionmap_mode %}
    <div style="padding: 0 12px 16px 12px;">
        <!--ЗАГОЛОВОК-->
        <div class="d-flex justify-content-between align-items-start mb-2">
            <h4 class="m-0 p-0 text-black">Изменения</h4>
            <div class="d-flex">
                <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#wish_changes_info_dialogue" style="height: 24px;">
                    <p class="ms-2 text-center text-secondary font-monospace" style="width: 24px;">i</p>
                </a>
                {% include 'app_wishes/dialogue__wish_changes_info.html' %}
                {% if not wish.changes %}
                    <a class="text-decoration-none" href="#wish_changes_edit_dialogue" data-bs-toggle="offcanvas" style="height: 24px;">
                        <span class="material-symbols-outlined ms-2 text-primary">add</span>
                    </a>
                {% endif %}
            </div>
        </div>
        <!--БЛОК С ДАННЫМИ-->
        <a class="text-decoration-none text-black" href="#wish_changes_edit_dialogue" data-bs-toggle="offcanvas">
            <p>{{ wish.changes|linebreaks }}</p>
        </a>
        <hr class="text-black-50" style="margin: 16px 0 0 0;">
        {% include 'app_wishes/dialogue__wish_changes_edit.html' %}
    </div>
{% endif %}
