{% if profile.visionmap_mode %}
    <div style="padding: 0 12px 16px 12px;">
        <!--Прогресс-->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="progress w-100" style="height: 24px;">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{ wish.progress }}%;" aria-valuenow="{{ wish.progress }}" aria-valuemin="0" aria-valuemax="100">
                    {{ wish.progress }}%
                </div>
            </div>
            <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#wish_progress_info_dialogue" style="height: 24px;">
                <p class="ms-2 text-center text-secondary font-monospace" style="width: 24px;">i</p>
            </a>
        </div>
        {% include 'app_wishes/dialogue__wish_progress_info.html' %}
        <hr class="text-black-50" style="margin: 16px 0 0 0;">
    </div>
{% endif %}