{% load static %}

<div style="padding: 0 10px 16px 10px;">
    <a data-bs-toggle="offcanvas" data-bs-target="#wish_image_edit_dialogue" style="cursor: pointer">
        {% if wish.get_image_url_or_none is None %} <!--Изображение отсутствует-->
            <div class="d-flex justify-content-center align-items-center" style="background-color: {{ wish.area.color }}; border-radius: .5rem; height: 12rem;">
                <div class="d-flex flex-column justify-content-center">
                    <!--Иконка-->
                    <div class="d-flex flex-fill justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" fill="#FFFFFF">
                            <path d="M9.5 41q-1.15 0-2.025-.85T6.6 38.1V9.9q0-1.2.875-2.05Q8.35 7 9.5 7h19.2v2.25H9.5q-.25 0-.425.175T8.9 9.9v28.2q0 .3.175.475t.425.175h28.25q.25 0 .425-.175t.175-.475V19h2.25v19.1q0 1.2-.85 2.05-.85.85-2 .85Zm25.6-24.4v-4.05h-4v-2.3h4v-4h2.3v4h4v2.3h-4v4.05Zm-22 16.8h21.15l-6.35-8.45-5.85 7.55-4.15-5.25ZM8.9 9.25V38.75 9.25Z"/>
                        </svg>
                    </div>
                    <!--Текст-->
                    <p class="p-0 m-0 text-white">загрузить изображение</p>
                </div>
            </div>
        {% else %}
            <img src="{{ wish.get_image_url_or_none }}" class="img-fluid w-100" style="border-radius: .5rem;">
        {% endif %}
    </a>
    {% include 'app_wishes/dialogue__wish_image_edit.html' %}
</div>
