{% if profile.visionmap_mode %}
    <div style="padding: 0 12px 16px 12px;">
        <!--ЗАГОЛОВОК-->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="m-0 p-0">Принятие</h4>
            {% if wish.is_accepted %} <!--Ответственность принята-->
                <a href="" class="text-decoration-none" data-bs-toggle="collapse" data-bs-target="#wish_acceptance" style="height: 24px;">
                    <span class="material-symbols-outlined text-secondary">check</span>
                </a>
            {% else %} <!--Ответственность не принята-->
                <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#wish_acceptance_info_dialogue" style="height: 24px;">
                    <p class="ms-2 text-center text-secondary font-monospace" style="width: 24px;">i</p>
                </a>
            {% endif %}
        </div>
        <!--ТЕЛО-->
        {% if wish.is_accepted %} <!--Ответственность принята-->
            <div class="collapse p-0" id="wish_acceptance">
                <div class="d-flex justify-content-start align-items-top">
                    <span class="material-symbols-outlined">select_check_box</span>
                    <!--Текст-->
                    <p class="m-0 ms-2 p-0">Я несу ответственность за все изменения, связанные с реализацией этого желания, которые происходят со мной и моим окружением прямо сейчас, а также произойдут в будущем</p>
                </div>
            </div>
        {% else %} <!--Ответственность не принята-->
            <form method="post">
                {% csrf_token %}
                <div class="d-flex justify-content-start align-items-top mb-3 ">
                    <!--Чекбокс-->
                    <div class="d-flex" style="margin-right: 12px;">
                        {{ wish_acceptance_form.is_accepted }}
                    </div>
                    <!--Текст-->
                    <label class="form-check-label me-3">
                        Я принимаю ответственность за все изменения, связанные с реализацией этого желания,
                        которые происходят со мной и моим окружением прямо сейчас, а также произойдут в будущем
                    </label>
                </div>
                <!--Кнопка "Активировать желание"-->
                <input type="submit" id="acceptance_button" class="btn btn-primary w-100" name="wish_acceptance_save" value="Принять ответственность" style="height: 3rem;" disabled>
            </form>
        {% endif %}
        <hr class="text-black-50" style="margin: 16px 0 0 0;">
        {% include 'app_wishes/dialogue__wish_acceptance_info.html' %}
    </div>
{% endif %}
