{% if userprofile.subscription %}
    {% if wish.information %}
        <!--БЛОК С ДАННЫМИ-->
        <a class="text-decoration-none text-black" href="#wish_changes_edit_dialogue" data-bs-toggle="offcanvas">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="m-0 mb-2 p-0 text-black">Заметки</h4>
                <span class="material-symbols-outlined ms-3 text-secondary">edit_note</span>
            </div>
            <p>{{ wish.information|linebreaks }}</p>
        </a>
    {% else %}
        <!--ПУСТОЙ БЛОК-->
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="m-0 p-0">Заметки</h4>
            <a class="text-decoration-none" href="#wish_changes_edit_dialogue" data-bs-toggle="offcanvas" style="height: 24px;">
                <span class="material-symbols-outlined ms-3 text-primary">add</span>
            </a>
        </div>
    {% endif %}
    <hr class="text-black-50">
    {% include 'app_wishes/dialogue__wish_changes_edit.html' %}
{% endif %}
