{% if profile.visionmap_mode %}
    <div style="padding: 0 12px 16px 12px;">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="m-0 p-0">Важность</h4>
            <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#wish_importance_edit_dialogue" style="height: 24px;">
                {% if wish.importance == 1 %}
                    {% include 'icons/star_24.html' with status='LIGHT' %}
                    {% include 'icons/star_24.html' with status='LIGHT' %}
                    {% include 'icons/star_24.html' with status='WARNING' %}
                {% elif wish.importance == 3 %}
                    {% include 'icons/star_24.html' with status='WARNING' %}
                    {% include 'icons/star_24.html' with status='WARNING' %}
                    {% include 'icons/star_24.html' with status='WARNING' %}
                {% else %}
                    {% include 'icons/star_24.html' with status='LIGHT' %}
                    {% include 'icons/star_24.html' with status='LIGHT' %}
                    {% include 'icons/star_24.html' with status='LIGHT' %}
                {% endif %}
            </a>
        </div>
        {% include 'app_wishes/dialogue__wish_importance_edit.html' %}
        <hr class="text-black-50" style="margin: 16px 0 0 0;">
    </div>
{% endif %}
