
{% if wish.position == 1 and wish.is_last or wish.is_archived %}
  <!--Если это -->
{% else %}

    <!--Кнопка "..."-->
    <a class="text-decoration-none text-white p-0 ps-3" href="" role="button"
       id="wish_menu" data-bs-toggle="dropdown" aria-expanded="false"
       style="position: relative; z-index: 100; box-shadow: none;">
        <div class="d-flex mb-1">
            <span class="material-symbols-outlined">more_vert</span>
        </div>
    </a>

    <!--Выпадающий список-->
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink"
        {% if wish.position != 1 %}
            <!--Пункт "Сдвинуть назад"-->
            <li>
                <a class="dropdown-item" href="{{ wish.get_moveup_url }}">
                    <i class="bi bi-arrow-up me-2"></i></i>Сдвинуть вверх
                </a>
            </li>
        {% endif %}

        {% if not wish.is_last %}
            <!--Пункт "Сдвинуть вперед"-->
            <li>
                <a class="dropdown-item" href="{{ wish.get_movedown_url }}">
                    <i class="bi bi-arrow-down me-2"></i>Сдвинуть вниз
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
