<a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#wish_delete_modal">
    <p class="m-0 text-danger" style="padding: 16px 12px 16px 12px;"><small>Удалить</small></p>
</a>

{% include 'app_wishes/modal__wish_delete.html' %}
