{% load static %}

<div style="padding: 0 12px 16px 12px;">
    {% if wish.is_archived %}
        <a href="{{ wish.get_change_archiving_url }}" class="text-decoration-none w-100">
            <button class="btn btn-light w-100" style="height: 3rem;">
                Отменить исполнение
            </button>
        </a>
    {% else %}
        <button class="btn btn-outline-primary w-100" type="button" data-bs-toggle="modal" data-bs-target="#congratulations_modal" style="height: 3rem;">
            Желание исполнилось
        </button>
    {% endif %}
    {% include 'app_wishes/modal__congratulations.html' %}
</div>