

<a class="text-decoration-none" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <div class="material-symbols-outlined text-white p-1 pt-2 pb-2">more_vert</div>
</a>

<!--ВЫПАДАЮЩИЙ СПИСОК"-->
<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <!--ОДНА КОЛОНКА-->
    {% if column_number == 'a' %}
        <!--Пункт "Сдвинуть вверх"-->
        {% if area.can_move_up_in_column_a %}
            <li>
                <a href="{{ area.get_move_up_in_column_a_url }}" class="dropdown-item">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <span class="material-symbols-outlined">arrow_upward</span>
                        <p class="m-0 ms-3 p-0">Сдвинуть вверх</p>
                    </div>
                </a>
            </li>
        {% endif %}
        <!--Пункт "Сдвинуть вниз"-->
        {% if area.can_move_down_in_column_a %}
            <li>
                <a href="{{ area.get_move_down_in_column_a_url }}" class="dropdown-item">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <span class="material-symbols-outlined">arrow_downward</span>
                        <p class="m-0 ms-3 p-0">Сдвинуть вниз</p>
                    </div>
                </a>
            </li>
        {% endif %}

    <!--ДВЕ КОЛОНКИ-->
    <!--Колонка b1-->
    {% elif column_number == 'b1' %}
        <!--Пункт "Сдвинуть вверх"-->
        {% if area.can_move_up_in_column_b1 %}
            <li>
                <a href="{{ area.get_move_up_in_column_b1_url }}" class="dropdown-item">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <span class="material-symbols-outlined">arrow_upward</span>
                        <p class="m-0 ms-3 p-0">Сдвинуть вверх</p>
                    </div>
                </a>
            </li>
        {% endif %}
        <!--Пункт "Сдвинуть вниз"-->
        {% if area.can_move_down_in_column_b1 %}
            <li>
                <a href="{{ area.get_move_down_in_column_b1_url }}" class="dropdown-item">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <span class="material-symbols-outlined">arrow_downward</span>
                        <p class="m-0 ms-3 p-0">Сдвинуть вниз</p>
                    </div>
                </a>
            </li>
        {% endif %}
        <!--Пункт "Сдвинуть вправо"-->
        <li>
            <a href="{{ area.get_move_right_in_column_b1_url }}" class="dropdown-item">
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <span class="material-symbols-outlined">arrow_forward</span>
                    <p class="m-0 ms-3 p-0">Сдвинуть вправо</p>
                </div>
            </a>
        </li>
    <!--Колонка b2-->
    {% elif column_number == 'b2' %}
        <!--Пункт "Сдвинуть вверх"-->
        {% if area.can_move_up_in_column_b2 %}
            <li>
                <a href="{{ area.get_move_up_in_column_b2_url }}" class="dropdown-item">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <span class="material-symbols-outlined">arrow_upward</span>
                        <p class="m-0 ms-3 p-0">Сдвинуть вверх</p>
                    </div>
                </a>
            </li>
        {% endif %}
        <!--Пункт "Сдвинуть вниз"-->
        {% if area.can_move_down_in_column_b2 %}
            <li>
                <a href="{{ area.get_move_down_in_column_b2_url }}" class="dropdown-item">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <span class="material-symbols-outlined">arrow_downward</span>
                        <p class="m-0 ms-3 p-0">Сдвинуть вниз</p>
                    </div>
                </a>
            </li>
        {% endif %}
        <!--Пункт "Сдвинуть влево"-->
        <li>
            <a href="{{ area.get_move_left_in_column_b2_url }}" class="dropdown-item">
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <span class="material-symbols-outlined">arrow_back</span>
                    <p class="m-0 ms-3 p-0">Сдвинуть влево</p>
                </div>
            </a>
        </li>

    <!--ТРИ КОЛОНКИ-->
    <!--Колонка c1-->
    {% elif column_number == 'c1' %}
        <!--Пункт "Сдвинуть вверх"-->
        {% if area.can_move_up_in_column_c1 %}
            <li>
                <a href="{{ area.get_move_up_in_column_c1_url }}" class="dropdown-item">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <span class="material-symbols-outlined">arrow_upward</span>
                        <p class="m-0 ms-3 p-0">Сдвинуть вверх</p>
                    </div>
                </a>
            </li>
        {% endif %}
        <!--Пункт "Сдвинуть вниз"-->
        {% if area.can_move_down_in_column_c1 %}
            <li>
                <a href="{{ area.get_move_down_in_column_c1_url }}" class="dropdown-item">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <span class="material-symbols-outlined">arrow_downward</span>
                        <p class="m-0 ms-3 p-0">Сдвинуть вниз</p>
                    </div>
                </a>
            </li>
        {% endif %}
        <!--Пункт "Сдвинуть вправо"-->
        <li>
            <a href="{{ area.get_move_right_in_column_c1_url }}" class="dropdown-item">
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <span class="material-symbols-outlined">arrow_forward</span>
                    <p class="m-0 ms-3 p-0">Сдвинуть вправо</p>
                </div>
            </a>
        </li>
    <!--Колонка c2-->
    {% elif column_number == 'c2' %}
        <!--Пункт "Сдвинуть вверх"-->
        {% if area.can_move_up_in_column_c2 %}
            <li>
                <a href="{{ area.get_move_up_in_column_c2_url }}" class="dropdown-item">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <span class="material-symbols-outlined">arrow_upward</span>
                        <p class="m-0 ms-3 p-0">Сдвинуть вверх</p>
                    </div>
                </a>
            </li>
        {% endif %}
        <!--Пункт "Сдвинуть вниз"-->
        {% if area.can_move_down_in_column_c2 %}
            <li>
                <a href="{{ area.get_move_down_in_column_c2_url }}" class="dropdown-item">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <span class="material-symbols-outlined">arrow_downward</span>
                        <p class="m-0 ms-3 p-0">Сдвинуть вниз</p>
                    </div>
                </a>
            </li>
        {% endif %}
        <!--Пункт "Сдвинуть вправо"-->
        <li>
            <a href="{{ area.get_move_right_in_column_c2_url }}" class="dropdown-item">
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <span class="material-symbols-outlined">arrow_forward</span>
                    <p class="m-0 ms-3 p-0">Сдвинуть вправо</p>
                </div>
            </a>
        </li>
        <!--Пункт "Сдвинуть влево"-->
        <li>
            <a href="{{ area.get_move_left_in_column_c2_url }}" class="dropdown-item">
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <span class="material-symbols-outlined">arrow_back</span>
                    <p class="m-0 ms-3 p-0">Сдвинуть влево</p>
                </div>
            </a>
        </li>
    <!--Колонка c3-->
    {% elif column_number == 'c3' %}
        <!--Пункт "Сдвинуть вверх"-->
        {% if area.can_move_up_in_column_c3 %}
            <li>
                <a href="{{ area.get_move_up_in_column_c3_url }}" class="dropdown-item">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <span class="material-symbols-outlined">arrow_upward</span>
                        <p class="m-0 ms-3 p-0">Сдвинуть вверх</p>
                    </div>
                </a>
            </li>
        {% endif %}
        <!--Пункт "Сдвинуть вниз"-->
        {% if area.can_move_down_in_column_c3 %}
            <li>
                <a href="{{ area.get_move_down_in_column_c3_url }}" class="dropdown-item">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        <span class="material-symbols-outlined">arrow_downward</span>
                        <p class="m-0 ms-3 p-0">Сдвинуть вниз</p>
                    </div>
                </a>
            </li>
        {% endif %}
        <!--Пункт "Сдвинуть влево"-->
        <li>
            <a href="{{ area.get_move_left_in_column_c3_url }}" class="dropdown-item">
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <span class="material-symbols-outlined">arrow_back</span>
                    <p class="m-0 ms-3 p-0">Сдвинуть влево</p>
                </div>
            </a>
        </li>
    {% endif %}

    <!--Разделитель-->
    <li><hr class="dropdown-divider"></li>

    <!--Пункт "В одну/две колонки"-->
    <li>
        <a href="{{ area.get_change_cols_count_url }}" class="dropdown-item">
            <div class="d-flex flex-row justify-content-start align-items-center">
                <span class="material-symbols-outlined">dashboard</span>
                <p class="m-0 ms-3 p-0">
                    {% if area.is_double %}В одну колонку
                    {% else %}В две колонки
                    {% endif %}
                </p>
            </div>
        </a>
    </li>

    <!--Разделитель-->
    <li><hr class="dropdown-divider"></li>

    <!--Пункт "Редактировать область"-->
    <li>
        <a href="#area_edit_dialogue_{{ area.pk }}" class="dropdown-item" data-bs-toggle="offcanvas">
            <div class="d-flex flex-row justify-content-start align-items-center">
                <span class="material-symbols-outlined">edit</span>
                <p class="m-0 ms-3 p-0">Редактировать</p>
            </div>
        </a>
    </li>

    <!--Пункт "Удалить"-->
    <li>
        <a href="#area_{{ area.pk }}_delete_modal" class="dropdown-item" data-bs-toggle="modal">
            <div class="d-flex flex-row justify-content-start align-items-center">
                <span class="material-symbols-outlined">delete</span>
                <p class="m-0 ms-3 p-0">Удалить</p>
            </div>
        </a>
    </li>

</ul>
