<!--<a class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#area_create_dialogue">-->
<!--    <div class="d-flex justify-content-center align-items-center w-100  p-2 bg-light" style="height: 3rem;">-->
<!--        <div class="d-flex justify-content-start align-items-center text-black p-1 pt-2 pb-2 opacity-75">-->
<!--            <span class="material-symbols-outlined">add</span>-->
<!--            <p class="m-0 p-0">Добавить область</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</a>-->
<a class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#area_create_dialogue">
    <button class="btn btn-light w-100" style="height: 3rem;">
        Добавить область
    </button>
</a>

