<div id="{{ wish.pk }}">
<!--    class="card border-0 mb-1 shadow" style="border-radius: .5rem;">-->

    {% if profile.visionmap_mode %}
        <!--Подписка активна-->
        <div class="card border-0 mb-1 shadow" style="border-radius: .5rem;">
            <!--Изображение-->
            {% if wish.image %}
                <img src="{{ wish.get_image_url_or_none }}" class="card-img-top">
            {% endif %}
            <!--Тело карточки-->
            {% if wish.image %}
                <div class="card-body p-2" style="border-radius: 0 0 .5rem .5rem; background-color: {{ area.color }}; opacity: 85%;">
            {% else %}
                <div class="card-body p-2" style="border-radius: .5rem; background-color: {{ area.color }}; opacity: 85%;">
            {% endif %}
                <!--Текст желания-->
                <a href="{{ wish.get_absolute_url }}" class="text-reset text-decoration-none stretched-link">
                    <p class="text-white m-0 p-0 pb-1" style="font-size: 14px; line-height: 20px;">{{ wish }}</p>
                </a>
                <!--Важность-->
                <div class="pb-1">
                    {% if wish.importance == 1 %}
                        {% include "icons/star_16.html" with status="WHITE" %}
                    {% elif wish.importance == 3 %}
                        {% include "icons/star_16.html" with status="WHITE" %}
                        {% include "icons/star_16.html" with status="WHITE" %}
                        {% include "icons/star_16.html" with status="WHITE" %}
                    {% endif %}
                </div>
                <!--Прогресс-->
                {% if wish.progress < 100 %}
                    <div class="bg-white pt-1" style="width: {{ wish.progress }}%; height: 2px;"></div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <!--Подписка неактивна-->
        <a href="{{ wish.get_absolute_url }}" class="text-decoration-none">
            {% if wish.image %}
                <!--Если есть изображение, то показываем изображение-->
                <img src="{{ wish.get_image_url_or_none }}" class="card-img-top mb-1 shadow" style="border-radius: .5rem;">
            {% else %}
                <!--Иначе показываем текст-->
                <div class="card border-0 mb-1 shadow" style="border-radius: .5rem;">
                    <div class="card-body p-2" style="border-radius: .5rem; background-color: {{ area.color }}; opacity: 85%;">
                        <p class="text-white m-0 p-0 pb-1" style="font-size: 14px; line-height: 20px;">{{ wish }}</p>
                    </div>
                </div>
            {% endif %}
        </a>
    {% endif %}
</div>
