<div id="{{ area.pk }}"  class="accordion mb-2">
    <div class="accordion-item" style="background-color: {{ area.color }};">
        <!--ЗАГОЛОВОК-->
        <div class="accordion-header">
            <button class="accordion-button text-white align-items-center"
                    style="background-color: {{ area.color }}; padding: 12px;"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#Area{{ area.pk }}"
                    aria-expanded="true"
                    aria-controls="Area{{ area.pk }}">
                <p class="m-0 p-0 pe-2"><b>{{ area }}</b></p>
            </button>
        </div>
        <!--ТЕЛО-->
        <div id="Area{{ area.pk }}" class="accordion-collapse collapse show">
            <div class="accordion-body m-0 p-1">
                <!--ЖЕЛАНИЯ-->
                {% if area.is_double %}
                    <!--В ДВЕ КОЛОНКИ-->
                    <div class="row g-1">
                        <div class="col-6">
                            {% for wish in area.b1_column_wishes %}
                                {% include 'app_wishes/card__wish_new.html' %}
                            {% endfor %}
                        </div>
                        <div class="col-6">
                            {% for wish in area.b2_column_wishes %}
                                {% include 'app_wishes/card__wish_new.html' %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <!--В ОДНУ КОЛОНКУ-->
                    {% for wish in area.a_column_wishes %}
                        {% include 'app_wishes/card__wish_new.html' %}
                    {% endfor %}
                {% endif %}
                <!--КНОПКИ-->
                <div class="d-flex justify-content-between align-items-center">
                    <!--КНОПКА "Добавить желание"-->
                    <a href="#wish_create_dialogue_{{ area.pk }}" class="text-decoration-none" data-bs-toggle="offcanvas">
                        <div class="d-flex justify-content-start align-items-center p-1 pt-2 pb-2 text-white">
                            <span class="material-symbols-outlined">add</span>
                            <p class="m-0 p-0">Добавить желание</p>
                        </div>
                    </a>
                    <!--КНОПКА "Меню области"-->
                    {% include 'app_wishes/button__area_menu.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
