
<div class="card border-0" style="border-radius: .5rem; margin-bottom: 16px;">
    {% if wish.image %}
         <!--ИЗОБРАЖЕНИЕ-->
        <img src="{{ wish.get_image_url_or_none }}" class="card-img-top" style="border-radius: .5rem .5rem 0 0;">
        <!--ТЕЛО-->
        <div class="card-body p-2" style="border-radius: 0 0 .5rem .5rem; background-color: {{ wish.area.color }}; opacity: 85%;">
    {% else %}
        <!--ТЕЛО-->
        <div class="card-body p-2" style="border-radius: .5rem; background-color: {{ wish.area.color }}; opacity: 85%;">
    {% endif %}
        <!--Текст желания-->
        <a href="{{ wish.get_absolute_url }}" class="text-decoration-none stretched-link">
            <p class="m-0 p-0 pb-1 text-white" style="font-size: 14px; line-height: 20px;">{{ wish }}</p>
        </a>
            <div class="pb-1">
            {% if wish.importance == 1 %}
                {% include "icons/star_16.html" with status="WHITE" %}
            {% elif wish.importance == 3 %}
                {% include "icons/star_16.html" with status="WHITE" %}
                {% include "icons/star_16.html" with status="WHITE" %}
                {% include "icons/star_16.html" with status="WHITE" %}
            {% endif %}
        </div>
    </div>
</div>
