
<div id="{{ wish.pk }}" class="card border-0 mb-1 shadow" style="border-radius: .5rem;">
     <!--ИЗОБРАЖЕНИЕ-->
    {% if wish.image %}
        <img src="{{ wish.get_image_url_or_none }}" class="card-img-top" style="border-radius: .5rem .5rem 0 0;">
    {% endif %}

    <!--ТЕЛО-->
    <div class="card-body p-2"
         style="border-radius: 0 0 .5rem .5rem; background-color: {{ wish.area.color }}; opacity: 85%;">
        <!--Текст желания-->
        <a href="{{ wish.get_absolute_url }}" class="text-decoration-none stretched-link">
            <p class="m-0 p-0 pb-1 text-white">{{ wish }}</p>
        </a>
<!--        {% comment %}-->
<!--        &lt;!&ndash;Кнопка "Меню желания"&ndash;&gt;-->
<!--        <div class="d-flex flex-row-reverse pt-1">-->
<!--            {% include 'app_wishes/button__wish_menu.html' %}-->
<!--        </div>-->
<!--        {% endcomment %}-->
    </div>

</div>
