

<div class="card border-0 mb-1 shadow" style="border-radius: .5rem;">
     <!--ИЗОБРАЖЕНИЕ-->
    {% if wish.image %}
        <img src="{{ wish.get_image_url_or_none }}" class="card-img-top" style="border-radius: .5rem .5rem 0 0;">
    {% endif %}
    <!--ТЕЛО-->
    <div class="card-body p-2"
         style="border-radius: 0 0 .5rem .5rem; background-color: {{ wish.area.color }}; opacity: 85%;">
        <!--Действия-->
        {% if wish.get_all_todoes_or_none is None %}
        {% else %}
        {% for todo in wish.get_all_todoes_or_none %}
            {% if not todo.is_checked %}
                <div class="d-flex justify-content-start align-items-start mb-2">
                    <a href="{{ todo.get_change_checked_url }}">
                        {% if todo.is_checked %}<span class="material-symbols-outlined text-white">check</span>
                        {% else %}<span class="material-symbols-outlined text-white">check_box_outline_blank</span>
                        {% endif %}
                    </a>
                    {% if todo.is_checked %}<p class="m-0 ms-2 p-0 text-decoration-line-through text-white">{{ todo.title }}</p>
                    {% else %}<p class="m-0 ms-2 p-0 text-white">{{ todo.title }}</p>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>
