


<div id="{{ area.pk }}" class="w-100 h-100 p-1 rounded-3" style="background-color: {{ area.color }};">
    <!--ЗАГОЛОВОК-->
    <p class="m-0 p-1 pt-0 lh-sm text-white"><small><b>{{ area }}</b></small></p>
    <!--ТЕЛО-->
    {% for wish in area.a_column_wishes %}
        <a href="{{ wish.get_absolute_url }}" class="text-decoration-none">
            {% if wish.image %}
                <!--Если есть изображение, то показываем изображение-->
                <img src="{{ wish.get_image_url_or_none }}" class="card-img-top mt-1 rounded-3">
            {% else %}
                <!--Иначе показываем текст-->
                <div class="card border-0 mt-1 rounded-3">
                    <div class="card-body p-2" style="border-radius: .5rem; background-color: {{ area.color }}; opacity: 85%;">
                        <p class="text-white lh-1 m-0 p-0 pb-1"><small>{{ wish }}</small></p>
                    </div>
                </div>
            {% endif %}
        </a>
    {% endfor %}
</div>
