
<div id="{{ todo.pk }}" class="d-flex justify-content-between align-items-start mb-3">
    <!--ЧЕКБОКС-->
    {% if todo.is_checked %}
        <a href="{{ todo.get_change_checked_url }}">
            <span class="material-symbols-outlined text-secondary opacity-50">check</span>
        </a>
    {% else %}
        {% if todo.is_counter %}
            <a href="{{ todo.get_rise_value_url }}">
                <span class="material-symbols-outlined text-primary">add_box</span>
            </a>
        {% else %}
            <a href="{{ todo.get_change_checked_url }}">
                <span class="material-symbols-outlined text-secondary">check_box_outline_blank</span>
            </a>
        {% endif %}
    {% endif %}
    <!--ТЕКСТ-->
    <a href="#wish_todo_edit_dialogue_{{ todo.pk }}" class="text-decoration-none w-100" data-bs-toggle="offcanvas">
        {% if todo.is_checked %}
            <p class="m-0 ms-2 p-0 text-decoration-line-through text-secondary opacity-50 w-100">
                {% if todo.title == '' %}---
                {% else %}{{ todo.title }}
                {% endif %}
            </p>
        {% else %}<p class="m-0 ms-2 p-0 text-black w-100">{{ todo.title }}</p>
        {% endif %}
    </a>
    {% if todo.is_counter %}
        {% if todo.is_checked %}
            <p class="m-0 p-0 ms-3 text-decoration-line-through text-secondary opacity-50" style="white-space: nowrap;">{{ todo.current_value }} / {{ todo.required_value }}</p>
        {% else %}
            <p class="m-0 p-0 ms-3 text-black" style="white-space: nowrap;">{{ todo.current_value }} / {{ todo.required_value }}</p>
        {% endif %}
    {% endif %}
</div>
{% include 'app_wishes/dialogue__wish_todo_edit.html' %}
