<div id="{{ wish.pk }}" class="card border-0 mb-1 shadow" style="border-radius: .5rem;">

    <!--Изображение-->
    {% if wish.image %}
        <img src="{{ wish.get_image_url_or_none }}" class="card-img-top" style="border-radius: .5rem .5rem 0 0;">
    {% endif %}

    <!--Тело карточки-->
    <div class="card-body p-2"
         style="border-radius: 0 0 .5rem .5rem; background-color: {{ area.color }}; opacity: 85%;">
        <!--Текст желания-->
        <a href="{{ wish.get_absolute_url }}" class="text-reset text-decoration-none stretched-link">
            <p class="text-white m-0 p-0 pb-1" style="font-size: 14px; line-height: 20px;">{{ wish }}</p>
        </a>
        {% if profile.subscription.is_active %}
            <!--Важность-->
            <div class="pb-1">
                {% if wish.importance == 1 %}
                    {% include "icons/star_16.html" with status="WHITE" %}
                {% elif wish.importance == 3 %}
                    {% include "icons/star_16.html" with status="WHITE" %}
                    {% include "icons/star_16.html" with status="WHITE" %}
                    {% include "icons/star_16.html" with status="WHITE" %}
                {% endif %}
            </div>
            <!--Прогресс-->
            {% if wish.progress < 100 %}
                <div class="bg-white pt-1" style="width: {{ wish.progress }}%; height: 2px;"></div>
            {% endif %}
        {% endif %}

        <!--Кнопка "Меню желания"-->
<!--        {% comment %}-->
<!--        <div class="d-flex flex-row-reverse pt-1 opacity-50">-->
<!--            {% include 'app_wishes/button__wish_menu.html' %}-->
<!--        </div>-->
<!--        {% endcomment %}-->

        <!--Прогресс-->
<!--        <div class="progress w-100" style="height: 24px;">-->
<!--            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{ wish.progress }}%;" aria-valuenow="{{ wish.progress }}" aria-valuemin="0" aria-valuemax="100">-->
<!--                {{ wish.progress }}%-->
<!--            </div>-->
<!--        </div>-->

    </div>
</div>
