{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="area_create_dialogue"
{% endblock %}

{% block dialogue_title %}
    Создание области
{% endblock %}

{% block dialogue_body %}
    <form method="post">
        {% csrf_token %}
        <!--НАИМЕНОВАНИЕ-->
        <div class="form-floating mb-3">
            {{ area_create_form.title }}
            <label for="{{ area_create_form.title.id }}">{{ area_create_form.title.label }}</label>
        </div>
        {% for field, errors in area_create_form.title.errors.items %}
            {% for error in errors %}
                <p class="text-danger mb-3"><b>{{ error }}</b></p>
            {% endfor%}
        {% endfor %}
        <!--ЦВЕТ-->
        <div class="form-floating mb-3">
            {{ area_create_form.color }}
            <label for="{{ area_create_form.color.id }}">{{ area_create_form.color.label }}</label>
        </div>
        {% for field, errors in area_create_form.color.errors.items %}
            {% for error in errors %}
                <p class="text-danger mb-3"><b>{{ error }}</b></p>
            {% endfor%}
        {% endfor %}
        <div class="d-flex flex-row justify-content-between align-items-center mt-4">
            <input type="submit" class="btn btn-primary w-100" name="area_save" style="height: 3rem;" value="Сохранить">
            <button type="button" class="btn btn-light ms-2" data-bs-dismiss="offcanvas" style="height: 3rem;">Закрыть</button>
        </div>
    </form>
{% endblock %}
