{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="wish_name_edit_dialogue"
{% endblock %}

{% block dialogue_title %}
    Сформулируйте ваше желание
{% endblock %}

{% block dialogue_body %}
    <form method="post">
        {% csrf_token %}
        {{ wish_title_form.as_p }}
        {% if profile.subscription.is_active %}
            {% include 'app_wishes/block__wish_title_info.html' %}
        {% endif %}
        <!--КНОПКИ-->
        <div class="d-flex flex-row justify-content-between align-items-center">
            <input type="submit" class="btn btn-primary w-100" name="wish_title_save" style="height: 3rem;" value="Сохранить">
            <button type="button" class="btn btn-light ms-2" data-bs-dismiss="offcanvas" style="height: 3rem;">Закрыть</button>
        </div>
    </form>
{% endblock %}
