{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="wish_acceptance_info_dialogue"
{% endblock %}

{% block dialogue_title %}
    Принятие желания
{% endblock %}

{% block dialogue_body %}
    <p>Принятие желания – это согласие со всеми положительными и отрицательными последствиями, которые произойдут с вами и вашим окружением в результате реализации этого желания.</p>
    <p>Вы должны быть абсолютно уверенны в том, что это действительно ваше желание, и вы хотите его исполнения, чего бы вам это не стоило.</p>
    <p>Вам необходимо принять тот факт, что как только вы примете ответственность за ваше желание, обратной дороги не будет. С этого момента вам придется отбросить все сомнения и начать неустанно двигаться в выбранном направлении.</p>
    <p>Перед тем, как принять ответственность прочитайте вслух ваше желание и все его элементы. Прочувствуйте что вы произнесли.</p>
    <p>Затем произнесите вслух текст принятия: "Я принимаю ответственность ...".</p>
    <p>Почувствуйте, что говорит вам ваше тело. Если принятие вас воодушевляет, если вам комфортно, и вы уверены в произнесенном, значит всё отлично. Если это не так и вы чувствуете неуверенность или тревогу, откорректируйте ваше желание, изображение или другие его элементы.</p>
    <p>Если вы не готовы принять ответственность за исполнение этого желания – откажитесь от него. Скорее всего это будет лучшим решением.</p>
    <p>Если вы готовы, примите ответственность за это желание.</p>
    <hr class="text-black-50">
    <!--Промо книги "ВИЖН"-->
    {% include 'block__book_promo.html' %}
{% endblock %}
