{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="wish_changes_info_dialogue"
{% endblock %}

{% block dialogue_title %}
    Изменения
{% endblock %}

{% block dialogue_body %}

    <p>Представьте и опишите все положительные изменения, которые произошли с вами и вашим окружением в результате исполнения этого желания.</p>
    <ul>
        <li>Как изменились вы, ваше внешнее и внутреннее состояние?</li>
        <li>Как изменились люди окружающие вас и их отношение к вам?</li>
        <li>Как изменилась ваша жизнь?</li>
        <li>Другие изменения</li>
    </ul>
    <p>Важно, чтобы эти изменения были для вас ценными и вызывали яркие эмоции.</p>            <!--Промо книги "ВИЖН"-->
    <hr class="text-black-50">
    {% include 'block__book_promo.html' %}

{% endblock %}


