{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
        id="area_edit_dialogue_{{ area.pk }}"
{% endblock %}

{% block dialogue_title %}
    Область желаний
{% endblock %}

{% block dialogue_body %}
    <form method="post">
        {% csrf_token %}
        {% for key, value in area_edit_forms.items %}
            {% if key == area.pk %}
                <!--НАИМЕНОВАНИЕ-->
                <div class="form-floating mb-3">
                    {{ value.title }}
                    <label for="{{ value.title.id }}">{{ value.title.label }}</label>
                </div>
                {% for field, errors in value.title.errors.items %}
                    {% for error in errors %}
                        <p class="text-danger mb-3"><b>{{ error }}</b></p>
                    {% endfor%}
                {% endfor %}
                <!--ЦВЕТ-->
                <div class="form-floating mb-3">
                    {{ value.color }}
                    <label for="{{ value.color.id }}">{{ value.color.label }}</label>
                </div>
                {% for field, errors in value.color.errors.items %}
                    {% for error in errors %}
                        <p class="text-danger mb-3"><b>{{ error }}</b></p>
                    {% endfor%}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <!--КНОПКИ-->
        <div class="d-flex flex-row justify-content-between align-items-center mt-4 mb-3">
            <input type="submit" class="btn btn-primary w-100" name="area_{{ area.pk }}_save" style="height: 3rem;" value="Сохранить">
            <button type="button" class="btn btn-light ms-2" data-bs-dismiss="offcanvas" style="height: 3rem;">Закрыть</button>
        </div>
    </form>
{% endblock %}
