{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="wish_importance_info_dialogue"
{% endblock %}

{% block dialogue_title %}
    Важность желания
{% endblock %}

{% block dialogue_body %}
<!--    <p>Подумайте и составьте список простых действий, которые бы могли приблизить реализацию вашего желания.</p>-->
<!--    <p>По возможности выполняйте эти действия. Так вы будете двигаться навстречу вселенной и ускорите исполнение этого желания.</p>-->
    <hr class="text-black-50">
    <!--Промо книги "ВИЖН"-->
    {% include 'block__book_promo.html' %}
{% endblock %}


