{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="fear_create_dialogue"
{% endblock %}

{% block dialogue_title %}
    Добавление опасения
{% endblock %}

{% block dialogue_body %}
    <p class="text-secondary">Я опасаюсь, что после исполнения моего желания произойдёт следующее:</p>
    <form method="post">
        {% csrf_token %}
        {{ fear_create_form.as_p }}
        <div class="mb-4"></div>
        <!--Кнопки-->
        <div class="d-flex justify-content-between align-items-center m-0 mb-3">
            <input type="submit" class="btn btn-primary w-100" name="fear_save" style="height: 3rem;" value="Сохранить">
            <button type="button" class="btn btn-light ms-2" data-bs-dismiss="offcanvas" style="height: 3rem;">Закрыть</button>
        </div>
    </form>
{% endblock %}
