{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="preventions_title_edit_dialogue"
{% endblock %}

{% block dialogue_title %}
    Предотвращение
{% endblock %}

{% block dialogue_body %}
    <p class="mb-3">Подумайте и запишите всё, что вы можете сделать, чтобы это опасение никогда не случилось. Напишите минимум один вариант</p>
    <form method="post">
        {% csrf_token %}
        {{ preventions_formset.as_p }}
        <div class="mb-3"></div>
        <!--Кнопки-->
        <div class="d-flex flex-row justify-content-between align-items-center">
            <input type="submit" class="btn btn-primary w-100" name="neutralizations_save" style="height: 3rem;" value="Сохранить">
            <button type="button" class="btn btn-light ms-2" data-bs-dismiss="offcanvas" style="height: 3rem;">Закрыть</button>
        </div>
    </form>
{% endblock %}
