{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="wish_context_edit_dialogue"
{% endblock %}

{% block dialogue_title %}
    Как вы осознали, что желание исполнилось?
{% endblock %}

{% block dialogue_body %}
    <form method="post">
        {% csrf_token %}
        {{ wish_context_form.as_p }}
        <!--ИНФОРМАЦИЯ-->
        <!--Заголовок-->
        <a href="#infoblock_wish_context" class="text-decoration-none" data-bs-toggle="collapse">
            <div class="d-flex justify-content-between align-items-start m-0 mb-4 mt-4 w-100">
                <!--Иконка-->
                <div class="d-flex justify-content-center align-items-center" style="border-radius: .375rem; background-color: #f2f2f2; height: 24px; width: 24px;">
                    <p class="m-0 text-center text-secondary font-monospace" style="font-size: 16px;">i</p>
                </div>
                <!--Текст-->
                <p class="p-0 m-0 ms-2 text-secondary w-100"><i>Как правильно заполнить осознание исполнения</i></p>
            </div>
        </a>
        <!--Контент-->
        <div class="collapse mb-3 p-3" id="infoblock_wish_context" style="border-radius: .375rem; background-color: #f2f2f2">
            {% include 'app_wishes/info__wish_context.html' %}
            <!--Промо книги "ВИЖН"-->
            <hr class="text-black-50">
            {% include 'block__book_promo.html' %}
        </div>

        <!--Кнопки-->
        <div class="d-flex flex-row justify-content-between align-items-center">
            <input type="submit" class="btn btn-primary w-100" name="wish_context_save" style="height: 3rem;" value="Сохранить">
            <button type="button" class="btn btn-light ms-2" data-bs-dismiss="offcanvas" style="height: 3rem;">Закрыть</button>
        </div>
    </form>
{% endblock %}
