{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="wish_todo_edit_dialogue_{{ todo.pk }}"
{% endblock %}

{% block dialogue_title %}
    Действие
{% endblock %}

{% block dialogue_body %}

    <!--ФОРМА-->
    <form method="post">
        {% csrf_token %}
        {% for key, value in todo_forms.items %}
            {% if key == todo.pk %}
                <!--НАИМЕНОВАНИЕ-->
                <div class="mb-3">
                    {{ value.title }}
                </div>
                {% for field, errors in value.title.errors.items %}
                    {% for error in errors %}
                        <p class="text-danger mb-3"><b>{{ error }}</b></p>
                    {% endfor%}
                {% endfor %}
                <!--СЧЕТЧИК-->
                <!--ЗАГОЛОВОК-->
                <a href="#counter" class="text-decoration-none" data-bs-toggle="collapse">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <p class="p-0 m-0 text-secondary w-100 mb-3">Счетчик</p>
                        <span class="material-symbols-outlined text-secondary ms-2">expand_more</span>
                    </div>
                </a>
                <!--КОНТЕНТ-->
                <div class="collapse mb-3 p-3" id="counter" style="border-radius: .375rem; background-color: #f2f2f2">
                    <!--ТЕКУЩЕЕ ЗНАЧЕНИЕ-->
                    <div class="form-floating mb-3">
                        {{ value.current_value }}
                        <label for="{{ value.current_value.id }}">{{ value.current_value.label }}</label>
                    </div>
                    {% for field, errors in value.current_value.errors.items %}
                        {% for error in errors %}
                            <p class="text-danger mb-3"><b>{{ error }}</b></p>
                        {% endfor %}
                    {% endfor %}
                    <!--ТРЕБУЕМОЕ ЗНАЧЕНИЕ-->
                    <div class="form-floating mb-3 w-100">
                        {{ value.required_value }}
                        <label for="{{ value.required_value.id }}">{{ value.required_value.label }}</label>
                    </div>
                    {% for field, errors in value.required_value.errors.items %}
                        {% for error in errors %}
                            <p class="text-danger mb-3"><b>{{ error }}</b></p>
                        {% endfor%}
                    {% endfor %}
                    <input type="submit" class="btn btn-outline-danger w-100" name="todo_{{ todo.pk }}_clean_counter" style="height: 3rem;" value="Удалить счетчик">
                </div>
            {% endif %}
        {% endfor %}
        <!--КНОПКИ-->
        <div class="d-flex flex-row justify-content-between align-items-center">
            <input type="submit" class="btn btn-danger" name="todo_{{ todo.pk }}_delete" style="height: 3rem;" value="Удалить">
            <input type="submit" class="btn btn-primary ms-2 w-100" name="todo_{{ todo.pk }}_save" style="height: 3rem;" value="Сохранить">
            <button type="button" class="btn btn-light ms-2" data-bs-dismiss="offcanvas" style="height: 3rem;">Закрыть</button>
        </div>
    </form>

{% endblock %}
