{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="wish_importance_edit_dialogue"
{% endblock %}

{% block dialogue_title %}
    Оцените важность желания
{% endblock %}

{% block dialogue_body %}
    <table class="table table-borderless">
        <tbody>
            <tr class="align-items-center mb-3">
                <td class="text-nowrap ps-0">
                    <a href="{% url 'wish_set_importance' pk=wish.pk value=3 %}" class="text-decoration-none" style="height: 24px;">
                        {% include "icons/star_24.html" with status="WARNING" %}
                        {% include "icons/star_24.html" with status="WARNING" %}
                        {% include "icons/star_24.html" with status="WARNING" %}
                    </a>
                </td>
                <td class="w-100" style="padding-top: 10px;">
                    <a href="{% url 'wish_set_importance' pk=wish.pk value=3 %}" class="text-decoration-none text-primary">ВАЖНО!</a>
                </td>
            </tr>
            <tr class="align-items-center mb-3">
                <td class="text-nowrap ps-0">
                    <a href="{% url 'wish_set_importance' pk=wish.pk value=1 %}" class="text-decoration-none" style="height: 24px;">
                        {% include "icons/star_24.html" with status="WARNING" %}
                        {% include "icons/star_24.html" with status="LIGHT" %}
                        {% include "icons/star_24.html" with status="LIGHT" %}
                    </a>
                </td>
                <td class="w-100" style="padding-top: 10px;">
                    <a href="{% url 'wish_set_importance' pk=wish.pk value=1 %}" class="text-decoration-none text-primary">Хотелось бы</a>
                </td>
            </tr>
            <tr class="align-items-center mb-3">
                <td class="text-nowrap ps-0">
                    <a href="#maybe_delete" class="text-decoration-none" data-bs-toggle="collapse" style="height: 24px;">
                        {% include "icons/star_24.html" with status="LIGHT" %}
                        {% include "icons/star_24.html" with status="LIGHT" %}
                        {% include "icons/star_24.html" with status="LIGHT" %}
                    </a>
                </td>
                <td class="w-100" style="padding-top: 10px;">
                    <!--<a href="#maybe_delete" class="text-decoration-none text-primary" data-bs-toggle="collapse" style="height: 24px;">Не важно</a>-->
                    <a href="{% url 'wish_set_importance' pk=wish.pk value=0 %}" class="text-decoration-none text-primary">Не важно</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!--<div class="collapse mb-3 p-3" id="maybe_delete" style="border-radius: .375rem; background-color: #f2f2f2">-->
    <!--    <p>Если реализация данного желания не имеет для вас никакого значения, возможно стоит его удалить?</p>-->
    <!--    <p class="mb-3">Так подсознание сэкономит ресурсы, и направит их на реализацию действительно важных желаний.</p>-->
    <!--    <div class="d-flex justify-content-between align-items-center">-->
    <!--        <a href="{{ wish.get_delete_url }}" class="text-decoration-none w-100">-->
    <!--            <button class="btn btn-danger w-100" style="height: 3rem;">Удалить желание</button>-->
    <!--        </a>-->
    <!--        <a href="{% url 'wish_set_importance' pk=wish.pk value=0 %}" class="text-decoration-none">-->
    <!--            <button class="btn btn-light ms-2" style="height: 3rem;">Сохранить</button>-->
    <!--        </a>-->
    <!--    </div>-->
    <!--</div>-->

    <!--ИНФОРМАЦИЯ-->
    <!--Заголовок-->
    <a href="#infoblock_wish_importance" class="text-decoration-none" data-bs-toggle="collapse">
        <div class="d-flex justify-content-between align-items-start m-0 mb-4 mt-4 w-100">
            <!--Иконка-->
            <div class="d-flex justify-content-center align-items-center" style="border-radius: .375rem; background-color: #f2f2f2; height: 24px; width: 24px;">
                <p class="m-0 text-center text-black font-monospace" style="font-size: 16px;">i</p>
            </div>
            <!--Текст-->
            <p class="p-0 m-0 ms-2 text-secondary w-100"><i>Для чего нужно оценивать важность желания</i></p>
        </div>
    </a>
    <!--Контент-->
    <div class="collapse mb-3 p-3" id="infoblock_wish_importance" style="border-radius: .375rem; background-color: #f2f2f2">
        <p>Оценивая важность желания вы сообщаете вашему подсознанию сколько ресурсов необходимо выделять для реализации желания.</p>
        <p>Если реализация желания не имеет для вас никакого значения, лучше удалите его. Так подсознание сэкономит ресурсы, и направит их на реализацию действительно важных желаний.</p>
        <!--{% comment %}-->
        <!--{% include 'app_wishes/info__wish_importance.html' %}-->
        <!--{% endcomment %}-->
        <!--Промо книги "ВИЖН"-->
        <hr class="text-black-50">
        {% include 'block__book_promo.html' %}
    </div>

{% endblock %}
