{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="wish_todo_create_dialogue"
{% endblock %}

{% block dialogue_title %}
    Введите действие
{% endblock %}

{% block dialogue_body %}


 <!--ФОРМА-->
    <form method="post">
        {% csrf_token %}
        <!--НАИМЕНОВАНИЕ-->
        <div class="mb-3">
            {{ todo_create_form.title }}
        </div>
        {% for field, errors in todo_create_form.errors.items %}
            {% for error in errors %}
                <p class="text-danger mb-3"><b>{{ error }}</b></p>
            {% endfor%}
        {% endfor %}
        <!--СЧЕТЧИК-->
        <!--ЗАГОЛОВОК-->
        <a href="#counter" class="text-decoration-none" data-bs-toggle="collapse">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <p class="p-0 m-0 text-secondary w-100 mb-3">Счетчик</p>
                <span class="material-symbols-outlined text-secondary ms-2">expand_more</span>
            </div>
        </a>
        <!--КОНТЕНТ-->
        <div class="collapse mb-3 p-3" id="counter" style="border-radius: .375rem; background-color: #f2f2f2">
            <!--ТЕКУЩЕЕ ЗНАЧЕНИЕ-->
            <div class="form-floating mb-3">
                {{ todo_create_form.current_value }}
                <label for="{{ todo_create_form.current_value.id }}">{{ todo_create_form.current_value.label }}</label>
            </div>
            {% for field, errors in todo_create_form.current_value.errors.items %}
                {% for error in errors %}
                    <p class="text-danger mb-3"><b>{{ error }}</b></p>
                {% endfor %}
            {% endfor %}
            <!--ТРЕБУЕМОЕ ЗНАЧЕНИЕ-->
            <div class="form-floating w-100">
                {{ todo_create_form.required_value }}
                <label for="{{ todo_create_form.required_value.id }}">{{ todo_create_form.required_value.label }}</label>
            </div>
            {% for field, errors in todo_create_form.required_value.errors.items %}
                {% for error in errors %}
                    <p class="text-danger mb-3"><b>{{ error }}</b></p>
                {% endfor%}
            {% endfor %}
        </div>
        <!--КНОПКИ-->
        <div class="d-flex flex-row justify-content-between align-items-center">
            <input type="submit" class="btn btn-primary w-100" name="todo_save" style="height: 3rem;" value="Сохранить">
            <button type="button" class="btn btn-light ms-2" data-bs-dismiss="offcanvas" style="height: 3rem;">Закрыть</button>
        </div>
    </form>

{% endblock %}
