{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="wish_progress_info_dialogue"
{% endblock %}

{% block dialogue_title %}
    Глубина проработки желания
{% endblock %}

{% block dialogue_body %}
    <p>Шкала прогресса показывает насколько хорошо вы запрограммировали ваше подсознание.</p>
    <p>Заполните всю информацию о желании и шкала прогресса достигнет 100%. Так вы максимально приблизите реализацию вашего желания.</p>
    <hr class="text-black-50">
    <!--Промо книги "ВИЖН"-->
    {% include 'block__book_promo.html' %}
{% endblock %}


