{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="wish_image_edit_dialogue"
{% endblock %}

{% block dialogue_title %}
    Загрузите изображение
{% endblock %}

{% block dialogue_body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ wish_image_form.as_p }}
        {% if profile.subscription.is_active %}
            <!--ИНФОРМАЦИЯ-->
            <!--Заголовок-->
            <a href="#infoblock_wish_image" class="text-decoration-none" data-bs-toggle="collapse">
                <div class="d-flex justify-content-between align-items-start m-0 mb-4 mt-4 w-100">
                    <!--Иконка-->
                    <div class="d-flex justify-content-center align-items-center" style="border-radius: .375rem; background-color: #f2f2f2; height: 24px; width: 24px;">
                        <p class="m-0 text-center text-secondary font-monospace" style="font-size: 16px;">i</p>
                    </div>
                    <!--Текст-->
                    <p class="p-0 m-0 ms-2 text-secondary w-100"><i>Как подобрать правильное изображение</i></p>
                </div>
            </a>
            <!--Контент-->
            <div class="collapse mb-3 p-3" id="infoblock_wish_image" style="border-radius: .375rem; background-color: #f2f2f2">
                <p>Если вы уверены в своём желании и точно знаете как выглядит результат его исполнения, используйте максимально точные фотографии. Например, для автомобиля, о котором вы мечтаете, используйте фотографии, на которых указан его цвет, цвет его салона, его комплектация и другие элементы.</p>
                <p>Если вы не уверены в том, как должен выглядеть результат исполнения желания, то используйте фотографии, которые эмоционально отражают желаемое. В идеале они должны вызывать внутри вас бурю вдохновения и приятных ощущений, даже если они ничего не конкретизируют.</p>
                <p>Важно чтобы ваша эмоциональная связь с изображением была сильной.</p>
                <!--Промо книги "ВИЖН"-->
                <hr class="text-black-50">
                {% include 'block__book_promo.html' %}
            </div>
        {% endif %}
        <!--Кнопки-->
        <div class="d-flex flex-row justify-content-between align-items-center">
            {% if wish.get_image_url_or_none is not None %}
<!--                <a href="{{ wish.get_image_delete_url }}" class="text-decoration-none">-->
<!--                    <button class="btn btn-danger me-2" style="height: 3rem; width: 3rem;">-->
<!--                        {% include 'svg/delete.html' with status='WHITE' %}-->
<!--                    </button>-->
<!--                </a>-->
                <input type="submit" class="btn btn-danger me-2" name="wish_image_delete" style="height: 3rem;" value="Удалить">

            {% endif %}
            <input type="submit" class="btn btn-primary w-100" name="wish_image_save" style="height: 3rem;" value="Сохранить">
            <button type="button" class="btn btn-light ms-2" data-bs-dismiss="offcanvas" style="height: 3rem;">Закрыть</button>
        </div>
    </form>
{% endblock %}
