<p>Закройте глаза, сделайте несколько глубоких вдохов, и представьте, что ваше желание только что исполнилось.</p>
<p>Представьте где, когда и при каких обстоятельствах это произошло? Кто с вами в этот момент находился? Что этому предшествовало, и чем всё закончилось?</p>
<p>В поисках ответа постарайтесь как можно глубже погрузиться в момент осознания. Ощутите и опишите каждую деталь происходящего.</p>
<p>Прислушайтесь к ощущениям внутри вашего тела. Вы должны почувствовать твердую уверенность в том, что всё было именно так.</p>