<p>Представьте и подробно опишите ваше желание. Опишите, каждый его элемент, каждое его свойство и всё то, что считаете важным.</p>
<p>При написании знайте меру, и не грузите ваше подсознание деталями, которые на самом деле не имеют никакого значения.</p>