<p>Закройте глаза, сделайте несколько глубоких вдохов и представьте, что ваше желание давно исполнилось.</p>
<p>Затем погрузитесь в воспоминания о моментах вашей жизни, когда вы взаимодействовали с результатами исполнения этого желания.</p>
<p>Например, если это желание обладать новым автомобилем, погрузитесь в мир владения этим автомобилем.</p>
<p>Вспомните как вы радовались, когда его покупали, как в нем пахло новым салоном и как вы впервые завели его двигатель. Вспомните вашу первую поездку, ваше волнение и ощущение драйва в собственном теле. Вспомните удивлённые взгляды ваших друзей, когда они впервые увидели ваш автомобиль. Вспомните как горели огни его электроники, как басовито рычал мотор и как завистливо глядели на вас соседи по потоку, когда вы их обгоняли. Вспомните как на этом автомобиле вы ездили в путешествие ...</p>
<p>Как можно глубже проживайте воспоминания, которые вас посещают. Погружайтесь в детали.</p>
<p>Обязательно прочувствуйте, что говорит вам ваше тело. Необходимо чтобы ваши ощущения были максимально приятными, и вы ощущали уверенность в том, что всё именно так и было.</p>
