{% extends 'template__modal.html' %}

{% block modal_id %}
    id="fear_delete_modal"
{% endblock %}

{% block modal_caption %}{% endblock %}

{% block modal_title %}
    Удаление
{% endblock %}

{% block modal_body %}
    <p class="mb-4">Подтвердите удаление опасения</p>
    <div class="d-flex flex-row justify-content-between align-items-center">
        <!--Кнопка "Удалить"-->
        <a href="{{ fear.get_delete_url }}" class="text-decoration-none">
            <button class="btn btn-danger" style="height: 3rem;">Удалить</button>
        </a>
        <!--Кнопка "Закрыть"-->
        <button type="button" class="btn btn-primary w-100 ms-2" data-bs-dismiss="modal" style="height: 3rem;">Закрыть</button>
    </div>
{% endblock %}
