{% extends 'template__modal.html' %}
{% load static %}

{% block modal_id %}
    id="congratulations_modal"
{% endblock %}

{% block modal_title %}{% endblock %}

{% block modal_body %}
    <!--Изображение-->
    <img src="{% static 'images/congratulations.png' %}" class="img-fluid mb-3 w-100" style="border-radius: .5rem;">
    <!--Кнопки-->
<!--    <div class="d-flex flex-row justify-content-between">-->
        <a href="{{ wish.get_change_archiving_url }}" class="text-decoration-none w-100">
            <button class="btn btn-primary w-100" style="height: 3rem;">
                Желание исполнилось
            </button>
        </a>
<!--        <button type="button" class="btn btn-light ms-1" data-bs-dismiss="modal" style="height: 3rem;">Закрыть</button>-->
<!--    </div>-->
{% endblock %}
