{% load static %}

{% if profile.subscription.is_active %}
    {% if profile.show_wish_info_notification %}

        <!--Модальное окно 1-->
        <div class="modal fade" id="wish_info_notification" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!--ЗАГОЛОВОК-->
                    <div class="modal-header mb-0 align-items-start" style="border: 0;">
                        <h4 class="modal-title">Информация</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                      </div>
                    <!--ТЕЛО-->
                    <div class="modal-body p-3 pt-2">
                        <div class="d-flex flex-row justify-content-start align-items-start mb-4">
                            <!--ИКОНКА-->
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="d-flex justify-content-center align-items-center"
                                     style="width: 48px;
                                            height: 48px;
                                            border-radius: .75rem;
                                            background-color: #F2F2F2;">
                                    <p class="text-center text-dark font-monospace m-0 p-0" style="font-size: 24px;">i</p>
                                </div>
                            </div>
                            <!--ТЕКСТ-->
                            <p class="m-0 ms-3">Если в процессе создания карты желаний у вас возникнут вопросы, ответы вы найдете в информационных блоках.</p>
                        </div>
                        <!--КНОПКА-->
                        <a href="{{ wish.get_wish_info_notification_close_url }}" style="text-decoration-none">
                            <button class="btn btn-outline-primary w-100" style="height: 3rem;">Больше не показывать</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            window.addEventListener('load', function () {
                const elemModal = document.querySelector('#wish_info_notification');
                const modal = new bootstrap.Modal(elemModal);
                modal.show();
            });
        </script>

    {% endif %}
{% endif %}
