{% extends 'template__wish.html' %}

{% block title %}Страхи и опасения{% endblock %}

{% block main %}
    {% include 'messages.html' %}
    {% include 'app_wishes/button__back_to_wish_page.html' %}
    <div style="padding: 0 12px 16px 12px;">
        <!--ЗАГОЛОВОК-->
        <div class="d-flex justify-content-between align-items-center pb-2">
            <h1 class="m-0 p-0">Страхи и опасения</h1>
            <a href="" class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#fears_info_dialogue">
                <p class="m-0 ms-2 text-center text-secondary font-monospace" style="width: 24px;">i</p>
            </a>
            {% include 'app_wishes/dialogue__fears_info.html' %}
        </div>
        <!--ТЕКСТ-->
        <p class="pb-2 text-secondary">Я опасаюсь, что после исполнения моего желания, произойдёт следующее:</p>
        <!--СПИСОК ОПАСЕНИЙ-->
        {% for fear in wish.fears %}
            <a href="{{ fear.get_absolute_url }}" class="text-decoration-none">
            <div class="d-flex justify-content-between align-items-center">
                <p class="text-black m-0 p-0">{{ fear }}</p>
                <span class="material-symbols-outlined ms-3 text-secondary">chevron_right</span>
            </div>
            <hr class="text-black-50">
        {% endfor %}
        <!--КНОПКА "Добавить опасение"-->
        <div class="pb-2 ">
            <a class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#fear_create_dialogue">
                <button class="btn btn-light w-100 mb-3" style="height: 3rem;">
                    Добавить опасение
                </button>
            </a>
        </div>
    </div>
    {% include 'app_wishes/dialogue__fear_create.html' %}
{% endblock %}
