{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--OG-->
    {% block og %}{% endblock %}

    <!--bootstrap-5 CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <!--Material symbols-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@300" rel="stylesheet" />

    <!--SEO-->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <!--PWA-->
    <link rel="manifest" href="{% static '/PWA/manifest.json' %}">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" href="{% static 'PWA/icons/icon-192x192.png' %}">

    <!--Фавиконка-->
    <link rel="icon" type="image/png" href="{% static '/PWA/icons/icon-48x48.png' %}">
</head>

<body>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/sw.js').then(function(registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                }).catch(function(err) {
                    console.log(err)
                });
            });
        } else {
            console.log('service worker is not supported');
        }
    </script>

    <header>
        <div class="container-fluid m-0 p-0">
            {% block header %}
            {% endblock %}
        </div>
    </header>

    <main>
        <div class="container-fluid m-0 p-1">
            <h1>Карта желаний</h1>
            <div class="row row-cols-3 row-eq-height g-1">
                {% for area in profile.a_column_areas %}
                    <div class="col">
                        {% include 'app_wishes/card__area_new.html' %}
                    </div>
                {% endfor %}

<!--                {% comment %}-->
<!--                &lt;!&ndash;КОЛОНКА 1&ndash;&gt;-->
<!--                <div class="col panel">-->
<!--                    {% for area in profile.c1_column_areas %}-->
<!--                        {% include 'app_wishes/card__area_new.html' with column_number='c1' %}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--                &lt;!&ndash;КОЛОНКА 2&ndash;&gt;-->
<!--                <div class="col panel">-->
<!--                    {% for area in profile.c2_column_areas %}-->
<!--                        {% include 'app_wishes/card__area_new.html'  with column_number='c2'%}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--                &lt;!&ndash;КОЛОНКА 3&ndash;&gt;-->
<!--                <div class="col panel">-->
<!--                    {% for area in profile.c3_column_areas %}-->
<!--                        {% include 'app_wishes/card__area_new.html'  with column_number='c3'%}-->
<!--                    {% endfor %}-->
<!--                </div>-->
<!--                {% endcomment %}-->
            </div>
        </div>
    </main>

    <footer>
        <div class="container-fluid m-0 p-0">
            {% block footer %}
            {% endblock %}
        </div>
    </footer>
</body>

</html>
