{% extends 'template__map.html' %}
{% load static %}

<!--OG-->
{% block og %}{% endblock %}

{% block title %}ВИЖН{% endblock %}
{% block description %}{% endblock %}
{% block header %}{% endblock %}

{% block main %}
    {% include 'messages.html' %}

    <div class="container-fluid m-0 p-2">
        {% include 'block__navbar.html' %}

<!--        {% comment %}-->

        <!--Меню-->
<!--        <div class="d-flex flex-row justify-content-between align-items-center bg-white mb-3">-->
<!--            <div class="d-flex align-items-center">-->
<!--                <a href="{% url 'archived_wishes_list' %}" class="btn btn-sm btn-light me-1" style="box-shadow: none;">-->
<!--                    <i class="bi bi-star"></i>-->
<!--                </a>-->
<!--                {% include 'app_wishes/button__book_promo.html' %}-->
<!--            </div>-->
<!--        </div>-->
<!--        {% include 'app_users/card__user.html' %}-->
<!--        {% endcomment %}-->

<!--        {% comment %}-->
<!--        {% include 'app_users/notification__app_install.html' %}-->
<!--        {% endcomment %}-->

        {% include 'app_wishes/block__areas.html' %}
    </div>

    {% include 'app_users/modal__starting.html' %}

<!--    {% comment %}-->
<!--    {% include 'app_users/notification__app_install.html' %}-->
<!--    {% endcomment %}-->

{% endblock %}
