{% extends 'template__map.html' %}
{% load static %}

{% block title %}Исполненные желания{% endblock %}

{% block main %}
    {% include 'messages.html' %}
    {% include 'button__back_to_homepage.html' %}
    <div class="container-fluid" style="padding: 0 12px 16px 12px;">
        <!--ЗАГОЛОВОК-->
        <h1 class="mb-3">Исполненные желания</h1>
        <!--ИСПОЛНЕННЫЕ ЖЕЛАНИЯ-->
        <!--1 КОЛОНКА-->
        <div class="d-xs-block d-sm-none"><!--отображается на экранах < 576px-->
            <div class="row">
                <div class="col-xs-12">
                    {% for wish in a_column_wishes %}
                       {% include 'app_wishes/card__archived_wish.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--2 КОЛОНКИ-->
        <div class="d-none d-sm-block d-md-block d-lg-none"><!--отображается на экранах 576px – 992px-->
            <div class="row g-3">
                <!--Колонка 1-->
                <div class="col-sm-6 col-md-6 px-2 py-2">
                    {% for wish in b1_column_wishes %}
                        {% include 'app_wishes/card__archived_wish.html' %}
                    {% endfor %}
                </div>
                <!--Колонка 2-->
                <div class="col-sm-6 col-md-6 px-2 py-2">
                    {% for wish in b2_column_wishes %}
                        {% include 'app_wishes/card__archived_wish.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--3 КОЛОНКИ-->
        <div class="d-none d-lg-block"><!--отображается на экранах >= 992px-->
            <div class="row g-3">
                <!--Колонка 1-->
                <div class="col-lg-4">
                    {% for wish in c1_column_wishes %}
                        {% include 'app_wishes/card__archived_wish.html' %}
                    {% endfor %}
                </div>
                <!--Колонка 2-->
                <div class="col-lg-4">
                    {% for wish in c2_column_wishes %}
                        {% include 'app_wishes/card__archived_wish.html' %}
                    {% endfor %}
                </div>
                <!--Колонка 3-->
                <div class="col-lg-4">
                    {% for wish in c3_column_wishes %}
                        {% include 'app_wishes/card__archived_wish.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}

{% block footer %}{% endblock %}
