{% extends 'template__wish.html' %}

{% block title %}Желание{% endblock %}

{% block main %}
    {% include 'messages.html' %}

    <div class="d-flex flex-row justify-content-between align-items-start">
        {% if wish.is_archived %}
            {% include 'app_wishes/button__back_to_archived_wishes_list.html' %}
        {% else %}
            {% include 'button__back_to_wishmap.html' %}
        {% endif %}
        {% include 'app_wishes/button__wish_delete.html' %}
    </div>

    <!--Изображение-->
    {% include 'app_wishes/block__wish_image.html' %}

    <!--Желание-->
    {% include 'app_wishes/block__wish_title.html' %}

<!--    {% comment %}-->
<!--    &lt;!&ndash;Глубокая проработка желаний&ndash;&gt;-->
<!--    {% include 'app_wishes/block__wish_deep_study.html' %}-->
<!--    {% endcomment %}-->

   <!--ПОДРОБНОСТИ-->
    {% include 'app_wishes/block__wish_details.html' %}

    <!--ОСОЗНАНИЕ-->
    {% include 'app_wishes/block__wish_context.html' %}

    <!--ВОСПОМИНАНИЯ-->
    {% include 'app_wishes/block__wish_representation.html' %}

    <!--ИЗМЕНЕНИЯ-->
    {% include 'app_wishes/block__wish_changes.html' %}

    <!--СТРАХИ-->
    {% include 'app_wishes/block__wish_fears.html' %}

    <!--ПРИНЯТИЕ-->
    {% include 'app_wishes/block__wish_importance.html' %}

    <!--ПРИНЯТИЕ-->
    {% include 'app_wishes/block__wish_acceptance.html' %}

    <!--ПРОГРЕСС-->
    {% include 'app_wishes/block__wish_progress.html' %}

    <!--ДЕЙСТВИЯ-->
    {% include 'app_wishes/block__wish_todoes_list.html' %}

    <!--Исполнение желания-->
    {% include 'app_wishes/button__wish_change_archiving.html' %}

    <!--Промо ВИЖН-карты-->
    {% include 'app_sales/block__subscription.html' with status='PAGE_WISH' %}

<!--    {% comment %}-->
<!--    {% include 'app_wishes/notification__wish_info.html' %}-->
<!--    {% endcomment %}-->

{% endblock %}



<!--{% comment %}-->
<!--{% include 'app_sales/block__subscription_promo.html' %}-->

<!--    {% if not userprofile.visionmap_mode %}-->
<!--        <hr class="text-black-50 mt-0 mb-3">-->
<!--        <p class="text-secondary mb-3">Активируйте режим ВИЖН-карты, проработайте ваши желания и они исполнятся в кратчайшие сроки.</p>-->
<!--    {% endif%}-->
    <!--{% endcomment %}-->