{% extends 'template__wish.html' %}

{% block title %}{{ fear }}{% endblock %}

{% block main %}
    {% include 'messages.html' %}
    <div style="padding: 16px 12px 16px 12px;">
        <!--НАВИГАЦИЯ-->
        <div class="d-flex flex-row justify-content-between align-items-center mb-3">
            {% include 'app_wishes/button__back_to_fears_list.html' %}
            <a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#fear_delete_modal">
                <p class="m-0 p-0 text-danger"><small>Удалить</small></p>
            </a>
            {% include 'app_wishes/modal__fear_delete.html' %}
        </div>
        <!--ЗАГОЛОВОК-->
        <a class="text-decoration-none" href="#fear_title_edit_dialogue" data-bs-toggle="offcanvas">
            <div class="pb-3">
                <h1 class="text-black m-0 p-0">{{ fear }}</h1>
                <!--{% comment %}-->
                <!--{% if used_preventions_count != 0 and used_eliminations_count != 0 %}-->
                <!--{% endcomment %}-->
            </div>
        </a>
        {% include 'app_wishes/dialogue__fear_title_edit.html' %}
        <!--ПРЕДОТВРАЩЕНИЕ-->
        <div class="pb-3">
            <p><b>Предотвращение</b></p>
            <p class="mb-3">Чтобы это предотвратить, я сделаю следующее:</p>
            <a class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#preventions_title_edit_dialogue">
                <ol class="mb-3">
                    {% for prevention in preventions %}
                        {% if prevention.title != None %}
                            <li class="text-black">{{ prevention.title }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <button class="btn btn-light w-100" style="height: 3rem;">
                    {% if used_preventions_count == 0 %}Создать список
                    {% else %}Изменить список
                    {% endif %}
                </button>
            </a>
            {% include 'app_wishes/dialogue__preventions_title_edit.html' %}
        </div>
        <hr class="text-black-50" style="margin: 0 0 16px 0;">
        <!--УСТРАНЕНИЕ ПОСЛЕДСТВИЙ-->
        <div class="pb-3">
            <p><b>Устранение последствий</b></p>
            <p class="mb-3">Чтобы устранить последствия произошедшего я сделаю следующее:</p>
            <a class="text-decoration-none" data-bs-toggle="offcanvas" data-bs-target="#eliminations_title_edit_dialogue">
                <ol class="mb-3">
                    {% for elimination in eliminations %}
                        {% if elimination.title != None %}
                            <li class="text-black">{{ elimination.title }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <button class="btn btn-light w-100" style="height: 3rem;" data-bs-toggle="offcanvas" data-bs-target="#eliminations_title_edit_dialogue">
                    {% if used_eliminations_count == 0 %}Создать список
                    {% else %}Изменить список
                    {% endif %}
                </button>
            </a>
        </div>
    </div>
    {% include 'app_wishes/dialogue__eliminations_title_edit.html' %}
{% endblock %}
