{% extends 'template__map.html' %}

{% block title %}Действия{% endblock %}

{% block main %}
    {% include 'messages.html' %}
    {% include 'button__back_to_homepage.html' %}
    <div style="padding: 0 12px 16px 12px;">
        <h1 class="mb-3">Действия</h1>
        <!--Действия-->
        {% if area_dict %}
            {% for key, value in area_dict.items %}
                <div class="p-3 pb-1 mb-2" style="background-color: {{ key.color }}; border-radius: .5rem;">
                    {% for wish in value %}
                        {% if wish == 'separator' %}
                            <hr class="text-white p-0">
                        {% else %}
                            {% for todo in wish.unchecked_todoes %}
                                <div class="d-flex justify-content-between align-items-start mb-3">
                                    <!--ЧЕКБОКС-->
                                    {% if todo.is_counter %}
                                        {% if todo.current_value < todo.required_value %}
                                            <a href="{{ todo.get_rise_value_url }}" style="height: 24px;">
                                                <span class="material-symbols-outlined text-white">add_box</span>
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ todo.get_change_checked_url }}" style="height: 24px;">
                                            <span class="material-symbols-outlined text-white">check_box_outline_blank</span>
                                        </a>
                                    {% endif %}
                                    <!--ТЕКСТ-->
                                    <a href="#wish_todo_edit_dialogue_{{ todo.pk }}" class="text-decoration-none w-100" data-bs-toggle="offcanvas">
                                        <p class="m-0 ms-2 p-0 text-white w-100">{{ todo.title }}</p>
                                    </a>
                                    <!--ЗНАЧЕНИЕ СЧЕТЧИКА-->
                                    {% if todo.is_counter %}
                                        <p class="m-0 p-0 ms-3 text-white" style="white-space: nowrap;">{{ todo.current_value }} / {{ todo.required_value }}</p>
                                    {% endif %}
                                </div>
                                {% include 'app_wishes/dialogue__wish_todo_edit.html' %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
