{% extends 'template__page.html' %}

{% block title %}Редактирование области{% endblock %}

{% block main %}
    {% include 'messages.html' %}

    <!--Кнопки-->
    <div class="d-flex flex-row justify-content-between align-items-center mb-2">
        {% include 'button__back_to_homepage.html' %}
        {% include 'app_wishes/button__area_delete.html' %}
    </div>

    <!--Заголовок-->
    <h1 class="mb-4">{{ area }}</h1>


    <!--Форма-->
    <form method="post">
        {% csrf_token %}
        {{ area_edit_form.as_p }}
        <div class="mb-4"></div>
        <!--Кнопки-->

        <input type="submit" class="btn btn-primary" name="area_save" style="height: 3rem;" value="Сохранить">
        <a href="{% url 'homepage' %}" class="text-decoration-none">
            <button type="button" class="btn btn-light ms-1" style="height: 3rem;">Закрыть</button>
        </a>
    </form>

{% endblock %}
