{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="book_dialogue"
{% endblock %}

{% block dialogue_title %}
    ВИЖН - эффективная реализация желаний
{% endblock %}

{% block dialogue_body %}
    <p>Опишите все положительные изменения, которые произошли с вами и вашим окружением в результате исполнения этого желания.</p>
    <ul>
        <li>Как изменились вы, ваше внешнее и внутреннее состояние?</li>
        <li>Как изменились люди окружающие вас, и их отношение к вам?</li>
        <li>Как изменилась ваша жизнь?</li>
    </ul>
    <p>Важно, чтобы эти изменения были для вас ценными и вызывали яркие эмоции.</p>
    <hr class="text-black-50">
    <!--Промо книги "ВИЖН"-->
    {% include 'block__book_promo.html' %}

{% endblock %}


