


{% extends '_base.html' %}
{% load static %}

{% block title %}{{ area }}{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

<!--Глобальный Контейнер-->
<div class="container-fluid" style="margin:0; padding: 0;">

  <!--Контейнер-->
  <div class="container-md" style="padding: 16px;">

    <!--Кнопки-->
    <div class="d-flex flex-row justify-content-between" style="margin: 0 0 32px 0;">

      <!--Кнопка "Назад"-->
      {% include '_button__back_to_homepage_white.html' %}

      <div>

        <!--Кнопка "Редактировать"-->
        {% include 'app_wishes/_button__area_edit.html' %}

        <!--Кнопка "Удалить"-->
        {% include 'app_wishes/_button__area_delete.html' %}

      </div>

    </div>

    <!--Сообщения-->
    {% include '_messages.html' %}

    <!--Заголовок страницы-->
    <h1 class="text-white" style="margin-bottom: 24px;">{{ area }}</h1>

    <!--Желания-->
    {% include 'app_wishes/_block__wishes.html' %}

    <!--Архив-->
    {% if wishes_is_archived_count > 0 %}

      <!--Заголовок-->
      <h2 class="text-white" style="margin: 32px 0 16px 0;">Архив</h2>

      <!--Ряд-->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3">

        <!--Карточки желаний-->
        {% for wish in wishes_is_archived %}
          <div class="col px-2 py-2">
            {% include 'app_wishes/_card__wish_to_wish.html' %}
          </div>
        {% endfor %}

      </div>
    {% endif %}

  </div>
</div>

{% include 'app_wishes/_offcanvas__wish_create_blocked.html' %}

{% endblock %}
