
<!--Кнопка "Удалить область"-->
<!--<button class="btn btn-sm btn-danger me-1" data-bs-toggle="modal" data-bs-target="#area_delete_modal" style="width: 3rem; height: 3rem; box-shadow: none;">-->
<!--    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor">-->
<!--        <path d="M0 0h24v24H0z" fill="none"/><path d="M0 0h24v24H0V0z" fill="none"/>-->
<!--        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>-->
<!--    </svg>-->
<!--    Удалить область-->
<!--</button>-->

<!--Кнопка "Удалить область"-->
<!--<button class="btn btn-sm btn-outline-danger me-1" data-bs-toggle="modal" data-bs-target="#area_delete_modal" style="box-shadow: none;">-->
<!--    Удалить область-->
<!--</button>-->

<a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#area_delete_modal">
    <p class="m-0 p-0 text-secondary"><small>Удалить область</small></p>
</a>


{% include 'app_wishes/modal__area_delete.html' %}
