
<!--КНОПКА ВИЖН-КНИГА-->
<div>
    <button class="btn btn-sm btn-light" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#book_promo_dialogue"
            style="box-shadow: none;">
        <i class="bi bi-book"></i>
    </button>
</div>

{% include 'dialogue__book_promo.html' %}
