

<div class="d-flex justify-content-start align-items-center text-white">
    <span class="material-symbols-outlined">add</span>
    <p class="m-0 p-0">Добавить желание</p>

</div>

<!--<a href="#wish_create_dialogue_{{ area.pk }}" class="text-decoration-none" data-bs-toggle="offcanvas">-->
<!--    <p class="text-white"><i class="bi bi-plus-lg me-1"></i>Добавить желание</p>-->
<!--</a>-->

<!--<button class="btn text-white border-white bg-transparent w-100" -->
<!--        data-bs-toggle="offcanvas" -->
<!--        data-bs-target="#wish_create_dialogue_{{ area.pk }}"-->
<!--        style="box-shadow: none;">-->
<!--    <i class="bi bi-plus-lg me-1"></i> Добавить желание-->
    <!--<span class="material-symbols-outlined">add</span>Добавить желание-->
<!--</button>-->
