{% extends 'template__dialogue.html' %}

{% block dialogue_id %}
    id="wish_image_info_dialogue"
{% endblock %}

{% block dialogue_title %}
    Изображение
{% endblock %}

{% block dialogue_body %}
    <p>Если вы уверены в своём желании и точно знаете как выглядит результат его исполнения, используйте максимально точные фотографии. Например, для автомобиля, о котором вы мечтаете, используйте фотографии, на которых указан его цвет, цвет его салона, его комплектация и другие элементы.</p>
    <p>Если вы не уверены в том, как должен выглядеть результат исполнения желания, то используйте фотографии, которые эмоционально отражают желаемое. В идеале они должны вызывать внутри вас бурю вдохновения и приятных ощущений, даже если они ничего не конкретизируют.</p>
    <p>Важно чтобы ваша эмоциональная связь с изображением была сильной.</p>
    <hr class="text-black-50">

    <!--Промо книги "ВИЖН"-->
    {% include 'block__book_promo.html' %}

{% endblock %}
