

<div class="container-fluid m-0 mb-3 mt-2 p-1">
    <div class="d-flex justify-content-between align-items-center">

        <!--ЛОГОТИП-->
        <h2>Карта желаний</h2>
        <!--            {% comment %}-->

        <!--        {% include 'icons/logo.html' %}-->
        <!--            {% endcomment %}-->

        <div class="d-flex justify-content-end align-items-center">

            <!--ИСПОЛНЕННЫЕ ЖЕЛАНИЯ-->
            <a href="{% url 'archived_wishes_list' %}" class="text-decoration-none" style="height: 28px; margin-left: 12px;">
                {% include 'icons/cloud_28.html' %}
            </a>

            <!--ПАРТНЕРСТВО-->
<!--            {% comment %}-->
<!--            {% if profile.is_partner %}-->
<!--                <a href="{% url 'partnership_page' %}" class="text-decoration-none" style="height: 28px; margin-left: 12px;">-->
<!--                    {% include 'icons/handshake_28.html' %}-->
<!--                </a>-->
<!--            {% endif %}-->
<!--            {% endcomment %}-->

            <!--ЧЕКЛИСТ-->
            {% if profile.pk == 1 %}
                <a href="{% url 'todoes_list' %}" class="text-decoration-none" style="height: 28px; margin-left: 12px;">
                    {% include 'icons/checklist_28.html' %}
                </a>
            {% endif %}

            <!--АВАТАР-->
            <div class="d-inline-flex" style="margin-left: 14px;">
                <a href="{% url 'profile' %}">
                    <img src="{{ profile.get_userpic_url }}" class="rounded-circle" width="36" height="36">
                </a>
            </div>

        </div>

    </div>
</div>
