{% load static %}


<!--ТЕЛЕГРАМ-->
<p class="mb-4">Больше информации о программировании подсознания и карте желаний, в нашем телеграм канале:</p>
<a href="https://t.me/izobblog" class="text-decoration-none text-black">
    <div class="d-flex flex-row justify-content-start align-items-start mb-4">
        <!--ИКОНКА-->
        <img src="{% static '/images/telegram.png' %}" class="mt-1 mb-3" style="width: 48px; height: 48px; border-radius: 24px;">
        <!--ТЕКСТ-->
        <div class="ms-3">
            <p class="mb-1 p-0"><b>ВИЖН. О карте желаний с научной точки зрения</b></p>
<!--            <p class="mb-1 p-0"><b>Мой телеграм-канал</b></p>-->
<!--            <p class="mb-2 p-0">Все секреты работы с подсознанием для получения желаемого, и создания жизни мечты</p>-->
            <p class="m-0 mt-1 p-0 text-primary"><small>Перейти в канал</small></p>
            <!--            <button class="btn btn-sm btn-primary mt-1 mb-3">Перейти в канал</button>-->
        </div>
    </div>
</a>

<!--КНИГА-->
<!--<p class="mb-4">Больше информации о том, как правильно работать с вашей ВИЖН-картой вы можете узнать из книги "ВИЖН. Эффективная реализация желаний".</p>-->
<!--<a href="https://www.litres.ru/izobov/installyacii-bystraya-realizaciya-zhelaemogo/" class="text-decoration-none" target="_blank">-->
<!--    <div class="d-flex justify-content-between align-items-start mb-4">-->
<!--        <img src="{% static '/images/book_512.png' %}" class="w-50 shadow">-->
<!--    </div>-->
<!--    <button type="button" class="btn btn-outline-primary w-100" style="height: 3rem; vertical-align: middle;">Перейти на Литрес</button>-->
<!--</a>-->
