{% extends 'template__dialogue.html' %}
{% load static %}

{% block dialogue_id %}
    id="book_dialogue"
{% endblock %}

{% block dialogue_title %}
    ВИЖН - эффективная реализация желаний
{% endblock %}

{% block dialogue_body %}
    <p class="mb-4">Если вы хотите разобраться в том, как работает ваше подсознание, как оно исполняет желания, и что вам необходимо сделать, чтобы ваши желания исполнились как можно скорее, читайте книгу "ВИЖН. Эффективная реализация желаний".</p>
    <a href="{% static '/visionmap.pdf' %}" class="text-decoration-none" download>
<!--    <a href="https://www.litres.ru/izobov/installyacii-bystraya-realizaciya-zhelaemogo/" class="text-decoration-none" target="_blank">-->

        <div class="d-flex justify-content-between align-items-start mb-4">
            <!--Изображение-->
            <img src="{% static '/images/book_512.png' %}" class="w-50 shadow">
        </div>
        <button type="button" class="btn btn-primary w-100" style="height: 3rem; vertical-align: middle;">Скачать</button>
<!--        <button type="button" class="btn btn-primary w-100" style="height: 3rem; vertical-align: middle;">Перейти на Литрес</button>-->
    </a>
{% endblock %}
