{% load static %}

<div class="container-fluid row m-0 p-0 bg-dark">
    <!--Поле слева-->
    <div class="d-none d-sm-block col-sm-1 col-md-1 col-lg-2 m-0 p-0 "></div>
    <!--Основной контейнер-->
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 m-0 p-0 pt-4 pb-5">
        <div class="container-fluid m-0 mt-3" style="padding: 16px; 12px 16px 12px;">
            <!--Логотип-->
            <h2 class="text-secondary mb-3"><b>картажеланий.рф</b></h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">
                <div class="col">
                    <!--Реквизиты-->
                    <p class="text-secondary mb-1"><small></small></p>
                    <p class="text-secondary mb-1"><small>ИП Мухитдинов Д.С.</small></p>
                    <p class="text-secondary mb-1"><small>2022 © Все права защищены</small></p>
                    <!--<p class="text-secondary mb-1"><small>ИНН 861004072255</small></p>-->
                    <p class="text-secondary mb-3"><small>izobov@mail.ru</small></p>
                </div>

                <div class="col">
                    <!--Пользовательское соглашение-->
                    <a href="" class="text-decoration-none text-secondary" data-bs-toggle="offcanvas"
                       data-bs-target="#agreement_dialogue">
                        <p class="mb-1"><small><i class="bi bi-file-earmark-text me-2"></i>Пользовательское соглашение</small></p>
                    </a>
                    {% include 'app_users/dialogue__agreement.html' %}

                    <!--Политика конфиденциальности-->
                    <a href="" class="text-decoration-none text-secondary" data-bs-toggle="offcanvas"
                       data-bs-target="#policy_dialogue">
                        <p class="mb-1"><small><i class="bi bi-file-earmark-text me-2"></i>Политика конфиденциальности</small></p>
                    </a>
                    {% include 'app_users/dialogue__policy.html' %}

                    <!--Тарифы-->
<!--                    {% comment %}-->
<!--                    <a href="" class="text-decoration-none text-secondary" data-bs-toggle="offcanvas" data-bs-target="#tariffs_dialogue">-->
<!--                        <p class="m-0"><small><i class="bi bi-file-earmark-text me-2"></i>Тарифы</small></p>-->
<!--                    </a>-->
<!--                    {% include 'app_sales/dialogue__tariffs.html' %}-->
<!--                    {% endcomment %}-->
                </div>

            </div>
        </div>
    </div>
</div>
