{% load static %}

<div class="container-fluid row m-0 p-0">

    <!--Поле слева-->
    <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3 m-0 p-0 ">
        {% block left %}
        {% endblock %}
    </div>

    <!--Основной контейнер-->
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 m-0 p-0">
        <div class="container-fluid m-0 p-4 pt-0 pb-5">

            <hr class="text-black-50 mb-4">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">
                <div class="col">
                    <!--Логотип-->
                    <a href="{% url 'homepage' %}" class="text-reset text-decoration-none">
                        <h2 class="text-secondary mb-3"><b>картажеланий.рф</b></h2>
                    </a>
                    <!--Реквизиты-->
                    <p class="text-secondary mb-1"><small></small></p>
                    <p class="text-secondary mb-1"><small>ИП Мухитдинов Д.С.</small></p>
                    <p class="text-secondary mb-3"><small>2022 © Все права защищены</small></p>
<!--                    <p class="text-secondary mb-1"><small>ИНН 861004072255</small></p>-->
<!--                    <p class="text-secondary mb-1"><small>izobov@mail.ru</small></p>-->

                </div>
                <div class="col">
                    <!--Пользовательское соглашение-->
                    <a href="" class="text-decoration-none text-secondary" data-bs-toggle="offcanvas" data-bs-target="#agreement_dialogue">
                        <p class="mb-1"><small><i class="bi bi-file-earmark-text me-2"></i>Пользовательское соглашение</small></p>
                    </a>
                    {% include 'app_users/dialogue__agreement.html' %}

                    <!--Политика конфиденциальности-->
                    <a href="" class="text-decoration-none text-secondary" data-bs-toggle="offcanvas" data-bs-target="#policy_dialogue">
                        <p class="mb-1"><small><i class="bi bi-file-earmark-text me-2"></i>Политика конфиденциальности</small></p>
                    </a>
                    {% include 'app_users/dialogue__policy.html' %}

                    <!--Тарифы-->
                    <a href="" class="text-decoration-none text-secondary" data-bs-toggle="offcanvas" data-bs-target="#tariffs_dialogue">
                        <p class="m-0"><small><i class="bi bi-file-earmark-text me-2"></i>Тарифы</small></p>
                    </a>
                    {% include 'app_sales/dialogue__tariffs.html' %}
                </div>

            </div>
        </div>
    </div>
</div>
