{% extends 'template__lp.html' %}
{% load static %}

{% block og %}
    <meta property="og:title" content="ВИЖН. Сделай правильную карту желаний!"/>
    <meta property="og:description"
          content="ВИЖН – онлайн конструктор для составления правильной и красивой карты желаний. Используйте лучшие шаблоны, сектора, картинки и фото. Активируйте исполнение ваших желаний. Привлекайте в вашу жизнь богатство, здоровье, путешествия, славу и всё что пожелаете!"/>
    <meta property="og:image" content="{% static '/images/map_512.png' %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://картажеланий.рф"/>
{% endblock %}

{% block title %}
    ВИЖН. Сделай правильную карту желаний!
{% endblock %}

{% block description %}
    ВИЖН – онлайн конструктор для составления правильной и красивой карты желаний. Используйте лучшие шаблоны, сектора, картинки и фото. Активируйте исполнение ваших желаний. Привлекайте в вашу жизнь богатство, здоровье, путешествия, славу и всё что пожелаете!
{% endblock %}

{% block metrics %}
    {% include 'metrics__yandex.html' %}
{% endblock %}

{% block header %}
    <div class="container-fluid m-0 p-4">
        <div class="d-flex flex-row justify-content-between align-items-center">
            {% include 'icons/logo.html' %}
        </div>
    </div>
    <hr class="text-black-50 m-0 p-0 ms-4 me-4">
{% endblock %}

{% block main %}
    <div class="container-fluid m-0 p-5" style="background-color: #ffffff">
<!--        <div class="text-center">-->
<!--            <div class="spinner-border" role="status">-->
<!--                <span class="visually-hidden">Загрузка...</span>-->
<!--            </div>-->
<!--        </div>-->
        <div class="d-flex justify-content-center mb-4">
            <img src="{% static 'PWA/icons/icon-72x72.png' %}" style="width: 48px; height: 48px; border-radius: .5rem; background-color: #ffffff" alt="Инфоблок">
        </div>
        <p class="fs-5 fw-light text-center">Отсутствует подключение к интернет</p>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
