{% extends 'template__wish.html' %}
{% load static %}

{% block title %}Мои приложения{% endblock %}

{% block main %}

    <div class="container-fluid m-0 p-4">

        <div class="d-flex justify-content-end">
            <img src="{% static '/images/instagram.png' %}" class="mt-1 mb-4" style="width: 48px; height: 48px; border-radius: 24px;">
        </div>

<!--        <p class="mb-4 text-secondary opacity-75"><small><b>ПРИЛОЖЕНИЯ</b></small></p>-->

        <!--ФИНПЛАН-->
        <a href="https:\\finplan.pw" class="text-decoration-none text-black">
            <div class="d-flex flex-row justify-content-start align-items-start mb-4">
                <!--ИКОНКА-->
                <img src="{% static '/images/finplan-icon-192x192-gray.png' %}" class="mt-1 mb-3" style="width: 48px; height: 48px; border-radius: .75rem;">
                <!--ТЕКСТ-->
                <div class="ms-3">
                    <p class="mb-1 p-0"><b>ФинПлан</b></p>
                    <p class="mb-2 p-0">Приложение для учета личных и семейных финансов</p>
                    <button class="btn btn-sm btn-outline-primary mt-1 mb-3">Открыть приложение</button>
                </div>
            </div>
        </a>


                <!--ВИЖН-->
        <a href="https:\\картажеланий.рф" class="text-decoration-none text-black">
            <div class="d-flex flex-row justify-content-start align-items-start mb-4">
                <!--ИКОНКА-->
                <img src="{% static '/PWA/icons/icon-192x192.png' %}" class="mt-1 mb-3" style="width: 48px; height: 48px; border-radius: .75rem;">
                <!--ТЕКСТ-->
                <div class="ms-3">
                    <p class="mb-0 p-0"><b>ВИЖН</b></p>
<!--                    <p class="mb-1 p-0 text-secondary"><small>картажеланий.рф</small></p>-->
                    <p class="mb-2 p-0">Приложение для создания карты желаний</p>
                    <button class="btn btn-sm btn-outline-primary mt-1 mb-3">Открыть приложение</button>
                </div>
            </div>
        </a>

<!--        <p class="mb-4 text-secondary opacity-75"><small><b>СОЦСЕТИ</b></small></p>-->

        <!--ЮТУБ-->
<!--        <a href="https://www.youtube.com/@dimaizob" class="text-decoration-none text-black">-->
<!--            <div class="d-flex flex-row justify-content-start align-items-start mb-4">-->
<!--                &lt;!&ndash;ИКОНКА&ndash;&gt;-->
<!--                <img src="{% static '/images/youtube-icon.png' %}" class="mt-1 mb-3" style="width: 48px;">-->
<!--                &lt;!&ndash;ТЕКСТ&ndash;&gt;-->
<!--                <div class="ms-3">-->
<!--                    &lt;!&ndash;<p class="mb-1 p-0"><b>Мой телеграм-канал "Изоб | Программирование подсознания для жизни мечты"</b></p>&ndash;&gt;-->
<!--                    <p class="mb-1 p-0"><b>ИЗОБ | Программирование подсознания для эффективной жизни</b></p>-->
<!--                    <p class="mb-2 p-0">О карте желаний с научной точки зрения, программировании подсознания и том, что мне интересно</p>-->
<!--                    <button class="btn btn-sm btn-outline-primary mt-1 mb-3">Перейти на youtube</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->

        <!--ТЕЛЕГРАМ-->
<!--        <a href="https://t.me/izobblog" class="text-decoration-none text-black">-->
<!--            <div class="d-flex flex-row justify-content-start align-items-start mb-4">-->
<!--                &lt;!&ndash;ИКОНКА&ndash;&gt;-->
<!--                <img src="{% static '/images/telegram.png' %}" class="mt-1 mb-3" style="width: 48px; height: 48px; border-radius: 24px;">-->
<!--                &lt;!&ndash;ТЕКСТ&ndash;&gt;-->
<!--                <div class="ms-3">-->
<!--                    &lt;!&ndash;<p class="mb-1 p-0"><b>Мой телеграм-канал "Изоб | Программирование подсознания для жизни мечты"</b></p>&ndash;&gt;-->
<!--                    <p class="mb-1 p-0"><b>ИЗОБ | Программирование подсознания для эффективной жизни</b></p>-->
<!--                    <p class="mb-2 p-0">О карте желаний с научной точки зрения, программировании подсознания и том, что мне интересно</p>-->
<!--                    <button class="btn btn-sm btn-outline-primary mt-1 mb-3">Перейти в telegram</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->

        <!--ИНСТАГРАМ-->
<!--        <a href="https://www.instagram.com/dimaizob" class="text-decoration-none text-black">-->
<!--            <div class="d-flex flex-row justify-content-start align-items-start mb-4">-->
<!--                &lt;!&ndash;ИКОНКА&ndash;&gt;-->
<!--                <img src="{% static '/images/instagram-icon.png' %}" class="mt-1 mb-3" style="width: 48px;">-->
<!--                &lt;!&ndash;ТЕКСТ&ndash;&gt;-->
<!--                <div class="ms-3">-->
<!--                    <p class="mb-1 p-0"><b>ИЗОБ | Программирование подсознания для эффективной жизни</b></p>-->
<!--                    <p class="mb-2 p-0">О карте желаний с научной точки зрения, программировании подсознания и том, что мне интересно</p>-->
<!--                    <button class="btn btn-sm btn-outline-primary mt-1 mb-3">Перейти в instagram</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->

<!--        <p class="mb-4 text-secondary opacity-75"><small><b>КНИГИ</b></small></p>-->

        <!--ВИЖН-->
<!--        <a href="https://www.litres.ru/book/dmitriy-izob/vizhn-effektivnaya-realizaciya-zhelaniy-66146462/" class="text-decoration-none text-black">-->
<!--            <div class="d-flex flex-row justify-content-start align-items-start mb-4">-->
<!--                &lt;!&ndash;ИКОНКА&ndash;&gt;-->
<!--                <img src="{% static '/images/book_512.png' %}" class="mt-1 mb-3" style="width: 48px;">-->
<!--                &lt;!&ndash;ТЕКСТ&ndash;&gt;-->
<!--                <div class="ms-3">-->
<!--                    &lt;!&ndash;<p class="mb-1 p-0"><b>Мой телеграм-канал "Изоб | Программирование подсознания для жизни мечты"</b></p>&ndash;&gt;-->
<!--                    <p class="mb-1 p-0"><b>ВИЖН. Эффективная реализация желаний</b></p>-->
<!--                    <p class="mb-2 p-0">Книга о том, как работает подсознание и как использовать его эффективно.</p>-->
<!--&lt;!&ndash;                    <p class="mb-2 p-0">Из книги вы узнаете, что карта желаний и ВИЖН-карта – это обычные инструменты, с помощью которых вы программируете ваше подсознание, и всё, что вам необходимо – это научиться правильно их использовать.</p>&ndash;&gt;-->
<!--                    <button class="btn btn-sm btn-outline-primary mt-1 mb-3">Перейти на литрес</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->

    </div>  
    
{% endblock %}

{% block footer %}
{% endblock %}
