{% extends 'template__wish.html' %}
{% load static %}

{% block main %}
    <div style="padding: 16px 12px 16px 12px;">
        <h1 style="font-size: 7rem;">500</h1>
        <h1>Ошибка сервера</h1>
        <br>
        <p class="d-flex">На сервере произошла непредвиденная ошибка. Пожалуйста, подождите она скоро будет исправлена. Но это не точно.</p>
        <br>
        <a href="{% url 'homepage' %}" class="text-decoration-none">
            <button type="button" class="btn btn-primary" style="height: 3rem; vertical-align: middle;">
                На главную
            </button>
        </a>
    </div>
{% endblock %}


