{% extends 'template__wish.html' %}
{% load static %}

{% block main %}
    <div style="padding: 16px 12px 16px 12px;">
        <h1 style="font-size: 7rem;">404</h1>
        <h1>страница не найдена</h1>
        <br>
        <p>Страница, на которую вы пытаетесь попасть никогда не существовала или была удалена. Короче, её нет!</p>
        <br>
        <a href="{% url 'homepage' %}" class="text-decoration-none">
            <button type="button" class="btn btn-primary" style="height: 3rem; vertical-align: middle;">
                На главную
            </button>
        </a>
    </div>
{% endblock %}
