{% extends 'template__wish.html' %}
{% load static %}

{% block title %}Статистика{% endblock %}

{% block main %}

    <div class="container-fluid m-0 p-4">
        
        <div class="d-flex flex-row justify-content-between mb-4">
            {% include 'app_users/button__back_to_user_profile.html' %}
        </div>

        <p class="mb-1 text-secondary opacity-75"><small>СТАТИСТИКА</small></p>
        <h1 class="m-0 mb-4 p-0">Май, 2023</h1>
        
        <a href="{% url 'statistics_page' %}" class="text-decoration-none">
            <div class="progress w-100 mb-4 align-items-center" style="height: 24px;">
                {% if plan_percent > 20 %}
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{ plan_percent }}%; height: 24px;" aria-valuenow="{{ plan_percent }}" aria-valuemin="0" aria-valuemax="100">
                        {{ plan_percent|floatformat:1 }}%
                    </div>
                {% else %}
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{ plan_percent }}%; height: 24px;" aria-valuenow="{{ plan_percent }}" aria-valuemin="0" aria-valuemax="100">&nbsp;</div>
                    <p class="m-0 p-0 ms-2 text-black">{{ plan_percent|floatformat:1 }}%</p>
                {% endif %}
            </div>
        </a>
        
        <div class="d-flex justify-content-between align-items-start mb-3">
            <p class="m-0 p-0">Количество новых пользователей</p>
            <p class="m-0 p-0 ms-3">{{ current_month_registered_users_count }}</p>
        </div>
        <div class="d-flex justify-content-between align-items-start mb-3">
            <p class="m-0 p-0">Купили подписку</p>
            <p class="m-0 p-0 ms-3">{{ current_month_registered_users_with_subscription_count }}</p>
        </div>
        <div class="d-flex justify-content-between align-items-start mb-3">
            <p class="m-0 p-0">С автопродлением</p>
            <p class="m-0 p-0 ms-3">{{ current_month_registered_users_with_autopay_count }}</p>
        </div>
        <hr class="text-black-50">
        
        <div class="d-flex justify-content-between align-items-start mb-3">
            <p class="m-0 p-0">Общее количество пользователей</p>
            <p class="m-0 p-0 ms-3">{{ users_count }}</p>
        </div>
         <div class="d-flex justify-content-between align-items-start">
             <p class="m-0 p-0">Живые пользователи</p>
             <p class="m-0 p-0 ms-3">{{ live_users_count }}</p>
         </div>
        <p class="text-secondary mb-3"><i><small>
            {% for live_user in live_users %}
                {{ live_user.user.email }},
            {% endfor %}
        </small></i></p>
        <div class="d-flex justify-content-between align-items-start mb-3">
            <p class="m-0 p-0">Общее количество платящих пользователей</p>
            <p class="m-0 p-0 ms-3">{{ paying_users_count }}</p>
        </div>
        <div class="d-flex justify-content-between align-items-start mb-3">
            <p class="m-0 p-0">Общая сумма платежей</p>
            <p class="m-0 p-0 ms-3">{{ total_payments_amount }}</p>
        </div>
        <!--<div class="d-flex justify-content-between align-items-start mb-3">-->
        <!--    <p class="m-0 p-0">% выполнения плана</p>-->
        <!--    <p class="m-0 p-0 ms-3">{{ plan_percent|floatformat:2 }}</p>-->
        <!--</div>-->
        <hr class="text-black-50">
        
        <div class="d-flex justify-content-between align-items-start mb-3">
            <p class="m-0 p-0">Сумма платежей в текущем месяце</p>
            <p class="m-0 p-0 ms-3">{{ current_month_payments_amount }}</p>
        </div>      
        <div class="d-flex justify-content-between align-items-start mb-4">
            <p class="m-0 p-0">Сумма платежей в следующем месяце</p>
            <p class="m-0 p-0 ms-3">{{ next_month_payments_amount }}</p>
        </div>         
        <hr class="text-black-50">
        {% for key, value in paying_users_dict.items %}
            <div class="d-flex justify-content-between align-items-start">
                <p class="m-0 p-0">{{ key }}</p>
                <p class="m-0 p-0">{{ value.amount }}</p>
            </div>
            <p class="text-secondary mb-3"><i><small>{{ value.usernames }}</small></i></p>
        {% endfor %}

    </div>
    
{% endblock %}

{% block footer %}
{% endblock %}
