{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--OG-->
    {% block og %}{% endblock %}

    <!--Material symbols-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@300" rel="stylesheet" />
    <!--Подключение иконок bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

    <!--SEO-->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <!--PWA-->
    <link rel="manifest" href="{% static '/PWA/manifest.json' %}">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" href="{% static 'PWA/icons/icon-192x192.png' %}">

    <!--СКРОЛЛ-->
<!--    <script src="{% static '/js/smoothscroll.min.js' %}"></script>-->

    <!--Фавиконка-->
    <link rel="icon" type="image/png" href="{% static '/images/favicon.ico' %}">
<!--    <link rel="icon" type="image/png" href="{% static '/PWA/icons/icon-192x192.png' %}">-->

    <!--СТИЛИ-->
    <!--bootstrap-5 CSS-->
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body class="bg-light">
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/sw.js').then(function(registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                }).catch(function(err) {
                    console.log(err)
                });
            });
        } else {
            console.log('service worker is not supported');
        }
    </script>
    
    <header>
        <div class="container-fluid">
            {% block header %}
            {% endblock %}
        </div>
    </header>
    
    <main>
        <!--Не отображается на мобильном экране-->
        <div class="col d-none d-sm-none d-md-block bg-light" style="height: 2rem;"></div>
        <div class="container-fluid row min-vh-100 m-0 p-0">
            <!--Поле слева. Отображается на десктопах-->
            <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3">
                {% block left %}
                {% endblock %}
            </div>
            <!--Основной контейнер-->
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 m-0 p-0 bg-white shadow">
                <div class="container-fluid m-0 p-0">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
        </div>
<!--{% comment %}-->
<!--        &lt;!&ndash;Не отображается на мобильном экране&ndash;&gt;-->
<!--        <div class="col d-none d-sm-none d-md-block bg-light" style="height: 2rem;"></div>-->
<!--        <div class="container-fluid row m-0 p-0 min-vh-100">-->
<!--            &lt;!&ndash;Поле слева&ndash;&gt;-->
<!--            <div class="d-none d-sm-block col-sm-2 col-md-3 col-lg-4 m-0 p-0">-->
<!--                {% block left %}-->
<!--                {% endblock %}-->
<!--            </div>-->
<!--            &lt;!&ndash;Основной контейнер&ndash;&gt;-->
<!--            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 m-0 p-0 bg-white shadow">-->
<!--                <div class="container-fluid m-0 p-0">-->
<!--                    {% block main %}-->
<!--                    {% endblock %}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Не отображается на мобильном экране&ndash;&gt;-->
<!--        <div class="col d-none d-sm-none d-md-block bg-light" style="height: 2rem;"></div>-->
<!--        {% endcomment %}-->
        <!--Не отображается на мобильном экране-->
        <div class="col d-none d-sm-none d-md-block bg-light" style="height: 2rem;"></div>
    </main>
    
    <footer>
        <div class="container-fluid m-0 p-0">
            {% block footer %}
            {% endblock %}
        </div>
    </footer>

    <!--PWA-->
    <script src="{% static '/PWA/main.js' %}"></script>

    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!--    <script>-->
<!--      var scroll = new SmoothScroll('a[href*="#"]');-->
<!--    </script>-->
</body>

</html>
