{% load static%}

<!-- Модальное окно -->
<div {% block modal_id %}{% endblock %} class="modal fade" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 align-items-start pb-0">
                <h2 class="modal-title" id="exampleModalLabel">{% block modal_title %}{% endblock %}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block modal_body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
