{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--OG-->
    {% block og %}{% endblock %}

    <!--Подключение иконок bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="http://getbootstrap.com.vn/examples/equal-height-columns/equal-height-columns.css" />

    <!--Material symbols-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@300" rel="stylesheet" />

    <!--SEO-->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <!--PWA-->
    <link rel="manifest" href="{% static '/PWA/manifest.json' %}">
    <meta name="theme-color" content="#FFFFFF">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" href="{% static '/PWA/icons/icon-192x192.png' %}">

    <!--СКРОЛЛ-->
<!--    <script src="{% static '/js/smoothscroll.min.js' %}"></script>-->

    <!--Фавиконка-->
    <link rel="icon" type="image/png" href="{% static '/images/favicon.ico' %}">

    <!--Метрика-->
    {% block metrics %}{% endblock %}

    <!--СТИЛИ-->
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/accordion.css' %}">
    <style>
        .accordion-button {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 1rem 1.25rem;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            background-color: #fff;
            border: 0;
            border-radius: 0.5rem;
            overflow-anchor: none;
            box-shadow: none;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease
        }

        .accordion-button:not(.collapsed) {
            color: #0c63e4;
            background-color: #e7f1ff;
            box-shadow: none;
        }

        .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            transform: rotate(-180deg)
        }

        .accordion-button::after {
            flex-shrink: 0;
            width: 1.25rem;
            height: 1.25rem;
            margin-left: auto;
            content: "";
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-size: 1.25rem;
            transition: transform .2s ease-in-out
        }

        .accordion-button:focus {
            z-index: 3;
            border: 0;
            outline: 0;
            box-shadow: none;
        }

        .accordion-item {
            border: 0;
        }

        .accordion-item:first-of-type {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        .accordion-item:first-of-type .accordion-button {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        .accordion-item:not(:first-of-type) {
            border: 0;
        }

        .accordion-item:last-of-type {
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }

        .accordion-item:last-of-type .accordion-button.collapsed {
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }

        .accordion-item:last-of-type .accordion-collapse {
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }

        .accordion-body {
            padding: 0 1rem 1rem 1rem;
        }

        .accordion-item {
            border: 0;
            border-radius: 0.5rem;
        }
    </style>

</head>

<body>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/sw.js').then(function(registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                }).catch(function(err) {
                    console.log(err)
                });
            });
        } else {
            console.log('service worker is not supported');
        }
    </script>
    
    <header>
        <div class="container-fluid m-0 p-0">
            {% block header %}
            {% endblock %}
        </div>
    </header>
    
    <main>
        <div class="container-fluid m-0 p-0">
            {% block main %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container-fluid m-0 p-0">
            {% block footer %}
            {% endblock %}
        </div>
    </footer>

    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!--PWA-->
    <script src="{% static '/PWA/main.js' %}"></script>
<!--    <script>-->
<!--      var scroll = new SmoothScroll('a[href*="#"]');-->
<!--    </script>-->
</body>

</html>
