{% load static%}


<div {% block dialogue_id %}{% endblock %} class="offcanvas offcanvas-bottom h-100" tabindex="-1">
    <!--Хедер-->
    <div class="offcanvas-header justify-content-end">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>

    <!--Тело-->
    <div class="offcanvas-body pt-0">
        <div class="row">

            <!--Поле слева-->
            <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3"></div>

            <!--Контейнер-->
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 bg-white">
                <!--Подпись-->
                <p class="mb-2 text-muted"><small>{% block dialogue_caption %}{% endblock %}</small></p>
                <!--Заголовок диалога-->
                <h2 class="mb-4">{% block dialogue_title %}{% endblock %}</h2>
                <!--Тело диалога-->
                {% block dialogue_body %}{% endblock %}
            </div>

        </div>
    </div>

</div>
