{% load static%}

<link rel="stylesheet" href="{% static '/css/style.css' %}">

<div {% block dialogue_id %}{% endblock %} class="offcanvas offcanvas-bottom" tabindex="-1" style="height: 100%;">

    <!--Хедер-->
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>

    <!--Тело-->
    <div class="offcanvas-body">
        <div class="row">

            <!--Контейнер-->
            <div class="col-12 bg-white">
                <!--Подпись-->
                <p class="mb-2 text-muted"><small>{% block dialogue_caption %}{% endblock %}</small></p>
                <!--Заголовок диалога-->
                <h2 class="mb-4">{% block dialogue_title %}{% endblock %}</h2>
                <!--Тело диалога-->
                {% block dialogue_body %}{% endblock %}
            </div>

        </div>
    </div>

</div>
