# ДАННЫЕ
# ФЛАГИ
# ФОРМЫ

  {% if %}
  {% else %}
  {% endif %}

  {% include 'app_users/user_homepage.html' %}
{% static 'images/favicon.png' %}
  {% url 'pricing' %}

  print('X' * 100)
  print()

  <!---->
  justify-content-between
  align-items-center

  <!--Десктоп-->
  <h1></h1> font-size: 40pt; font-weight: 600; line-height: 120%
  <h2></h2> font-size: 36pt; font-weight: 600; line-height: 120%
  <h3></h3> font-size: 24pt; font-weight: 200; line-height: 120%
  <p></p>   font-size: 18pt; font-weight: 200; line-height: 140%

  <!--Мобайл-->
  <h1></h1> font-size: 32pt; font-weight: 600; line-height: 120%
  <h2></h2> font-size: 28pt; font-weight: 600; line-height: 120%
  <h3></h3> font-size: 20pt; font-weight: 200; line-height: 140%
  <p></p>   font-size: 16pt; font-weight: 200; line-height: 140%


      <!--Отображается на компьютере-->
    <div class="col d-none d-sm-none d-md-block" style="padding: 24px 48px;">
        {% include 'landing_page/_block__navbar.html' %}
    </div>

    <!--Мобайл-->
    <div class="col d-block d-sm-block d-md-none" style="padding: 24px;">
      {% include 'landing_page/_block__navbar.html' %}
    </div>




          <style>
            .accordion-button {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                padding: 1rem 1.25rem;
                font-size: 1rem;
                color: #212529;
                text-align: left;
                background-color: #fff;
                border: 0;
                border-radius: .5rem;
                overflow-anchor: none;
                box-shadow: none;
                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease
            }

            .accordion-button:not(.collapsed) {
                color: #0c63e4;
                background-color: #e7f1ff;
                box-shadow: none;
            }

            .accordion-button:not(.collapsed)::after {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                transform: rotate(-180deg)
            }

            .accordion-button::after {
                flex-shrink: 0;
                width: 1.25rem;
                height: 1.25rem;
                margin-left: auto;
                content: "";
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-size: 1.25rem;
                transition: transform .2s ease-in-out
            }

            .accordion-button:focus {
                z-index: 3;
                border: 0;
                outline: 0;
                box-shadow: none;
            }

            .accordion-item {
                border: 0;
            }

            .accordion-item:first-of-type {
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;
            }

            .accordion-item:first-of-type .accordion-button {
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;
            }

            .accordion-item:not(:first-of-type) {
                border: 0;
            }

            .accordion-item:last-of-type {
                border-bottom-right-radius: .5rem;
                border-bottom-left-radius: .5rem;
            }

            .accordion-item:last-of-type .accordion-button.collapsed {
                border-bottom-right-radius: .5rem;
                border-bottom-left-radius: .5rem;
            }

            .accordion-item:last-of-type .accordion-collapse {
                border-bottom-right-radius: .5rem;
                border-bottom-left-radius: .5rem;
            }

            .accordion-body {
                padding: 0 1rem 1rem 1rem;
            }

            .accordion-item {
                border: 0;
                border-radius: .5rem;
            }
        </style>