{% if status == "WHITE" %}
    <span class="text-white">
{% elif status == "PRIMARY" %}
    <span class="text-primary">
{% elif status == "PRIMARY_75" %}
    <span class="text-primary text-opacity-75">
{% elif status == "SECONDARY" %}
    <span class="text-secondary text-opacity-75">
{% elif status == "DISABLED" %}
    <span class="text-light">
{% elif status == "DANGER" %}
    <span class="text-danger">
{% elif status == "SUCCESS" %}
    <span class="text-success">
{% elif status == "WARNING" %}
    <span class="text-warning">
{% elif status == "LIGHT" %}
    <span style="color: #f2f2f2">
{% else %}
    <span class="text-black">
{% endif %}
