{% include 'icons/_statuses.html' %}
    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 20L0 12L8 4L9.05 5.05L2.85 11.25H24V12.75H2.85L9.05 18.95L8 20Z" fill="currentColor"/>
    </svg>
</span>
