{% include 'icons/_statuses.html' %}
    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.47565 21.7584L2.33398 17.6168L3.55898 16.3918L6.47565 19.2793L11.6965 14.0584L12.9215 15.3126L6.47565 21.7584ZM6.47565 12.4251L2.33398 8.28343L3.55898 7.05843L6.47565 9.94593L11.6965 4.7251L12.9215 5.97926L6.47565 12.4251ZM15.1673 19.5418V17.7918H25.6673V19.5418H15.1673ZM15.1673 10.2084V8.45843H25.6673V10.2084H15.1673Z" fill="currentColor"/>
    </svg>
</span>