{% include 'icons/_statuses.html' %}
    <svg width="100" height="28" viewBox="0 0 982 280" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M138 136.3C151.4 139.9 161.6 146.1 168.6 154.9C175.6 163.5 179.1 174.3 179.1 187.3C179.1 205.7 172.3 220 158.7 230.2C145.1 240.4 125.4 245.5 99.6 245.5H0V35.5H93.9C117.5 35.5 135.9 40.2 149.1 49.6C162.3 59 168.9 72.3 168.9 89.5C168.9 100.5 166.2 110 160.8 118C155.6 126 148 132.1 138 136.3ZM38.4 125.2H90.6C103.2 125.2 112.8 122.7 119.4 117.7C126 112.7 129.3 105.3 129.3 95.5C129.3 85.7 126 78.3 119.4 73.3C112.8 68.1 103.2 65.5 90.6 65.5H38.4V125.2ZM98.4 215.5C126 215.5 139.8 205.1 139.8 184.3C139.8 163.9 126 153.7 98.4 153.7H38.4V215.5H98.4Z" fill="currentColor"/>
        <path d="M223.828 35.5H262.228V184.6L375.028 35.5H411.328V245.5H372.928V96.7L260.128 245.5H223.828V35.5Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M622.301 0H584.301L584.525 93.363L453.301 33V69L603.301 140L753.301 71V35L622.077 93.363L622.301 0Z" fill="currentColor"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M584.301 280H622.301L622.077 186.637L753.301 247V211L603.301 140L453.301 211V247L584.525 186.637L584.301 280Z" fill="currentColor"/>
        <path d="M981.301 35.5V245.5H942.301V155.5H833.701V245.5H794.701V35.5H833.701V122.2H942.301V35.5H981.301Z" fill="currentColor"/>
    </svg>
</span>
<!--    <svg width="130" height="37" viewBox="0 0 982 280" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--        <path d="M138 136.3C151.4 139.9 161.6 146.1 168.6 154.9C175.6 163.5 179.1 174.3 179.1 187.3C179.1 205.7 172.3 220 158.7 230.2C145.1 240.4 125.4 245.5 99.6 245.5H0V35.5H93.9C117.5 35.5 135.9 40.2 149.1 49.6C162.3 59 168.9 72.3 168.9 89.5C168.9 100.5 166.2 110 160.8 118C155.6 126 148 132.1 138 136.3ZM38.4 125.2H90.6C103.2 125.2 112.8 122.7 119.4 117.7C126 112.7 129.3 105.3 129.3 95.5C129.3 85.7 126 78.3 119.4 73.3C112.8 68.1 103.2 65.5 90.6 65.5H38.4V125.2ZM98.4 215.5C126 215.5 139.8 205.1 139.8 184.3C139.8 163.9 126 153.7 98.4 153.7H38.4V215.5H98.4Z" fill="currentColor"/>-->
<!--        <path d="M223.828 35.5H262.228V184.6L375.028 35.5H411.328V245.5H372.928V96.7L260.128 245.5H223.828V35.5Z" fill="currentColor"/>-->
<!--        <path fill-rule="evenodd" clip-rule="evenodd" d="M622.301 0H584.301L584.525 93.363L453.301 33V69L603.301 140L753.301 71V35L622.077 93.363L622.301 0Z" fill="currentColor"/>-->
<!--        <path fill-rule="evenodd" clip-rule="evenodd" d="M584.301 280H622.301L622.077 186.637L753.301 247V211L603.301 140L453.301 211V247L584.525 186.637L584.301 280Z" fill="currentColor"/>-->
<!--        <path d="M981.301 35.5V245.5H942.301V155.5H833.701V245.5H794.701V35.5H833.701V122.2H942.301V35.5H981.301Z" fill="currentColor"/>-->
<!--    </svg>-->