

{% include 'icons/_statuses.html' %}
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.25 21V17.75H5V16.25H7.25V13.5H5V12H7.25V3H13.75C15.2136 3 16.4545 3.5094 17.4727 4.5282C18.4909 5.547 19 6.78867 19 8.2532C19 9.71773 18.4909 10.9583 17.4727 11.975C16.4545 12.9917 15.2136 13.5 13.75 13.5H8.75V16.25H13V17.75H8.75V21H7.25ZM8.75 12H13.75C14.8 12 15.6875 11.6375 16.4125 10.9125C17.1375 10.1875 17.5 9.3 17.5 8.25C17.5 7.2 17.1375 6.3125 16.4125 5.5875C15.6875 4.8625 14.8 4.5 13.75 4.5H8.75V12Z" fill="currentColor"/>
    </svg>
</span>
