{% include 'icons/_statuses.html' %}
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.59 22.8L6.54 14.37L0 8.7L8.64 7.95L12 0L15.36 7.95L24 8.7L17.46 14.37L19.41 22.8L12 18.33L4.59 22.8Z" fill="currentColor"/>
    </svg>
</span>
