

{% include 'icons/_statuses.html' %}
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1453_2415)">
            <path d="M5.3 17.5C3.8 17.5 2.54167 16.9542 1.525 15.8625C0.508333 14.7708 0 13.4667 0 11.95C0 10.45 0.5125 9.16667 1.5375 8.1C2.5625 7.03333 3.81667 6.5 5.3 6.5C5.9 6.5 6.47917 6.6 7.0375 6.8C7.59583 7 8.09167 7.30833 8.525 7.725L10.85 9.975L9.8 11.025L7.575 8.85C7.275 8.55 6.92917 8.33333 6.5375 8.2C6.14583 8.06667 5.73333 8 5.3 8C4.23333 8 3.33333 8.3875 2.6 9.1625C1.86667 9.9375 1.5 10.8667 1.5 11.95C1.5 13.05 1.8625 14 2.5875 14.8C3.3125 15.6 4.21667 16 5.3 16C5.71667 16 6.12083 15.9333 6.5125 15.8C6.90417 15.6667 7.25833 15.4583 7.575 15.175L15.475 7.725C15.9083 7.30833 16.4042 7 16.9625 6.8C17.5208 6.6 18.0917 6.5 18.675 6.5C20.175 6.5 21.4375 7.03333 22.4625 8.1C23.4875 9.16667 24 10.45 24 11.95C24 13.4667 23.4875 14.7708 22.4625 15.8625C21.4375 16.9542 20.175 17.5 18.675 17.5C18.0917 17.5 17.5167 17.4042 16.95 17.2125C16.3833 17.0208 15.8917 16.7167 15.475 16.3L13.2 14.05L14.25 13L16.425 15.175C16.7083 15.4583 17.05 15.6667 17.45 15.8C17.85 15.9333 18.2583 16 18.675 16C19.7583 16 20.6667 15.6 21.4 14.8C22.1333 14 22.5 13.05 22.5 11.95C22.5 10.8667 22.1292 9.9375 21.3875 9.1625C20.6458 8.3875 19.7417 8 18.675 8C18.2583 8 17.8542 8.075 17.4625 8.225C17.0708 8.375 16.725 8.59167 16.425 8.875L8.525 16.325C8.09167 16.725 7.59167 17.0208 7.025 17.2125C6.45833 17.4042 5.88333 17.5 5.3 17.5Z" fill="currentColor"/>
        </g>
        <defs>
            <clipPath id="clip0_1453_2415">
                <rect width="24" height="24" fill="white"/>
            </clipPath>
        </defs>
    </svg>
</span>
