<!--<svg width="120" height="32" viewBox="0 0 992 265" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--<path d="M138.699 128.8C152.099 132.4 162.299 138.6 169.299 147.4C176.299 156 179.799 166.8 179.799 179.8C179.799 198.2 172.999 212.5 159.399 222.7C145.799 232.9 126.099 238 100.299 238H0.699219V28H94.5992C118.199 28 136.599 32.7 149.799 42.1C162.999 51.5 169.599 64.8 169.599 82C169.599 93 166.899 102.5 161.499 110.5C156.299 118.5 148.699 124.6 138.699 128.8ZM39.0992 117.7H91.2992C103.899 117.7 113.499 115.2 120.099 110.2C126.699 105.2 129.999 97.8 129.999 88C129.999 78.2 126.699 70.8 120.099 65.8C113.499 60.6 103.899 58 91.2992 58H39.0992V117.7ZM99.0992 208C126.699 208 140.499 197.6 140.499 176.8C140.499 156.4 126.699 146.2 99.0992 146.2H39.0992V208H99.0992Z" fill="#333333"/>-->
<!--<path d="M224.527 28H262.927V177.1L375.727 28H412.027V238H373.627V89.2L260.827 238H224.527V28Z" fill="#333333"/>-->
<!--<path fill-rule="evenodd" clip-rule="evenodd" d="M627 0.5H591L590.224 85.863L459 25.5V61.5L609 132.5L759 61.5V25.5L627.776 85.863L627 0.5Z" fill="#333333"/>-->
<!--<path fill-rule="evenodd" clip-rule="evenodd" d="M591 264.5H627L627.776 179.137L759 239.5V203.5L609 132.5L459 203.5V239.5L590.224 179.137L591 264.5Z" fill="#333333"/>-->
<!--&lt;!&ndash;<path fill-rule="evenodd" clip-rule="evenodd" d="M591 264.5H627L627.776 179.137L759 239.5V203.5L609 132.5L459 203.5V239.5L590.224 179.137L591 264.5Z" fill="#27AE60"/>&ndash;&gt;-->

<!--    <path d="M992 28V238H953V148H844.4V238H805.4V28H844.4V114.7H953V28H992Z" fill="#333333"/>-->
<!--</svg>-->

<svg width="982" height="280" viewBox="0 0 982 280" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M138 136.3C151.4 139.9 161.6 146.1 168.6 154.9C175.6 163.5 179.1 174.3 179.1 187.3C179.1 205.7 172.3 220 158.7 230.2C145.1 240.4 125.4 245.5 99.6 245.5H0V35.5H93.9C117.5 35.5 135.9 40.2 149.1 49.6C162.3 59 168.9 72.3 168.9 89.5C168.9 100.5 166.2 110 160.8 118C155.6 126 148 132.1 138 136.3ZM38.4 125.2H90.6C103.2 125.2 112.8 122.7 119.4 117.7C126 112.7 129.3 105.3 129.3 95.5C129.3 85.7 126 78.3 119.4 73.3C112.8 68.1 103.2 65.5 90.6 65.5H38.4V125.2ZM98.4 215.5C126 215.5 139.8 205.1 139.8 184.3C139.8 163.9 126 153.7 98.4 153.7H38.4V215.5H98.4Z" fill="#333333"/>
    <path d="M223.828 35.5H262.228V184.6L375.028 35.5H411.328V245.5H372.928V96.7L260.128 245.5H223.828V35.5Z" fill="#333333"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M622.301 0H584.301L584.525 93.363L453.301 33V69L603.301 140L753.301 71V35L622.077 93.363L622.301 0Z" fill="#333333"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M584.301 280H622.301L622.077 186.637L753.301 247V211L603.301 140L453.301 211V247L584.525 186.637L584.301 280Z" fill="#333333"/>
    <path d="M981.301 35.5V245.5H942.301V155.5H833.701V245.5H794.701V35.5H833.701V122.2H942.301V35.5H981.301Z" fill="#333333"/>
</svg>



<!--<svg width="130" height="45" viewBox="0 0 982 344" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--    <path d="M138.699 168.3C152.099 171.9 162.299 178.1 169.299 186.9C176.299 195.5 179.799 206.3 179.799 219.3C179.799 237.7 172.999 252 159.399 262.2C145.799 272.4 126.099 277.5 100.299 277.5H0.699219V67.5H94.5992C118.199 67.5 136.599 72.2 149.799 81.6C162.999 91 169.599 104.3 169.599 121.5C169.599 132.5 166.899 142 161.499 150C156.299 158 148.699 164.1 138.699 168.3ZM39.0992 157.2H91.2992C103.899 157.2 113.499 154.7 120.099 149.7C126.699 144.7 129.999 137.3 129.999 127.5C129.999 117.7 126.699 110.3 120.099 105.3C113.499 100.1 103.899 97.5 91.2992 97.5H39.0992V157.2ZM99.0992 247.5C126.699 247.5 140.499 237.1 140.499 216.3C140.499 195.9 126.699 185.7 99.0992 185.7H39.0992V247.5H99.0992Z" fill="#333333"/>-->
<!--    <path d="M224.527 67.5H262.927V216.6L375.727 67.5H412.027V277.5H373.627V128.7L260.827 277.5H224.527V67.5Z" fill="#333333"/>-->
<!--    <path fill-rule="evenodd" clip-rule="evenodd" d="M622 0H586L585.224 125.363L454 65V101L604 172L754 101V65L622.776 125.363L622 0Z" fill="#333333"/>-->
<!--    <path fill-rule="evenodd" clip-rule="evenodd" d="M586 344H622L622.776 218.637L754 279V243L604 172L454 243V279L585.224 218.637L586 344Z" fill="#333333"/>-->
<!--    <path d="M982 67.5V277.5H943V187.5H834.4V277.5H795.4V67.5H834.4V154.2H943V67.5H982Z" fill="#333333"/>-->
<!--</svg>-->

